<h2 class="tx4 margRTn"><%= ob.polyT('orderDetail.summaryTab.accepted.heading') %></h2>
<% if (ob.timestamp) { %>
<span class="clrT2 tx5b"><%= ob.moment(ob.timestamp).format('lll') %></span>
<% } %>

<div class="border clrBr padMd">
  <div class="flexVCent gutterH clrT">
    <div class="avatarCol disc clrBr2 clrSh1 flexNoShrink" style="<%= ob.getAvatarBgImage(ob.avatarHashes) %>"></span></div>
    <div class="flexExpand tx5">
      <div class="rowTn txB"><%= ob.polyT('orderDetail.summaryTab.accepted.orderAccepted') %></div>
      <div><%= ob.infoText %></div>
    </div>
    <div class="col">
      <div class="flexVCent gutterHLg">
        <% if (ob.showRefundButton) { %>
          <% if (ob.refundOrderInProgress) { %>
            <span class="posR">
              <% // including invisible refund link to properly space the spinner %>
              <a class="txU tx6 invisible"><%= ob.polyT('orderDetail.summaryTab.accepted.refundBtn') %></a>
              <%= ob.spinner({ className: 'spinnerSm center' }) %>
            </span>
          <% } else { %>
            <div class="posR">
              <a class="txU tx6 js-refundOrder <% if (ob.refundConfirmOn) print('disabled') %> <% if (ob.fulfillInProgress) print('disabled') %>"><%= ob.polyT('orderDetail.summaryTab.accepted.refundBtn') %></a>
              <% if (ob.refundConfirmOn) { %>
              <div class="js-refundConfirm confirmBox refundConfirm tx5 arrowBoxTop clrBr clrP clrT">
                <div class="tx3 txB rowSm"><%= ob.polyT('orderDetail.summaryTab.accepted.refundConfirm.title') %></div>
                <p>
                  <%=
                    ob.polyT('orderDetail.summaryTab.accepted.refundConfirm.body',
                      {
                        cur: ob.polyT(`cryptoCurrencies.${ob.paymentCoin}`, {
                          _: ob.paymentCoin,
                        }),
                      }
                    )
                  %>
                </p>
                <hr class="clrBr row" />
                <div class="flexHRight flexVCent gutterHLg buttonBar">
                  <a class="js-refundConfirmCancel"><%= ob.polyT('orderDetail.summaryTab.accepted.refundConfirm.btnCancel') %></a>
                  <a class="btn clrBAttGrad clrBrDec1 clrTOnEmph js-refundConfirmed"><%= ob.polyT('orderDetail.summaryTab.accepted.refundConfirm.btnConfirm') %></a>
                </div>
              </div>
              <% } %>
            </div>
          <%  } %>
        <%  } %>
        <% if (ob.showFulfillButton) { %>
          <%= ob.processingButton({
            className: `btn clrBAttGrad clrBrDec1 clrTOnEmph tx5b js-fulfillOrder ${ob.fulfillInProgress ? 'processing' : ''} ${ob.refundOrderInProgress ? 'disabled' : ''}`,
            btnText: ob.polyT('orderDetail.summaryTab.accepted.fulfillBtn')
          }) %>
        <%  } %>
      </div>
    </div>
  </div>
</div>
