<% if (ob.buyerOpened !== undefined) {
    const openedBy = ob.polyT(`orderDetail.summaryTab.disputeStarted.${ob.buyerOpened ? 'buyer' : 'seller'}`);
%>
  <h2 class="tx4 margRTn"><%= ob.polyT('orderDetail.summaryTab.disputeStarted.modHeading', { openedBy }) %></h2>
<% } else { %>
  <h2 class="tx4 margRTn"><%= ob.polyT('orderDetail.summaryTab.disputeStarted.heading') %></h2>
<% } %>
<% if (ob.timestamp) { %>
  <span class="clrT2 tx5b"><%= ob.moment(ob.timestamp).format('lll') %></span>
<% } %>

<div class="border clrBr padMd">
  <div class="flex gutterH clrT">
    <div class="statusIconCol"><span class="clrBr ion-alert-circled"></span></div>
    <div class="flexExpand tx5">
      <%
        let introLine = ob.disputerName ?
          ob.polyT('orderDetail.summaryTab.disputeStarted.partyIsDisputing', { name: ob.disputerName }) :
          ob.polyT('orderDetail.summaryTab.disputeStarted.genericIsDisputed');
      %>
      <div class="rowTn txB"><%= introLine %></div>
      <div class="rowMd" ><%= ob.claim || ob.polyT('orderDetail.summaryTab.disputeStarted.noReasonProvided') %></div>
      <% if (ob.buyerID) { %>
        <div class="rowSm">
          Buyer: <a href="ob://<%= ob.buyerID %>"><%= ob.buyerID %></a>
        </div>
      <% } %>
      <% if (ob.sellerID) { %>
        <div>
          Seller: <a href="ob://<%= ob.sellerID %>"><%= ob.sellerID %></a>
        </div>
      <% }%>
    </div>
  </div>
</div>
