<%
  let heading;

  if (ob.paymentNumber > 1) {
    heading = ob.polyT('orderDetail.summaryTab.payment.paymentHeading', {
      paymentNumber: ob.paymentNumber,
    });
  } else {
    heading = ob.polyT('orderDetail.summaryTab.payment.firstPaymentHeading');
  }

  const isRefund = ob.value < 0;
%>
<h2 class="tx4 margRTn"><%= heading %></h2>
<% if (ob.timestamp) { %>
<span class="clrT2 tx5b"><%= ob.moment(ob.timestamp).format('lll') %></span>
<% } %>
<div class="border clrBr padMd">
  <div class="flexVCent gutterH clrT">
    <%
      const value = ob.value < 0 ? ob.value * -1 : ob.value;
      let statusIconClass = 'clrTEm'; // full payment
      let statusIcon = 'ion-ios-checkmark-empty'; // full payment
      
      if (ob.amountShort > 0) {  // partial payment
        statusIconClass = 'clrTErr';
        statusIcon = 'ion-ios-close-empty';
      }

      if (isRefund) { // refund
        statusIconClass = 'clrT';
        statusIcon = 'ion-ios-rewind';
      }
    %>
    <div class="statusIconCol <%= statusIconClass %>"><span class="clrBr <%= statusIcon %>"></span></div>
    <div class="flexExpand tx5">
      <%
        let priceFrag = ob.convertAndFormatCurrency(value,
          'BTC', ob.userCurrency, { useBtcSymbol: false });

        if (ob.userCurrency !== 'BTC') {
          priceFrag = ob.polyT('fiatBtcPairing', {
            fiatAmount: priceFrag,
            btcAmount: ob.formatCurrency(value, 'BTC', { useBtcSymbol: false }),
          });
        }

        let infoLine = '';

        if ((!isRefund && ob.payee) || (isRefund && ob.buyerName)) {
          infoLine = ob.polyT(`orderDetail.summaryTab.payment.${ isRefund ? 'refundedTo' : 'amountTo' }`, {
            fiatBtcPairing: priceFrag,
            payeeName: isRefund ? ob.buyerName : ob.payee,
          });
        } else {
          // payee or, in the case of a refund, the buyeName have not been set yet. They'll be
          // set when the relevant profile is returned asynchronously
          if (isRefund) {
            infoLine = ob.polyT(`orderDetail.summaryTab.payment.refunded`, {
              fiatBtcPairing: priceFrag,
            });
          } else {
            infoLine = priceFrag;
          }
        }
      %>
      <div class="rowTn txB"><%= infoLine %></div>
      <div class="flex gutterH clrT2">
        <%
          let confirmationsText;
          
          if (ob.confirmations < 10000) {
            confirmationsText = ob.polyT('orderDetail.summaryTab.payment.confirmationsCount', {
              smart_count: ob.confirmations,
            });
          } else {
            confirmationsText = ob.polyT('orderDetail.summaryTab.payment.veryManyConfirmationsCount', {
              countText: ob.abbrNum(ob.confirmations),
            });          
          }
        %>
        <div class="" style="flex-shrink: 0"><%= confirmationsText %></div>
        <div class="" style="flex-shrink: 0;max-width: 80px">
          <div class="noOverflow"><a class="clrT2 js-txidLink" href="<%= ob.getBlockChainTxUrl(ob.txid, ob.isTestnet) %>"><%= ob.txid %></a></div>
        </div>
        <% 
          let subText = '';

          if (!isRefund) {
            subText = ob.polyT('orderDetail.summaryTab.payment.paidInFull');

            if (ob.amountShort > 0) {
              subText =
                ob.polyT('orderDetail.summaryTab.payment.underpaidAmountShort', {
                  amountShort: ob.upToFixed(ob.amountShort, 8),
                });
            }
          }
        %>
        <div>
          <div class="noOverflow <%= ob.amountShort > 0 ? 'clrTErr' : 'clrTEm' %>"><%= subText %></div>
        </div>
      </div>
    </div>
    <% if (ob.showAcceptRejectButtons || ob.showCancelButton) { %>
    <div class="col">
      <div class="flexVCent gutterHLg">
        <% if (ob.showAcceptRejectButtons) { %>
          <div class="flexVCent gutterHLg">
            <% if (ob.rejectInProgress) { %>
              <span class="posR">
                <% // including invisible cancel link to properly space the spinner %>
                <a class="txU tx6 invisible"><%= ob.polyT('orderDetail.summaryTab.payment.rejectBtn') %></a>
                <%= ob.spinner({ className: 'spinnerSm center' }) %>
              </span>
            <% } else { %>
              <a class="txU tx6 js-rejectOrder <% if (ob.acceptInProgress) print('disabled') %>"><%= ob.polyT('orderDetail.summaryTab.payment.rejectBtn') %></a>
            <%  } %>
            <%= ob.processingButton({
              className: `btn clrBAttGrad clrBrDec1 clrTOnEmph tx5b js-acceptOrder ${ob.acceptInProgress ? 'processing' : ''} ${ob.rejectInProgress ? 'disabled' : ''}`,
              btnText: ob.polyT('orderDetail.summaryTab.payment.acceptBtn')
            }) %>
          </div>
        <% } else if (ob.showCancelButton) { %>
          <% if (ob.cancelInProgress) { %>
            <span class="posR">
              <% // including invisible cancel link to properly space the spinner %>
              <a class="txU tx6 invisible"><%= ob.polyT('orderDetail.summaryTab.payment.cancelBtn') %></a>
              <%= ob.spinner({ className: 'spinnerSm center' }) %>
            </span>
          <% } else { %>
            <a class="txU tx6 js-cancelOrder"><%= ob.polyT('orderDetail.summaryTab.payment.cancelBtn') %></a>
          <%  } %>
        <% } %>
      </div>
    </div>
    <% } %>
  </div>
</div>