<%
  let heading;

  if (ob.paymentNumber > 1) {
    heading = ob.polyT('orderDetail.summaryTab.payment.paymentHeading', {
      paymentNumber: ob.paymentNumber,
    });
  } else {
    heading = ob.polyT('orderDetail.summaryTab.payment.firstPaymentHeading');
  }
%>
<h2 class="tx4 margRTn"><%= heading %></h2>
<% if (ob.timestamp) { %>
<span class="clrT2 tx5b"><%= ob.moment(ob.timestamp).format('lll') %></span>
<% } %>
<div class="border clrBr padMd">
  <div class="flex gutterH clrT">
    <div class="statusIconCol <%= ob.amountShort > 0 ? 'clrTErr' : 'clrTEm' %>"><span class="clrBr <%= ob.amountShort > 0 ? 'ion-ios-close-empty' : 'ion-ios-checkmark-empty' %>"></span></div>
    <div class="flexExpand tx5">
      <%
        let priceFrag = ob.convertAndFormatCurrency(ob.value,
          'BTC', ob.userCurrency, { useBtcSymbol: false });

        if (ob.userCurrency !== 'BTC') {
          priceFrag = ob.polyT('fiatBtcPairing', {
            fiatAmount: priceFrag,
            btcAmount: ob.formatCurrency(ob.value, 'BTC', { useBtcSymbol: false }),
          });
        }

        let infoLine = '';

        if (ob.payee) {
          infoLine = ob.polyT('orderDetail.summaryTab.payment.amountTo', {
            fiatBtcPairing: priceFrag,
            payeeName: ob.payee,
          });
        } else {
          infoLine = priceFrag;
        }
      %>
      <div class="rowTn txB"><%= infoLine %></div>
      <div class="flex gutterH clrT2">
        <%
          let confirmationsText;
          
          if (ob.confirmations < 10000) {
            confirmationsText = ob.polyT('orderDetail.summaryTab.payment.confirmationsCount', {
              smart_count: ob.confirmations,
            });
          } else {
            confirmationsText = ob.polyT('orderDetail.summaryTab.payment.veryManyConfirmationsCount', {
              countText: ob.abbrNum(ob.confirmations),
            });          
          }
        %>
        <div class="" style="flex-shrink: 0"><%= confirmationsText %></div>
        <div class="" style="flex-shrink: 0;max-width: 80px">
          <div class="noOverflow"><a class="clrT2 js-txidLink"><%= ob.txid %></a></div>
        </div>
        <% 
          let subText = ob.polyT('orderDetail.summaryTab.payment.paidInFull');

          if (ob.amountShort > 0) {
            subText =
              ob.polyT('orderDetail.summaryTab.payment.underpaidAmountShort', {
                amountShort: ob.upToFixed(ob.amountShort, 8),
              });
          }
        %>
        <div>
          <div class="noOverflow <%= ob.amountShort > 0 ? 'clrTErr' : 'clrTEm' %>"><%= subText %></div>
        </div>
      </div>
    </div>
    <% if (ob.showActionButtons) { %>
    <div class="col">
      <div class="flexVCent gutterHLg">
        <% if (ob.refundOrderInProgress) { %>
          <span class="posR">
            <% // including invisible cancel link to properly space the spinner %>
            <a class="txU tx6 invisible"><%= ob.polyT('orderDetail.summaryTab.payment.refundBtn') %></a>
            <%= ob.spinner({ className: 'spinnerSm center' }) %>
          </span>
        <% } else { %>
          <a class="txU tx6 js-refundOrder <% if (ob.refundConfirmOn) print('disabled') %>"><%= ob.polyT('orderDetail.summaryTab.payment.refundBtn') %></a>
        <%  } %>
        <%= ob.processingButton({
          className: `btn clrBAttGrad clrBrDec1 clrTOnEmph tx5b js-acceptOrder ${ob.acceptInProgress ? 'processing' : ''}`,
          btnText: ob.polyT('orderDetail.summaryTab.payment.acceptBtn')
        }) %>
      </div>
    </div>
    <% } %>
  </div>
</div>