<h2 class="tx4 margRTn"><%= ob.polyT('orderDetail.summaryTab.refund.heading') %></h2>
<% if (ob.timestamp) { %>
<span class="clrT2 tx5b"><%= ob.moment(ob.timestamp).format('lll') %></span>
<% } %>
<div class="border clrBr padMd">
  <div class="flexVCent gutterH clrT">
    <div class="statusIconCol clrT">
      <% if (!ob.isCrypto) { %>
        <span class="clrBr ion-ios-rewind"></span>
      <% } else { %>
        <%= ob.crypto.cryptoIcon({
          code: ob.paymentCoin,
          className: 'clrBr',
        }) %>      
      <% } %>
    </div>
    <div class="flexExpand tx5">
      <%
        const priceFrag = ob.currencyMod.pairedCurrency(
          ob.value,
          ob.currencyMod.getServerCurrency().code,
          ob.userCurrency
        );

        let infoLine = '';

        if (ob.buyerName) {
          infoLine = ob.polyT(`orderDetail.summaryTab.payment.refundedTo`, {
            currencyPairing: priceFrag,
            payeeName: ob.buyerName,
          });
        } else {
          infoLine = ob.polyT(`orderDetail.summaryTab.payment.refunded`, {
            currencyPairing: priceFrag,
          });        
        }
      %>
      <div class="rowTn txB"><%= infoLine %></div>
      <div class="flex gutterH">
        <%
          let confirmationsText;
          
          if (ob.confirmations < 10000) {
            confirmationsText = ob.polyT('orderDetail.summaryTab.payment.confirmationsCount', {
              smart_count: ob.confirmations,
            });
          } else {
            confirmationsText = ob.polyT('orderDetail.summaryTab.payment.veryManyConfirmationsCount', {
              countText: ob.abbrNum(ob.confirmations),
            });          
          }
        %>
        <div class="" style="flex-shrink: 0"><%= confirmationsText %></div>
        <div class="" style="flex-shrink: 0;max-width: 80px">
          <div class="noOverflow"><a class="clrT2 js-txidLink" href="<%= ob.currencyMod.getBlockChainTxUrl(ob.txid, ob.isTestnet) %>"><%= ob.txid %></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
