<div class="flexHCent padLg">
  <div class="posR">
    <div class="clrT2 hide copiedToClipboard js-copiedToClipboard"><%= ob.polyT('copiedToClipboard') %></div>
    <h1 class="inline tx4"><%= ob.polyT('orderDetail.summaryTab.orderNumber', { orderId: ob.id }) %></h1>
    <a class="js-copyOrderId clrTEm tx5"><%= ob.polyT('orderDetail.summaryTab.copyLink') %></a>
  </div>
</div>
</div>
<hr class="clrBr rowLg" />
<div class="js-statusProgressBarContainer statusProgressBarContainer"></div>
<hr class="clrBr rowLg" />

<div class="js-acceptedWrap rowLg hide"></div>
<div class="js-paymentsWrap"></div>
<% if (ob.shouldShowPayForOrderSection) { %>
<div class="js-payForOrderWrap rowLg">
  <h2 class="tx4 margRTn"><%= ob.polyT('orderDetail.summaryTab.payForOrder.heading') %></h2>
  <div class="border clrBr padMd">
    <p class="clrTErr">Section under construction</p>
    <p><span class="txB"><%= ob.paymentAddress %></span> needs to be funded with <span class="txB"><%= ob.upToFixed(ob.balanceRemaining, 8) %> BTC</span>.</p>
  </div>
</div>
<% } %>
<div class="js-orderDetailsWrap"></div>
