<div class="flexHCent padLg">
  <div class="posR">
    <div class="clrT2 hide copiedToClipboard js-copiedToClipboard"><%= ob.polyT('copiedToClipboard') %></div>
    <h1 class="inline tx4"><%= ob.polyT('orderDetail.summaryTab.orderNumber', { orderId: ob.id }) %></h1>
    <a class="js-copyOrderId clrTEm tx5"><%= ob.polyT('orderDetail.summaryTab.copyLink') %></a>
  </div>
</div>
</div>
<hr class="clrBr rowLg" />
<div class="js-statusProgressBarContainer statusProgressBarContainer"></div>
<div class="js-processingErrorContainer"></div>
<hr class="clrBr rowLg" />

<div class="js-timeoutInfoContainer"></div>
<div class="js-subSections"></div>
<% if (!ob.isCase) { %>
  <div class="js-paymentsWrap"></div>
<% } else { %>
  <div class="rowLg">
    <h2 class="tx4 margRTn"><%= ob.polyT('orderDetail.summaryTab.payment.firstPaymentHeading') %></h2>
    <div class="border clrBr padMd">
      <% if (ob.blockChainAddressUrl) { %>
        <a href="<%= ob.blockChainAddressUrl %>" class="clrTEm">
          <%= ob.polyT('orderDetail.summaryTab.payment.viewPaymentDetails', {
            icon: '<span class="ion-android-open clrT2"></span>',
          }) %>
        </a>
      <% } else { %>
        <span class="clrTErr"><%= ob.polyT('orderDetail.summaryTab.unableToShowPayments') %></span>
      <% } %>
    </div>
  </div>
<% } %>
<div class="js-payForOrderWrap payForOrderWrap rowLg border clrBr padMd"></div>
<div class="js-orderDetailsWrap"></div>
