<%
  const isCase = ob.ownPeerId !== ob.buyer && ob.ownPeerId !== ob.vendor;
%>

<div class="headerIconWrap discSm clrP clrBr">
  <i class="ion-android-alarm-clock"></i>
</div>
<div class="innerContent border clrBr padMd">
<%
  let timeRemaining;
  
  if (ob.blockRemaining) {
    timeRemaining = ob.blockRemaining * ob.blockTime; // seconds
  }

  let message;
  let messageClass = 'txCtr';
  let tip;
  let tipClass = '';

  if (!isCase) {
    tip = ob.ownPeerId === ob.buyer ?
      'Once the clock expires, the vendor can claim payment and finalize the order without support from the moderator.' :
      'Once the clock expires, as long as the order is fulfillled you can claim payment and finalize the order without support from the moderator.';  

    if (ob.invalidEscrowTimeout) {
      message = 'Invalid escrow timeout in contract. Unable to determine how much time is remaining to open a dispute.';
      messageClass = 'txCtr clrTErr';
    } else if (ob.isPaymentFinalized) {
      message = ob.ownPeerId === ob.buyer ?
        'The vendor has claimed the payment. Please complete the order below whenever you’re ready.' :
        'You have claimed the payment.'
      tipClass = 'hide';
    } else if (!ob.isFundingConfirmed) {
      message = `This order can be disputed for <b>${ob.blocksRemaining} blocks</b> or approximately <b>${ob.timeRemaining}</b>. The clock will start when the funding payment is confirmed.`;
    } else if (ob.blocksRemaining <= 0) {
      if (ob.ownPeerId === ob.buyer) {
        message = 'Time is up! A dispute can no longer be opened on this order.';
        tip = 'You and the vendor are given approximately 45 days to open a dispute. Since a dispute was not opened, the funds can now be claimed by the vendor.';
      } else {
        // it's the vendor
        if (ob.isPaymentClaimable) {
          message = 'Time is up! Claim payment for this order whenever you’re ready.';
          tip = 'You and the buyer are given approximately 45 days to open a dispute. Since a dispute was not opened, you can now claim the payment.';
        } else {
          message = 'Time is up! A dispute can no longer be opened on this order.';
          tipClass = 'hide';
        }
      }

      if (ob.ownPeerId === ob.buyer && ob.isCompletable) {
          message = 'Time is up! A dispute can no longer be opened on this order. Please complete the order below whenever you’re ready.';
      }
    } else {
      // time is left to open a dispute
      message = `This order can be disputed for <b>${ob.blocksRemaining} blocks</b> or approximately <b>${ob.timeRemaining}</b>.`;
    }
  }
%>

  <% if (ob.awaitingBlockHeight) { %>
  <div class="txCtr">Obtaining current block height...</div>
  <% } else if (!isCase) { %>
    <div class="flexCol flexCent gutterVSm">
      <p class="<%= messageClass %>"><%= message %> <span class="toolTip clrT <%= tipClass %>" data-tip="<%= tip %>"><i class="ion-help-circled"></i></span></p>
      <% if (ob.showDisputeBtn) { %>
        <button class="btn tx5b clrErr clrBrDec1 clrTOnEmph js-disputeOrder">Dispute Order</button>
      <% } %>
      <% if (ob.ownPeerId === ob.vendor && ob.isPaymentClaimable) { %>
        <%= ob.processingButton({
          className: `btn clrBAttGrad clrBrDec1 clrTOnEmph tx5b js-claimPayment ${ob.isClaimingPayment ? 'processing' : ''}`,
          btnText: 'Claim Payment'
        }) %>        
      <% } %>      
    </div>
  <% } %>
</div>