<div class="flexRow gutterH">
  <div class="col4">
    <label><%= ob.polyT('editListing.coupons.titleLabel') %></label>
  </div>
  <div class="col4">
    <label class="required"><%= ob.polyT('editListing.coupons.couponCodeLabel') %></label>      
  </div>
  <div class="col4">
    <label class="required"><%= ob.polyT('editListing.coupons.discountLabel') %></label>
  </div>
</div>
<div class="js-couponsWrap padKids padStack padTop0"></div>
<a class="clrBr clrP clrTEm js-addCoupon <% if (ob.coupons.length >= ob.maxCouponCount) print('hide') %>"><%= ob.polyT('editListing.coupons.btnAddCoupon') %></a>