<div class="flexRow gutterH">
  <div class="col6 simpleFlexCol">
    <label for="editListingCryptoContractType" class="required"><%= ob.polyT('editListing.type') %></label>
    <% if (ob.errors['metadata.contractType']) print(ob.formErrorTmpl({ errors: ob.errors['metadata.contractType'] })) %>
    <select id="editListingCryptoContractType" name="metadata.contractType" class="clrBr clrP clrSh2 marginTopAuto">
      <% ob.contractTypes.forEach((contractType) => { %>
      <option value="<%= contractType.code %>" <% if (contractType.code === ob.metadata.contractType) print('selected') %>><%= contractType.name %></option>
      <% }); %>
    </select>
    <div class="clrT2 txSm helper js-helperContractType"><%= ob.helperType %></div>
  </div>
  <div class="col6 simpleFlexCol">
    <label for="editListingCoinType" class="required"><%= ob.polyT('editListing.cryptoCurrencyType.coinType') %></label>
    <% if (ob.errors['meta.coinType']) print(ob.formErrorTmpl({ errors: ob.errors['meta.coinType'] })) %>
    <select id="editListingCoinType" name="meta.coinType" class="clrBr clrP clrSh2 marginTopAuto">
      <% ob.coinTypes.forEach(coin => { %>
      <option value="<%= coin.code %>" <% if (coin === ob.metadata.coinType) print('selected') %>><%= coin.name %></option>
      <% }) %>
    </select>
    <div class="clrT2 txSm helper"><%= ob.polyT('editListing.cryptoCurrencyType.helperCoinType') %></div>    
  </div>
</div>
<div class="flexRow gutterH">
  <div class="col6 simpleFlexCol">
    <label for="editListingCryptoQuantity" class="required"><%= ob.polyT('editListing.cryptoCurrencyType.quantity') %></label>
    <% if (ob.errors['item.quantity']) print(ob.formErrorTmpl({ errors: ob.errors['item.quantity'] })) %>
    <div class="posR">
      <input type="text" class="clrBr clrP clrSh2" name="item.quantity" id="editListingCryptoQuantity" value="<%= ob.item.quantity %>" placeholder="0">
      <% const selectedCoinType = ob.metadata.coinType || ob.coinTypes[0].code %>
      <div class="cryptoQuantityCoinType clrT2 tx5 js-quantityCoinType"><%= selectedCoinType %></div>
    </div>
    <div class="clrT2 txSm helper"><%= ob.polyT('editListing.cryptoCurrencyType.helperQuantity') %></div>
  </div>
  <div class="col6 simpleFlexCol">
    <label for="editListingCryptoMarketValue"><%= ob.polyT('editListing.cryptoCurrencyType.marketValueLabel') %></label>
    <div class="js-marketValueWrap clrT2 tx5"><%= ob.marketVal %></div>
    <div class="clrT2 txSm helper"><%= ob.polyT('editListing.cryptoCurrencyType.helperMarketValue') %></div>
  </div>
</div>