<div class="col3 simpleFlexCol">
  <% if (ob.errors['name']) print(ob.formErrorTmpl({ errors: ob.errors['name'] })) %>
  <input type="text" class="clrBr clrP clrSh2 marginTopAuto" name="name" value="<%= ob.name %>" placeholder="<%= ob.polyT('editListing.shippingOptions.services.namePlaceholder') %>">
</div>
<div class="col3 simpleFlexCol">
  <% if (ob.errors['estimatedDelivery']) print(ob.formErrorTmpl({ errors: ob.errors['estimatedDelivery'] })) %>
  <input type="text" class="clrBr clrP clrSh2 marginTopAuto" name="estimatedDelivery" value="<%= ob.estimatedDelivery %>" placeholder="<%= ob.polyT('editListing.shippingOptions.services.estimatedDeliveryPlaceholder') %>">
</div>
<div class="col3 simpleFlexCol">
  <% if (ob.errors['price']) print(ob.formErrorTmpl({ errors: ob.errors['price'] })) %>
  <input type="text" class="clrBr clrP clrSh2 marginTopAuto js-price" name="price" value="<%= ob.number.toStandardNotation(ob.price) %>" placeholder="<%= ob.polyT('editListing.shippingOptions.services.pricePlaceholder') %>" data-var-type="bignumber">
</div>
<div class="col3 simpleFlexCol">
  <% if (ob.errors['additionalItemPrice']) print(ob.formErrorTmpl({ errors: ob.errors['additionalItemPrice'] })) %>
  <div class="flexRow marginTopAuto">
    <input type="text" class="clrBr clrP clrSh2 marginTopAuto js-price" name="additionalItemPrice" value="<%= ob.number.toStandardNotation(ob.additionalItemPrice) %>" placeholder="<%= ob.polyT('editListing.shippingOptions.services.pricePlaceholder') %>" data-var-type="bignumber">
    <a class="iconBtn clrBr clrP margLSm toolTipNoWrap js-btnRemoveService btnRemoveService" data-tip="<%= ob.polyT('editListing.shippingOptions.toolTip.delete') %>">
      <i class="ion-trash-b"></i>
    </a>
  </div>
</div>
