<div class="col6">
  <input type="text" class="clrBr clrP" name="name" value="" placeholder="<%= ob.polyT('editListing.shippingOptions.services.namePlaceholder') %>">
</div>
<div class="col3">
  <input type="text" class="clrBr clrP" name="name" value="" placeholder="<%= ob.polyT('editListing.shippingOptions.services.estimatedDeliveryPlaceholder') %>">
</div>
<div class="col3">
<input type="text" class="clrBr clrP" name="name" value="" placeholder="<%= ob.polyT('editListing.shippingOptions.services.pricePlaceholder') %>">
</div>