<div class="flexRow gutterH">
  <div class="col6">
    <input type="text" class="clrBr clrP" name="name" value="" placeholder="<%= ob.polyT('editListing.shippingOptions.namePlaceholder') %>">
  </div>
  <div class="col3">
    <input type="text" class="clrBr clrP" name="name" value="" placeholder="<%= ob.polyT('editListing.shippingOptions.namePlaceholder') %>">
  </div>
  <div class="col3">
    <input type="text" class="clrBr clrP" name="name" value="" placeholder="<%= ob.polyT('editListing.shippingOptions.namePlaceholder') %>">
  </div>
</div>