<div class="contentBox padMd clrP clrBr clrSh3 tx3">
  <form class="padKids padStack">
    <div class="flexVCent">
      <h2 class="h4 clrT flexExpand <% if (ob.listPosition === 1) print('required') %>"><%= ob.polyT('editListing.shippingOptions.optionHeading', { listPosition: ob.listPosition }) %></h2
      >
      <a class="clrBr clrP margRSm btn js-removeShippingOption"><%= ob.polyT('editListing.shippingOptions.btnDeleteShippingOption') %></a>
    </div>
    <div class="flexRow padTop0">
      <div class="col12">
        <label for="<%= `shipDestinationsSelect_${ob.cid}` %>" class="required"><%= ob.polyT('editListing.shippingOptions.shippingDestinations') %></label>
        <% if (ob.errors['regions']) print(ob.formErrorTmpl({ errors: ob.errors['regions'] })) %>
        <div class="select2TagsWrap showDropdown">
          <select id="<%= `shipDestinationsSelect_${ob.cid}` %>" multiple name="regions" class="clrBr clrP select2Tags">
            <% ob.regions.forEach(region =>
                print(`<option value="${region.value}" selected="selected">${region.text}</option>`)) %>          
          </select>
          <div id="<%= `shipDestinationsPlaceholder_${ob.cid}` %>" class="placeholder tagsPlaceholder"><%= ob.polyT('editListing.shippingOptions.regionsPlaceholder') %></div>
          <div id="<%= `shipDestinationsDropdown_${ob.cid}` %>" class="tagsDropdown"></div>      
        </div>
      </div>
    </div>
    <div class="flexRow gutterH">
      <div class="col6 simpleFlexCol">
        <label for="<%= `shipOptionTitle_${ob.cid}` %>" class="required"><%= ob.polyT('editListing.shippingOptions.nameLabel') %></label>
        <% if (ob.errors['name']) print(ob.formErrorTmpl({ errors: ob.errors['name'] })) %>
        <input type="text" class="clrBr clrP marginTopAuto" name="name" id="<%= `shipOptionTitle_${ob.cid}` %>" value="<%= ob.name %>" placeholder="<%= ob.polyT('editListing.shippingOptions.namePlaceholder') %>">
      </div>
      <div class="col6 simpleFlexCol">
        <label for="<%= `shipOptionType_${ob.cid}` %>" class="required"><%= ob.polyT('editListing.shippingOptions.typeLabel') %></label>
        <% if (ob.errors['type']) print(ob.formErrorTmpl({ errors: ob.errors['type'] })) %>
        <select id="<%= `shipOptionType_${ob.cid}` %>" name="type" class="clrBr clrP marginTopAuto">
          <% ob.shippingTypes.forEach(shippingType => { %>
            <option value="<%= shippingType %>" <% if (ob.type === shippingType) print('selected="selected"') %>><%= ob.polyT(`editListing.shippingOptions.shippingTypes.${shippingType}`) %></option>
          <% }); %>
        </select>
      </div>
    </div>
    <div class="flexRow gutterH js-serviceSection <% if (ob.type === 'LOCAL_PICKUP') print('hide') %>">
      <div class="col6">
        <label class="required"><%= ob.polyT('editListing.shippingOptions.services.nameLabel') %></label>
      </div>
      <div class="col3">
        <label class="required"><%= ob.polyT('editListing.shippingOptions.services.estimatedDeliveryLabel') %></label>      
      </div>
      <div class="col3">
        <label class="required"><%= ob.polyT('editListing.shippingOptions.services.priceLabel') %></label>
      </div>
    </div>
    <div class="js-servicesWrap js-serviceSection servicesWrap padKids padStack padTop0 <% if (ob.type === 'LOCAL_PICKUP') print('hide') %>"></div>
    <div class="flexRow pad js-serviceSection <% if (ob.type === 'LOCAL_PICKUP') print('hide') %>">
        <a class="clrBr clrP clrTEm js-btnAddService"><%= ob.polyT('editListing.shippingOptions.services.addService') %></a>
      </div>
    </div>
  </form>
</div>