<% if (!ob.inventory.length) { %>
<div class="rowMd"><%= ob.polyT(`editListing.variantInventory.placeholderNeedMoreData`) %></div>
<% } else { %>
<div class="inventoryTableWrap">
  <table>
    <thead>
      <% ob.columns.forEach(column => { %>
      <td class="clrBr"><div class="stickyDiv"><%= column %></div></td>
      <% }) %>
      <td class="clrBr"><div class="stickyDiv">Surcharge</div></td>
      <td class="clrBr"><div class="stickyDiv">Total Price</div></td>
      <td class="clrBr"><div class="stickyDiv">Sku</div></td>
      <td class="clrBr quantityCol"><div class="stickyDiv">Quantity</div></td>
    </thead>
  </table>
</div>
<div class="clrT2 txSm padSm"><%= ob.polyT(`editListing.variantInventory.helperText`) %></div>
<% } %>