<% if (!ob.inventory.length) { %>
<div class="rowMd"><%= ob.polyT('editListing.variantInventory.placeholderNeedMoreData') %></div>
<% } else { %>
<div class="inventoryTableWrap rowSm">
  <table>
    <tr>
      <% ob.columns.forEach(column => { %>
      <th class="clrBr"><%= column %></th>
      <% }) %>
      <th class="clrBr"><%= ob.polyT('editListing.variantInventory.surcharge') %></th>
      <th class="clrBr"><%= ob.polyT('editListing.variantInventory.totalPrice') %></th>
      <th class="clrBr"><%= ob.polyT('editListing.variantInventory.sku') %></th>
      <th class="clrBr quantityCol"><%= ob.polyT('editListing.variantInventory.quantity') %></th>
    </tr>
  </table>
</div>
<div class="clrT2 txSm helper"><%= ob.polyT('editListing.variantInventory.helperText') %></div>
<% } %>
