<div class="col6 simpleFlexCol">
  <% if (ob.errors['name']) print(ob.formErrorTmpl({ errors: ob.errors['name'] })) %>
  <input type="text" class="clrBr clrP clrSh2 variantNameInput js-variantNameInput" name="name" value="<%= ob.name %>" placeholder="<%= ob.polyT('editListing.variants.titlePlaceholder') %>" maxlength="<%= ob.max.nameLength %>">
</div>
<div class="col6 simpleFlexCol">
  <%
    let variantsErrs = [];
    
    Object.keys(ob.errors).forEach(errKey => {
      if (errKey.startsWith('variants[') && errKey.endsWith('].name')) {
        console.log('boom boom');
        variantsErrs = variantsErrs.concat(ob.errors[errKey]);
      }
    });

    if (ob.errors['variants']) {
      variantsErrs = variantsErrs.concat(ob.errors['variants']);
    }

    if (variantsErrs.length) print(ob.formErrorTmpl({ errors: variantsErrs }));
  %>
  <div class="flexRow marginTopAuto">
    <div class="select2TagFlexWrap">
      <div class="select2TagsWrap">
        <!-- WARNING! Styling is dependant on the following elements being in this order. -->
        <select multiple name="variants" class="clrBr clrP select2Tags" style="width: 100%">
          <% ob.variants.forEach(variant =>
              print(`<option value="${variant.name}" selected>${variant.name}</option>`)) %>
        </select>
        <div class="placeholder tagsPlaceholder js-variantChoicesPlaceholder"><%= ob.polyT('editListing.variants.choicesPlaceholder') %></div>
        <!-- needed to properly hide the select2 dropdown which we don't want on a tagging field -->
        <div class="tagsDropdown js-dropDownContainer"></div>
      </div>
    </div>
    <a class="iconBtn ion-trash-b clrBr clrP margLSm js-btnRemoveVariant btnRemoveVariant"></a>
  </div>
</div>
