<% ob.choices.forEach(choice => { %>
  <td class="clrBr"><%= choice %></td>
  <% }) %>
  <td class="clrBr">
    <% if (ob.errors['surcharge']) print(ob.formErrorTmpl({ errors: ob.errors['surcharge'] })) %>
    <input type="text" class="clrBr clrP clrSh2 js-surcharge" name="surcharge" value="<%= ob.surcharge %>" data-var-type="number" placeholder="0.00" />
  </td>
  <td class="clrBr js-totalPrice"><%= ob.calculateTotalPrice(ob.surcharge) %></td>
  <td class="clrBr">
    <% if (ob.errors['productID']) print(ob.formErrorTmpl({ errors: ob.errors['productID'] })) %>
    <input type="text" class="clrBr clrP clrSh2" name="productID" value="<%= ob.productID %>" data-var-type="number" placeholder="<%= ob.polyT('editListing.variantInventory.placeholderSKU') %>" maxlength="<%= ob.max.productIdLength %>" />
  </td>    
  <td class="clrBr unconstrainedWidth quantityCol">
    <% if (ob.errors['quantity']) print(ob.formErrorTmpl({ errors: ob.errors['quantity'] })) %>
    <div class="flexVCent gutterH">
      <input type="text" class="clrBr clrP clrSh2 js-quantity" name="quantity" value="<%= ob.infiniteInventory ? ob.infiniteQuantityChar : ob.quantity %>" data-var-type="number" placeholder="0" />
      <input type="checkbox" id="<%= `${ob.cid}_inventoryItemUnlimtedCheckbox` %>" class="centerLabel js-infiniteInventoryCheckbox" name="infiniteInventory" <% if (ob.infiniteInventory) print('checked') %>>
      <label class="tx5b" for="<%= `${ob.cid}_inventoryItemUnlimtedCheckbox` %>"><%= ob.polyT('editListing.variantInventory.unlimitedQuantityLabel') %></label>
    </div>
  </td>
<% }); %}