<% if (!ob.inventory.length) { %>
<div class="rowMd"><%= ob.polyT(`editListing.variantInventory.placeholderNeedMoreData`) %></div>
<% } else { %>
<div class="inventoryTableWrap rowSm">
  <table>
    <tr>
      <% ob.columns.forEach(column => { %>
      <th class="clrBr"><%= column %></th>
      <% }) %>
      <th class="clrBr">Surcharge</th>
      <th class="clrBr">Total Price</th>
      <th class="clrBr">Sku</th>
      <th class="clrBr quantityCol">Quantity</th>
    </tr>
  </table>
</div>
<div class="clrT2 txSm helper"><%= ob.polyT(`editListing.variantInventory.helperText`) %></div>
<% } %>