<div class="gutterH">
  <a class="txU js-viewListing clrTEmph1 <% if (ob.createMode) print('hide') %>"><%= ob.polyT('editListing.viewListingInClientLink') %></a>
  <a class="txU clrTEmph1 <% if (ob.createMode) print('hide') %>" href="http://openbazaar.com/store/<%= ob.peerID %>/<%= ob.slug %>"><%= ob.polyT('editListing.viewListingOnWebLink') %><i class="ion-android-open padSm clrTEmph1"></i></a>
  <span class="toolTip toolTipChatOpen txCtr" data-tip="<%= ob.polyT('editListing.viewOnWebDisclaimerTooltip') %>"><i class="ion-information-circled clrT2"></i></span>
  </a>
</div>