.about { 
  .brandSmall {
    width: 50px;
    height: 50px;
  }

  .gemSmall {
    width: 16px;
    height: 16px;
    margin: 1px;
    background-size: contain;
  }

  .contributorList li {
    padding-left: $padLg;
    padding-bottom: $padSm;
  }

  .singleLine {
    white-space: pre;
  }

  .copyNotification {
    @extend .clrBr, .border;
    font-weight: bold;
    margin-left: $padMd;
    padding: 0 $padSm;
    border-radius: 3px;
    visibility: hidden;
  }

  .copyNotification.active {
    visibility: visible;
  }
}

