/* 
 * When this was added it had not effect. 
 * So the intended styles were moved to:
 * ../../components/_layout.scss temporarily
 * 
*/

/*

  .about { 
    .flexSpaceBetween {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .flex0 {
      flex: 0;
    }

    .txtRight {
      text-align: right;
    }

    .txtCent {
      text-align: center;
    } 
  }

*/
