.connectionManagement {
  .configurations {
    position: relative;

    .minHeight500 {
      min-height: 500px;
    }
    
    .statusBarOuterWrap {
      position: absolute;
      top: 0;
      left: 0;
      right: 115px;
      height: 58px;

      .statusBarMessage {
        height: 100%;

        .btnClose {
          position: absolute;
          right: 6px;
          top: -4px;

          span {
            font-size: 2.8rem;
          }
        }

        .connectFailed {
          border-left-width: 4px;
          border-left-style: solid;
        }

        .connectingMsg {
          padding-left: 25px;

          .spinner {
            transform: translateX(-25px);
          }
        }
      }
    }

    // this was the least ugly way I found to do this :(
    .borderFillIn {
      position: absolute;
      right: -115px;
      top: 58px;
      width: 150px;
    }

    .configuration {
      position: relative;
      height: 37px;

      .btnConnectCancel {
        width: 140px;
        padding-left: 0;
        padding-right: 0;
      }

      &.failedConnectAttempt {
        border-left-width: 4px;
        border-left-style: solid;
      }

      .errorBorder {
        width: 4px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
      }

      .deleteConfirm {
        display: block;
        position: absolute;
        right: 83px;
        width: 245px;
        transform: translateY(7px);
        z-index: 1;
      }
    }
  }
}