.listingDetail {
  .modalContent {
    width: 947px;
    padding: 0;

    & > .cornerTR {
      top: 0;
      right: 0;
    }

    .popInMessageHolder {
      top: 20px;
    }

    .modalCloseBtn {

    }

    .listingControls {
       margin-bottom: $padSm;
    }

    .listingContent {

      .mainImage {
        width: 500px;
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .buyBox {
         flex-grow: 1;
        border-width: 1px;
        border-style: solid;
        box-sizing: border-box;
        padding: $padLg $pad * 4;
      }

    }
  }
}
