.loadingModal {
  .modalContent {
    width: 100%;
    height: 100%;
    padding: 0;
    max-height: none;
    left: 50%; //don't adjust for the chat sidebar
  }

  &.startupLoadingModal {
    // Positioning this in a way in which the spinner will remain centered and the .infoContent
    // will be displayed below it. The reason for that is because the standard loadingModal is
    // shown right after the startupLoadingModal and this will ensure the spinners of each modal
    // line up so there is no jump going from one modal to the next.
    .infoContent {
      @include center();
      margin-top: $spinnerLg / 2 + 15;
      color: black !important;

      .loadingMessage {
        &.fadeInAnim {
          animation: fadeInAnim 1s ease;
        }
      }
    }
  }
}

@keyframes fadeInAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
