.settings {

  .modalContent {
    width: 906px;
    min-height: 640px;
    padding: 0;

    .tabColumn {
      min-height: 640px;
    }

    .settingsControls {
      height: 80px;
      padding: $pad * 1.5;
      border-top-style: solid;
      border-top-width: 1px;
      align-items: center;
      justify-content: flex-end;

      .saveStatus {
        flex-grow: 1;
        font-size: $tx5;
      }

      & > .btn {
        margin-right: $padSm;
        font-size: $tx4;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .settingsAddresses {
    .addresses {
      margin-bottom: $marg;

      .addressBox {
        padding: $padMd;
        padding-bottom: $padMd + 35 + $padMd; // give bottom aligned button space
        line-height: 1.3;
        width: 50%;
        box-sizing: border-box;
        position: relative;
        flex: 0 0 auto;

        .btn {
          position: absolute;
          bottom: $padMd;
          left: $padMd;
        }

        .notes {
          margin-top: $pad;
          margin-bottom: 0;
        }
      }
    }

    &.processing {
      .settingsTabFormWrapper.mouseMovedDuringSave .settingsTabFormWrapperInner {
        @include processingOverlay;

        &::after {
          background-color: rgba(0,0,0,0.3);
        }
      }
    }
  }
}
