.settings {

  .modalContent {
    width: 906px;
    min-height: 640px;
    padding: 0;

    .tabColumn {
      width: 194px;
      border-right-width: 1px;
      border-right-style: solid;

      .tab {
        padding: $pad/2 $pad/2 $pad/2 $pad;

        &.active {
          // use the clrBr class for the border color
          border-right: none;
          border-top: none;
          border-bottom: none;
          border-left: solid 1px;
        }
      }
    }

    .settingsTabContent {
      height: 100%;
      & > div { //always apply to the view div
        height: 100%;
      }
    }

    .settingsTabFormWrapper {
      height: calc(100% - #{$bar} - 80px);

      .settingsTabFormWrapperInner {
        position: absolute;
        width: 100%;
        top: 0;
        right: 0;
        left: 0;
        box-sizing: border-box;
      }
    }

    .settingsControls {
      position: absolute;
      bottom: 0;
      height: 80px;
      padding: $pad * 1.5;
      border-top-style: solid;
      border-top-width: 1px;
      align-items: center;
      justify-content: flex-end;

      .saveStatus {
        flex-grow: 1;
        font-size: $tx5;
      }

      & > .btn {
        margin-right: $padSm;
        font-size: $tx4;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .settingsAddresses {
    .addresses {
      margin-bottom: $marg;

      .addressBox {
        padding: $padMd;
        padding-bottom: $padMd + 35 + $padMd; // give bottom aligned button space
        line-height: 1.3;
        width: 50%;
        box-sizing: border-box;
        position: relative;
        flex: 0 0 auto;

        .btn {
          position: absolute;
          bottom: $padMd;
          left: $padMd;
        }

        .notes {
          margin-top: $pad;
          margin-bottom: 0;
        }
      }
    }

    &.processing {
      .settingsTabFormWrapper.mouseMovedDuringSave .settingsTabFormWrapperInner {
        @include processingOverlay;

        &::after {
          background-color: rgba(0,0,0,0.3);
        }
      }
    }
  }
}
