.settings {

  .modalContent {
    .tabContent {
      .tabFormWrapper {
        .settingsTabFormWrapperInner {
          width: 100%;
          top: 0;
          right: 0;
          left: 0;
          box-sizing: border-box;
        }
      }
    }
  }

  .avatarPreview,
  .headerPreview {
    width: 120px;
    height: 120px;
   // box-sizing: border-box;

    .cropit-preview-image-container {
      border-radius: inherit;
      overflow: hidden;
      z-index: 1; // fixes bug in Chrome where the image inside would not be hidden by border radius.
    }
  }

  .headerPreview {
    width: 474px;
    height: 136px;
  }

  .zoomWarning {
    display: flex;
    position: absolute;
    top: 0;
    font-size: 1rem;
    text-align: center;
    align-items: center;
  }

  .cropit-image-zoom-input:disabled {
    opacity: 0; // make unseen but keep it in place for layout
  }

  .settingsAddresses {
    .addresses {
      margin-bottom: $marg;

      .addressBox {
        padding: $padMd;
        padding-bottom: $padMd + 35 + $padMd; // give bottom aligned button space
        line-height: 1.3;
        width: 50%;
        box-sizing: border-box;
        position: relative;
        flex: 0 0 auto;

        .btn {
          position: absolute;
          bottom: $padMd;
          left: $padMd;
        }

        .notes {
          margin-top: $pad;
          margin-bottom: 0;
        }
      }
    }

    &.processing {
      @include processingOverlay;

      &::after {
        background: none;
        pointer-events: none;
      }

      & .settingsTabFormWrapper.mouseMovedDuringSave .settingsTabFormWrapperInner {
        @include processingOverlay;

        &::after {
          background-color: rgba(0, 0, 0, 0.3);
          content: '';
        }
      }
    }
  }
}
