.wallet {
  .walletIconWrap {
    display: inline-flex;
    width: auto;

    .iconWallet {
      width: 18px;
    }
  }

  .btcTickerContainer {
    margin-left: auto;
    margin-right: 40px;
    
    .btcTicker {
      height: 100%;
    }
  }

  .statsWrap {
    border-right-width: 1px;
    border-right-style: solid;
    padding-right: $padMd;

    .buttonWrap {
      .btn {
        width: 100%;
      }
    }
  }

  .receiveMoney, .btnSendMoney {
    display: none;
  }

  &.receiveModeOn {
    .receiveMoney {
      display: block;
    }

    .btnSendMoney {
      display: inline-flex;
    }

    .sendMoney, .btnReceiveMoney {
      display: none;
    }
  }

  .sendReceiveContainer {
    // So there's no jump when toggling between send / receive mode. If the larger
    // size changes, this may need to be updated.
    height: 300px;
    padding-top: 25px;

    .receiveMoney {
      // width: 100%;
      text-align: center;
    }
  }
}