.wallet {
  .walletIconWrap {
    display: inline-flex;
    width: auto;

    .iconWallet {
      width: 18px;
    }
  }

  .coinNav {
    .coinNavItem {
      cursor: pointer;

      .coinName {
        // in case the name and/or balance are really long, don't let
        // the name column get too small
        min-width: 80px;
        word-wrap: break-word;
      }

      .balanceText {
        word-wrap: break-word;
        max-width: 100px;
      }

      &.active {
        cursor: default;
        font-weight: bold;
        outline: {
          style: solid;
          width: 1px;
        }

        .activeBalanceIcon {
          font-size: 22px;
          line-height: 1;
          position: absolute;
        }        
      }
    }
  }
}

.spendConfirmBox {
  .sendConfirm {
    position: relative;

    .spinner {
      position: relative;
      top: -10px;
    }
  }

  &.centeredBelow {
    // The container that you want the spendConfirmBox to be
    // centered below must be non-statically positioned.
    .sendConfirm {
      margin-top: 10px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
