.wallet {
  .walletIconWrap {
    display: inline-flex;
    width: auto;

    .iconWallet {
      width: 18px;
    }
  }

  .btcTickerContainer {
    margin-left: auto;
    margin-right: 40px;

    .btcTicker {
      height: 100%;
    }
  }

  .statsWrap {
    border-right-width: 1px;
    border-right-style: solid;
    padding-right: $padMd;

    .buttonWrap {
      .btn {
        width: 100%;
      }
    }

    .transactionCount {
      .spinner {
        width: 30px;
        margin-left: 10px;
      }
    }
  }

  .receiveMoney, .btnSendMoney {
    display: none;
  }

  &.receiveModeOn {
    .receiveMoney {
      display: block;
    }

    .btnSendMoney {
      display: inline-flex;
    }

    .sendMoney, .btnReceiveMoney {
      display: none;
    }
  }

  .sendReceiveContainer {
    // So there's no jump when toggling between send / receive mode. If the larger
    // size changes, this may need to be updated.
    height: 363px;
    padding-top: 25px;

    .receiveMoney {
      text-align: center;
      position: relative;

      .codeAddressWrap {
        height: 273px;

        .receiveAddressWrap {
          display: inline-block;
          position: relative;

          .copiedText {
            margin-bottom: 5px;
            position: absolute;
            top: -20px;
            right: 0;
          }

          .receiveAddressLink {
            border-width: 1px;
            border-style: solid;
            padding: 5px 10px;
            display: inline-block;
            min-width: 360px;
          }
        }

        .spinnerWrap {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;

          .spinner {
            width: 100px;
            @include center();
          }
        }
      }

      .cancelReceiveBtn {
        position: absolute;
        right: 0;
        top: -25px;
      }

      .buttonsWrap {
        position: relative;
        left: calc($padMd / 2);
      }
    }

    .sendMoney {
      position: relative;

      .sendConfirm {
        right: -28px;
        transform: translateY(-7px);
      }
    }
  }

  .walletTransactions {
    padding: $padMd;
    min-height: 335px;
    position: relative;

    .transaction {
      position: relative;
      font-size: $tx5;

      .btn {
        font-size: $tx6;
      }

      .statusIconCol {
        width: 15px;
        text-align: right;
        flex-shrink: 0;

        .ion-ios-checkmark-empty {
          font-size: $tx1;
          position: relative;
          top: -7px;
          height: 0px;
        }

        .ion-android-time {
          position: relative;
          top: -2px;
        }

        .ion-alert-circled {
          position: relative;
          top: -3px;
        }

        .ion-ios-close-empty {
          position: relative;
          top: -7px;
        }
      }

      .toAddress {
        font-weight: bold;
        display: inline-block;
        vertical-align: bottom;
        max-width: 100px;
      }

      &.confirmedTransaction {
        .statusIconCol {
          height: 0; // making the .ion-ios-checkmark-empty with a sufficiently
                     // large font size gives it too much vertical padding
        }
      }

      .btn .ion-android-open {
        padding-left: 5px;
      }

      .copiedIndicator {
        position: absolute;
        bottom: 3px;
        left: 5px;
      }
    }

    .fetchErrorWrap {
      text-align: center;
    }

    .popInMessageHolder {
      &.notFixed {
        position: absolute;
        top: -65px;
      }
    }

    .retryConfirm {
      right: 0;
      top: 58px;
      min-height: 146px;

      .bodyText {
        margin-bottom: 3px;
      }

      &::before {
        left: 79%;
      }

      .buttonBar {
        height: auto;
      }
    }
  }
}

.spendConfirmBox {
  .spinner {
    position: relative;
    top: -10px;
  }
}