.wallet {
  .walletIconWrap {
    display: inline-flex;
    width: auto;

    .iconWallet {
      width: 18px;
    }
  }

  .coinNav {
    .coinNavItem {
      cursor: pointer;

      .coinName {
        // in case the name and/or balance are really long, don't let
        // the name column get too small
        min-width: 80px;
        word-wrap: break-word;
      }

      .balanceText {
        word-wrap: break-word;
        max-width: 100px;
      }

      &.active {
        cursor: default;
        font-weight: bold;
        outline: {
          style: solid;
          width: 1px;
        }

        .activeBalanceIcon {
          font-size: 22px;
          line-height: 1;
          position: absolute;
        }        
      }
    }
  }

  .coinStats {
    height: 102px;
    padding: 20px;

    .coinIcon {
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      transform: translateY(calc(-50% + 1px));
      text-align: center;

      .cryptoIcon  {
        width: 34px;
        height: 34px;
      }
    }

    .colWrap {
      height: 100%;

      .statCol {
        padding-top: 25px;

        &.displayCurCol {
          height: 100%;
          padding-top: 0;

          .displayCurColContent {
            padding-top: 25px;
            border-right-width: 1px;
            border-right-style: solid;
            border-left-width: 1px;
            border-left-style: solid;
            justify-content: flex-start;
            height: 100%;
          }        
        }
      }
    }
  }

  .sendReceiveContainer {
    // So there's no jump when toggling between send / receive mode. If the larger
    // size changes, this may need to be updated.
    height: 363px;
    // padding-top: 25px;

    .receiveMoney {
      text-align: center;
      position: relative;
      // height: 273px;
      // padding-left: $padMd;

      .receiveAddressWrap {
        // display: inline-block;
        // position: relative;
        // width: 100%;

        .copiedText {
          // margin-bottom: 5px;
          // position: absolute;
          // top: -20px;
          // right: 0;
        }

        // .receiveAddressLink {
        //   border-width: 1px;
        //   border-style: solid;
        //   padding: 5px 10px;
        //   display: inline-block;
        //   min-width: 360px;
        //   max-width: calc(100% - 30px);
        // }

        &.copyingAddress {
          
        }
      }

      .spinnerWrap {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        .spinner {
          width: 100px;
          @include center();
        }
      }
    }
  }
}

.spendConfirmBox {
  .sendConfirm {
    position: relative;

    .spinner {
      position: relative;
      top: -10px;
    }
  }

  &.centeredBelow {
    // The container that you want the spendConfirmBox to be
    // centered below must be non-statically positioned.
    .sendConfirm {
      margin-top: 10px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
