{
  "extends": [
    "airbnb",
    "plugin:import/electron"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "new-cap": [
      "error",
      {
        "capIsNewExceptions": ["$.Deferred"]
      }
    ]
  }  
}