<div class="topControls flex">
  <div class="btnStrip clrSh3">
    <% if (ob.returnText) { %>
    <a class="btn clrP clrBr clrT js-return">
      <span class="ion-chevron-left margRSm"></span>
      <%= ob.returnText %>
    </a>
    <% } %>
  </div>
</div>

<div class="flex gutterH">

  <div class="flexExpand posR">
    <div class="gutterVMd2 js-formSectionsContainer">
      <section class="js-scrollToSection contentBox padMd clrP clrBr clrSh3">
        <div class="flexHCent">
          <h2 class="h3 clrT js-listingHeading"><% print(ob.createMode ? ob.polyT('createPost.createPostLabel') : ob.polyT('createPost.editPostLabel')) %></h2>
          <a class="btn clrP clrBAttGrad clrBrDec1 clrTOnEmph modalContentCornerBtn js-save"><%= ob.polyT('settings.btnSave') %></a>
        </div>
        <hr class="clrBr" />

      </section>

      <section class="js-scrollToSection contentBox padMd clrP clrBr clrSh3 tx3">
        <% if (ob.errors['title']) print(ob.formErrorTmpl({ errors: ob.errors['title'] })) %>
        <textarea rows="8" name="postBody.title" class="clrBr clrP clrSh2" id="createPostTitle" placeholder="<%= ob.polyT('createPost.placeholderTitle') %>"><%= ob.title %></textarea>
      </section>

      <section class="js-scrollToSection photoUploadSection contentBox padMd clrP clrBr clrSh3 tx3">
        <div class="overflowAuto">
          <h2 class="h4 clrT required"><%= ob.polyT('editListing.sectionNames.photos') %></h2>
          <div class="js-photoUploadingLabel floR <% if (!ob.photoUploadInprogress) print('hide') %>"><%= ob.polyT('editListing.uploading') %> <a class="js-cancelPhotoUploads"><%= ob.polyT('editListing.btnCancelUpload') %></a></div>
          <hr class="clrBr rowMd" />
        </div>
        <% if (ob.errors['postBody.images']) print(ob.formErrorTmpl({ errors: ob.errors['postBody.images'] })) %>
        <input type="file" id="inputPhotoUpload" accept="image/*" class="hide" multiple>
        <ul class="unstyled uploadItems clrBr rowSm js-photoUploadItems">
          <li class="addElement tile js-addPhotoWrap">
            <span class="imagesIcon ion-images clrT4"></span>
            <button class="btn clrP clrBr clrT tx6 js-addPhoto"><%= ob.polyT('editListing.btnAddPhoto') %></button>
          </li>
          <% ob.postBody.images.forEach(image => {
              print(ob.uploadPhotoT(Object.assign(image, { closeIconClass: 'js-removeImage' })))
            });
          %>
        </ul>
        <div class="clrT2 txSm helper"><%= ob.polyT('editListing.helperPhotos', { maxPhotos: ob.max.photos }) %></div>
      </section>

      <div class="contentBox padMd clrP clrBr clrSh3">
        <div class="flexHRight flexVCent gutterH">

          <a class="btn clrP clrBAttGrad clrBrDec1 clrTOnEmph js-save"><%= ob.polyT('settings.btnSave') %></a>
        </div>
      </div>
    </div>
  </div>
</div>
