<%
  const requiredTotal = ob.amount + (ob.fee || 0);


 // if the user has more funds than the required total, the fundGap is negative
 const fundGap = requiredTotal - ob.confirmedAmount;



  console.log('tru moo');
  window.tru = ob;
  window.moo = fundGap;
%>

<div class="flexColRows gutterVSm padLg">
  <h3>
    <% if (fundGap <= 0) { %>
      <%= ob.polyT('purchase.pendingSection.confirmWallet.title') %>
    <% } else { %>
      <%= ob.polyT('purchase.pendingSection.confirmWallet.insufficientFundsTitle') %>
    <% } %>
  </h3>
  <p class="tx5">
    <%
      let amountText = ob.formatCurrency(ob.amount, 'BTC',
        { useBtcSymbol: false });

      if (ob.displayCurrency !== 'BTC') {
        amountText = ob.polyT('fiatBtcPairing', {
          fiatAmount: ob.convertAndFormatCurrency(ob.amount, 'BTC',
            ob.displayCurrency),
          btcAmount: amountText,
        });
      }      

    if (fundGap <= 0) { %>
      <%= ob.polyT(`purchase.pendingSection.confirmWallet.payMsg`, { amount: amountText }) %>
    <% } else { %>
      <%= ob.polyT('purchase.pendingSection.confirmWallet.insufficientFundsMsg1',
        { funds: ob.formatCurrency(ob.confirmedAmount, 'BTC') }) %>
    </p>
    <p class="txSm">
      <%= ob.polyT('purchase.pendingSection.confirmWallet.insufficientFundsMsg2',
        { fundGap: ob.formatCurrency(fundGap, 'BTC') }) %>
    <% } %>
  </p>
  <% if (fundGap > 0) { %>
    <p class="txSm clrT2">
      <i>
      <%
        if (typeof ob.fee === 'number') {
          print(ob.polyT('purchase.pendingSection.confirmWallet.insufficientFundsNote', { amount: ob.formatCurrency(ob.amount,  'BTC'), fee: ob.formatCurrency(ob.fee, 'BTC') }));
        } else {
          print(ob.polyT('purchase.pendingSection.confirmWallet.insufficientFundsNoteFeeUnavailable', { amount: ob.formatCurrency(ob.amount,  'BTC') }));
        }
      %>
      </i>
    </p>
  <% } %>
</div>
<hr class="unleaded clrBr" />
<div class="flexHRight flexVCent gutterHLg pad tx5">
  <a class="js-confirmWalletCancel">
    <%= ob.polyT('purchase.pendingSection.confirmWallet.cancel') %>
  </a>
  <% if (requiredTotal && fundGap <= 0) { %>
    <%= ob.processingButton({
    className: 'btn clrBAttGrad clrBrDec1 clrTOnEmph js-confirmWalletConfirm',
    btnText: ob.polyT('purchase.pendingSection.confirmWallet.confirm')
    }) %>
  <% } %>
</div>
