<% if (ob.codeResult && ob.codeResult.type && ob.codeResult.type !== 'valid') { %>
  <div class="txSm rowTn flex">
    <span class="clrTErr">
      <% if (ob.codeResult.code) { %>
        <%= ob.polyT(`purchase.codeErrors.${ob.codeResult.type}`, { code: ob.codeResult.code }) %>
      <% } else { %>
        <%= ob.polyT('purchase.codeErrors.blank') %>
      <% } %>
    </span>
  </div>
<% } %>
<% ob.couponCodes.forEach(code => { %>
  <div class="txSm rowTn flexVCent gutterH">
    <span class="clrTEm"><%= ob.polyT('purchase.code', { code }) %></span>
    <button class="btnTxtOnly js-remove" data-code="<%= code %>">
      <%= ob.polyT('purchase.removeCode') %>
    </button>
  </div>
<% }); %>
