<% // duplicate the moderator card html to make sure everything aligns %>

<div class="moderatorCard clrBrInvis clickable js-directPayment">
  <div class="moderatorCardInner">
    <div class="flexRow gutterH moderatorCardContent">
      <div class="flexNoShrink">
        <div class="btnRadio">
          <div tabindex="0" class="fauxRadioBtn <% if (ob.active) print('active') %>"></div>
        </div>
      </div>
      <div class="moderatorCardMiddle">
        <div class="flex rowSm">
          <b><%= ob.polyT('purchase.directPayment') %></b>
        </div>
        <div class="clrT2"><%= ob.polyT('purchase.directPaymentDetails') %></div>
      </div>
    </div>
  </div>
</div>
