<hr class="clrBr">
<b><%= ob.polyT('purchase.receipt.summary') %></b>
<%
  const viewingCurrency = ob.currencyMod.getCurrencyValidity(ob.displayCurrency) === 'VALID' ?
    ob.displayCurrency : ob.listingCurrency;

  ob.prices.forEach((priceObj, i) => {
    // convert the prices here, to prevent rounding errors in the display
    let basePrice;

    if (!ob.isCrypto) {
      basePrice = ob.currencyMod.convertCurrency(priceObj.price, ob.listingCurrency, viewingCurrency);
    } else {
      basePrice = ob.currencyMod.convertCurrency(priceObj.price, ob.listingCurrency, viewingCurrency);
    }
    
    const shippingPrice = ob.currencyMod.convertCurrency(priceObj.sPrice, ob.listingCurrency, viewingCurrency);
    const additionalShippingPrice = ob.currencyMod.convertCurrency(priceObj.aPrice, ob.listingCurrency, viewingCurrency);
    const surcharge = ob.currencyMod.convertCurrency(priceObj.vPrice, ob.listingCurrency, viewingCurrency);
    let quantity = Number.isInteger(priceObj.quantity) && priceObj.quantity > 0 ? priceObj.quantity : 1;
    
    if (ob.isCrypto) {
      quantity = typeof priceObj.quantity === 'number' && priceObj.quantity > 0 ?
        priceObj.quantity :
        0;
    }

    let itemTotal = basePrice + surcharge;
    const preCouponPrice = itemTotal;
    ob.coupons.forEach((coupon) => {
      if (coupon.percentDiscount) {
        itemTotal -= itemTotal * 0.01 * coupon.percentDiscount;
      } else if (coupon.priceDiscount) {
        itemTotal -= ob.currencyMod.convertCurrency(coupon.priceDiscount, ob.listingCurrency, viewingCurrency);
      }
    });
    const subTotal = itemTotal * quantity;
    const shippingTotal = shippingPrice + additionalShippingPrice * (quantity -1);
%>
  <div class="flexRow">
    <span class="flexExpand">
      <%= ob.polyT('purchase.receipt.listing') %>
    </span>
    <b class="flexNoShrink">
      <%= ob.currencyMod.formatCurrency(preCouponPrice, viewingCurrency) %>
    </b>
  </div>
  <% ob.coupons.forEach((coupon) => { %>
    <div class="flexRow">
      <span class="flexExpand">
        <%= ob.polyT('purchase.receipt.coupon') %>
      </span>
      <b class="flexNoShrink">
        <% if (coupon.percentDiscount) {
             print(`-${coupon.percentDiscount}%`);
        } else if (coupon.priceDiscount) {
          print(`-${ob.currencyMod.convertAndFormatCurrency(Number(coupon.priceDiscount), ob.listingCurrency, viewingCurrency)}`);
        } %>
      </b>
    </div>
  <% }); %>

  <% if (ob.listing.shippingOptions && ob.listing.shippingOptions.length && shippingPrice !== additionalShippingPrice && quantity > 1) { %>
  <div class="flexRow">
        <span class="flexExpand">
          <%= ob.polyT('purchase.receipt.shipping') %>
        </span>
  </div>
  <div class="flexRow subShipping">
          <span class="flexExpand">
            <%= ob.polyT('purchase.receipt.firstItem') %>
          </span>
    <b class="flexNoShrink">
      <%= ob.currencyMod.formatCurrency(shippingPrice, viewingCurrency) %>
    </b>
  </div>
  <div class="flexRow subShipping">
          <span class="flexExpand">
            <%= ob.polyT('purchase.receipt.additionalItems') %>
          </span>
    <b class="flexNoShrink">
      <%= ob.currencyMod.formatCurrency(additionalShippingPrice, viewingCurrency) %>
    </b>
  </div>
  <% } else if (ob.listing.shippingOptions && ob.listing.shippingOptions.length) { %>
    <div class="flexRow">
          <span class="flexExpand">
            <%= ob.polyT('purchase.receipt.shipping') %>
          </span>
      <b class="flexNoShrink">
        <%= ob.currencyMod.formatCurrency(shippingPrice, viewingCurrency) %>
      </b>
    </div>
  <% } %>
  <hr class="clrBr">
  <% if (quantity) { %>
    <div class="flexRow">
      <span class="flexExpand">
        <%= ob.polyT('purchase.receipt.subtotal', { quantity }) %>
      </span>
      <b class="flexNoShrink">
        <%= ob.currencyMod.formatCurrency(subTotal, viewingCurrency) %>
      </b>
    </div>
    <% if (ob.listing.shippingOptions && ob.listing.shippingOptions.length && shippingTotal) { %>
      <div class="flexRow">
            <span class="flexExpand">
              <%= ob.polyT('purchase.receipt.shippingTotal') %>
            </span>
        <b class="flexNoShrink">
          <%= ob.currencyMod.formatCurrency(shippingTotal, viewingCurrency) %>
        </b>
      </div>
    <% } %>
  <% } %>
  <div class="flexRow">
    <span class="flexExpand">
      <%= ob.polyT('purchase.receipt.total') %>
    </span>
    <b class="flexNoShrink">
      <%= ob.currencyMod.formatCurrency(subTotal + shippingTotal, viewingCurrency) %>
    </b>
  </div>
<% }); %>
