<hr class="clrBr">
<b><%= ob.polyT('purchase.receipt.summary') %></b>
<% let total = 0; %>
<% ob.items.forEach((item, i) => {
   total += (ob.prices[i].price * item.quantity) + ob.prices[i].sPrice; %>
  <div class="flex">
    <span class="flexExpand">
      <%= ob.polyT('purchase.receipt.listing', { quantity: item.quantity }) %>
    </span>
    <b>
      <%= ob.convertAndFormatCurrency(ob.listing.item.price * item.quantity, ob.listing.metadata.pricingCurrency, ob.displayCurrency) %>
    </b>
  </div>
  <div class="flex">
      <span class="flexExpand">
        <%= ob.polyT('purchase.receipt.shipping') %>
      </span>
    <b>
      <%= ob.convertAndFormatCurrency(ob.prices[i].sPrice, ob.listing.metadata.pricingCurrency, ob.displayCurrency) %>
    </b>
  </div>
<% }); %>
<hr class="clrBr">
<div class="flex">
      <span class="flexExpand">
        <%= ob.polyT('purchase.receipt.total') %>
      </span>
  <b>
    <%= ob.convertAndFormatCurrency(total, ob.listing.metadata.pricingCurrency, ob.displayCurrency) %>
  </b>
</div>

