<hr class="clrBr">
<b><%= ob.polyT('purchase.receipt.summary') %></b>
<% let total = 0; %>
<% ob.items.forEach((item, i) => {
    const basePrice = ob.prices[i].price;
    const shippingPrice = ob.prices[i].sPrice;
    let itemTotal = basePrice;
    ob.coupons.forEach((coupon) => {
      if (coupon.percentDiscount) {
        itemTotal -= itemTotal * 0.01 * coupon.percentDiscount;
      } else if (coupon.priceDiscount) {
        console.log(coupon.priceDiscount);
        itemTotal -= coupon.priceDiscount;
      }
    });
    itemTotal += shippingPrice;
    total += itemTotal * item.quantity;
%>
  <div class="flexRow">
    <span class="col5">
      <%= ob.polyT('purchase.receipt.listing', { quantity: item.quantity }) %>
    </span>
    <b class="col7">
      <%= ob.convertAndFormatCurrency(basePrice * item.quantity, ob.listing.metadata.pricingCurrency, ob.displayCurrency) %>
    </b>
  </div>
  <% ob.coupons.forEach((coupon) => { %>
    <div class="flexRow">
      <span class="col5">
        <%= ob.polyT('purchase.receipt.coupon') %>
      </span>
      <b class="col7">
        <% if (coupon.percentDiscount) {
             print(`-${coupon.percentDiscount}%`);
        } else if (coupon.priceDiscount) {
          print(`-${ob.convertAndFormatCurrency(Number(coupon.priceDiscount * item.quantity), ob.listing.metadata.pricingCurrency, ob.displayCurrency)}`);
        } %>
      </b>
    </div>
  <% }); %>
  <% // when multiple listings are implemented, check the listing in the array here %>
  <% if (ob.listing.shippingOptions && ob.listing.shippingOptions.length) { %>
    <div class="flexRow">
      <span class="col5">
        <%= ob.polyT('purchase.receipt.shipping') %>
      </span>
      <b class="col7">
        <%= ob.convertAndFormatCurrency(shippingPrice * item.quantity, ob.listing.metadata.pricingCurrency, ob.displayCurrency) %>
      </b>
    </div>
  <% } %>
<% }); %>
<hr class="clrBr">
<div class="flexRow">
  <span class="col5">
    <%= ob.polyT('purchase.receipt.total') %>
  </span>
  <b class="col7">
    <%= ob.convertAndFormatCurrency(total, ob.listing.metadata.pricingCurrency, ob.displayCurrency) %>
  </b>
</div>

