<hr class="clrBr">
<b><%= ob.polyT('purchase.receipt.summary') %></b>
<%
  const listingCurrency = ob.listing.metadata.pricingCurrency;
  const viewingCurrency = ob.displayCurrency;
  ob.items.forEach((item, i) => {
    // convert and truncate the prices here, to prevent rounding errors in the display
    const basePrice = Number(ob.convertCurrency(ob.prices[i].price, listingCurrency, viewingCurrency).toFixed(2));
    const shippingPrice = Number(ob.convertCurrency(ob.prices[i].sPrice, listingCurrency, viewingCurrency).toFixed(2));
    const surcharge = Number(ob.convertCurrency(ob.prices[i].vPrice, listingCurrency, viewingCurrency).toFixed(2));
    const quantity = Number.isInteger(item.quantity) ? item.quantity : 1;
    let itemTotal = basePrice + surcharge;
    const preCouponPrice = itemTotal;
    ob.coupons.forEach((coupon) => {
      if (coupon.percentDiscount) {
        itemTotal -= itemTotal * 0.01 * coupon.percentDiscount;
      } else if (coupon.priceDiscount) {
        itemTotal -= ob.convertCurrency(coupon.priceDiscount, listingCurrency, viewingCurrency).toFixed(2);
      }
    });
%>
  <div class="flexRow">
    <span class="flexExpand">
      <%= ob.polyT('purchase.receipt.listing') %>
    </span>
    <b class="flexNoShrink">
      <%= ob.formatCurrency(basePrice, viewingCurrency) %>
    </b>
  </div>
  <% if (ob.listing.item.options && ob.listing.item.options.length) { %>
  <div class="flexRow">
          <span class="flexExpand">
            <%= ob.polyT('purchase.receipt.options') %>
          </span>
    <b class="flexNoShrink">
      <%= ob.formatCurrency(surcharge, viewingCurrency) %>
    </b>
  </div>
  <% } %>
  <% ob.coupons.forEach((coupon) => { %>
    <div class="flexRow">
      <span class="flexExpand">
        <%= ob.polyT('purchase.receipt.coupon') %>
      </span>
      <b class="flexNoShrink">
        <% if (coupon.percentDiscount) {
             print(`-${coupon.percentDiscount}% (-${preCouponPrice * 0.01 * coupon.percentDiscount})`);
        } else if (coupon.priceDiscount) {
          print(`-${ob.convertAndFormatCurrency(Number(coupon.priceDiscount), listingCurrency, viewingCurrency)}`);
        } %>
      </b>
    </div>
  <% }); %>

  <% if (ob.listing.shippingOptions && ob.listing.shippingOptions.length) { %>
    <div class="flexRow">
      <span class="flexExpand">
        <%= ob.polyT('purchase.receipt.shipping') %>
      </span>
      <b class="flexNoShrink">
        <%= ob.formatCurrency(shippingPrice, viewingCurrency) %>
      </b>
    </div>
  <% } %>
  <hr class="clrBr">
  <% if (quantity > 1) { %>
    <div class="flexRow">
      <span class="flexExpand">
        <%= ob.polyT('purchase.receipt.subtotal') %>
      </span>
      <b class="flexNoShrink">
        <%= ob.formatCurrency(itemTotal, viewingCurrency) %>
      </b>
    </div>
  <% } %>
  <div class="flexRow">
    <span class="flexExpand">
      <%= ob.polyT('purchase.receipt.total', { quantity }) %>
    </span>
    <b class="flexNoShrink">
      <%= ob.formatCurrency(total, viewingCurrency) %>
    </b>
  </div>
<% }); %>
