<% if (ob.shippingOptions.length) { %>
  <div class="flexColRows boxList border borderStacked clrP clrBr">
    <% ob.shippingOptions.forEach((option, i) => {
      if (option.type === 'LOCAL_PICKUP') {
        option.services[0] = { name: ob.polyT('purchase.localPickup'), price: 0 };
      }
      option.services = _.sortBy(option.services, 'price');
      option.services.forEach((service, j) => { %>
        <div>
          <div class="btnRadio width100">
            <input type="radio"
                   class="js-shippingOption"
                   id="<%= `${i}${j}` %>"
                   <% if (i===0 && j === 0) print('checked') %>
                   data-name="<%= option.name %>"
                   data-type="<%= option.type %>"
                   data-service="<%= service.name %>"
                   name="shippingOption">
            <label for="<%= `${i}${j}` %>" class="flex gutterH pad">
              <div>
                <div class="tx5 rowSm txB"><%= option.name %>: <%= service.name %></div>
                <div class="tx5b clrT2 txUnb">
                  <% const price = ob.convertAndFormatCurrency(service.price, ob.metadata.pricingCurrency, ob.displayCurrency) %>
                  <% if (service.estimatedDelivery) print(ob.polyT('purchase.serviceDetails', { price, delivery: service.estimatedDelivery })) %>
                </div>
              </div>
            </label>
          </div>
        </div>
      <% }); %>
     <% }); %>
  </div>
<% } else { %>
  <div class="padGi flexCent">
    <h5><%= ob.polyT('purchase.noShippableAddresses') %></h5>
  </div>
<% } %>
