<% if (ob.filteredShipping.length) { %>
  <div class="flexColRows boxList border borderStacked clrP clrBr">
    <% ob.filteredShipping.forEach((option, i) => { %>
      <% option.services.forEach((service, j) => { %>
        <div>
          <div class="btnRadio width100">
            <input type="radio" id="<%= `${i}${j}` %>" <% if (i===0 && j === 0) print('checked') %> name="shippingOption">
            <label for="<%= `${i}${j}` %>" class="flex gutterH pad">
              <div>
                <div class="tx5 rowSm txB"><%= service.name %></div>
                <div class="tx5b clrT2 txUnb">
                  <%= ob.polyT('purchase.serviceDetails', { price: service.price, delivery: service.estimatedDelivery }) %>
                </div>
              </div>
            </label>
          </div>
        </div>
      <% }); %>
     <% }); %>
  </div>
<% } else { %>
  <div class="padGi flexCent">
    <h5><%= ob.polyT('purchase.noShippableAddresses') %></h5>
  </div>
<% } %>
