<%= ob.processingButton({
  className: `btn clrP clrBr clrSh2 flexNoShrink js-resync ${ob.isSyncing ? 'processing' : ''} ${ob.isResyncAvailable ? '' : 'disabled'}`,
  btnText: ob.polyT('settings.advancedTab.server.reloadTransactionsWidget.resyncBtn'),
}) %>

<% if (ob.syncComplete) { %>
<div class="tx6 clrTEmph1"><%= ob.polyT('settings.advancedTab.server.reloadTransactionsWidget.resyncComplete') %></div>
<% } else if (!ob.isResyncAvailable) { %>
<div class="tx6">
  <span class="ion-alert-circled clrTAlert"></span> <%= ob.polyT('settings.advancedTab.server.reloadTransactionsWidget.syncUnavailable') %></span>
</div>
<% } %>