<form class="box padKids padStack clrP clrBr js-transactions">
  <div class="flexRow">
    <h3><%= ob.polyT('settings.transactions') %></h3>
  </div>
  <div class="flexRow">
    <div class="col3">
      <label><%= ob.polyT('settings.saveMetadata') %></label>
    </div>
    <div class="col9">
      <div class="btnStrip">
        <div class="btnRadio clrBr">
          <input type="radio"
                 name="saveTransactionMetadata"
                 value="true"
                 id="saveTransactionMetadataOn"
                 data-var-type="boolean"
          <% if(ob.saveTransactionMetadata) { %>checked<% } %>>
          <label for="saveTransactionMetadataOn"><%= ob.polyT('settings.on') %></label>
        </div>
        <div class="btnRadio clrBr">
          <input type="radio"
                 name="saveTransactionMetadata"
                 value="false"
                 id="saveTransactionsMetadataOff"
                 data-var-type="boolean"
          <% if(!ob.saveTransactionMetadata) { %>checked<% } %>>
          <label for="saveTransactionsMetadataOff"><%= ob.polyT('settings.off') %></label>
        </div>
      </div>
    </div>
  </div>
  <div class="flexRow">
    <div class="col3">
      <label><%= ob.polyT('settings.defaultFee') %></label>
    </div>
    <div class="col9">
      <div class="btnStrip">
        <div class="btnRadio clrBr">
          <input type="radio"
                 name="defaultFee"
                 value="low"
                 id="defaultFeeLow"
                 data-var-type="string"
          <% if(ob.defaultFee == "low") { %>checked<% } %>>
          <label for="defaultFeeLow"><%= ob.polyT('settings.low') %></label>
        </div>
        <div class="btnRadio clrBr">
          <input type="radio"
                 name="defaultFee"
                 value="medium"
                 id="defaultFeeMedium"
                 data-var-type="string"
          <% if(ob.defaultFee == "medium") { %>checked<% } %>>
          <label for="defaultFeeMedium"><%= ob.polyT('settings.medium') %></label>
        </div>
        <div class="btnRadio clrBr">
          <input type="radio"
                 name="defaultFee"
                 value="high"
                 id="defaultFeeHigh"
                 data-var-type="string"
          <% if(ob.defaultFee == "high") { %>checked<% } %>>
          <label for="defaultFeeHigh"><%= ob.polyT('settings.high') %></label>
        </div>
      </div>
    </div>
  </div>
</form>
