<% ob.processedCurs.forEach(cur => { %>
  <li class="clrBr curRow">
    <input type="<%= ob.controlType %>"
           id="<%=`curSel${cur.code}` %>"
           class="centerLabel js-curControl"
           data-code="<%= cur.code %>"
           <% if (ob.controlType === 'radio') {%>
             name="currencies"
           <%} %>
           <% if (cur.active && cur.walletSupported) print('checked') %>>
    <label class="gutterHSm txB <% if (!cur.walletSupported) print('disabled') %>" for="<%=`curSel${cur.code}` %>">
      <%= ob.crypto.cryptoIcon({ code: cur.code }) %>
      <span class="curName"><%= cur.displayName %></span>
    </label>
  </li>
<% }) %>
