<%
  let colorClass = '';
  let priceSymbol = '(<span class="ion-checkmark clrTEm"></span>)';

  if (ob.priceModifier !== 0) {
    colorClass = ob.priceModifier > 0 ?
      'clrTPriceAboveMarket' : 'clrTPriceBelowMarket txB';
    priceSymbol = ob.priceModifier > 0 ?
      `(<span class="icon ion-arrow-up-c"></span>)` :
      `(<span class="icon ion-arrow-down-c"></span>)`; 
  }  
%>
<<%= ob.wrappingTag %> class="<%= ob.wrappingClass %> <%= colorClass %>">
  <span>
    <%=
      ob.currencyMod.formattedCurrency(
        ob.priceAmount,
        ob.priceCurrencyCode,
        ob.displayCurrency
      )
    %>&nbsp;<span class="priceSymbol"><%= priceSymbol %></span>
  </span>
  <% if (ob.priceModifier !== 0) { %>
    <span class="marketRelativity <%= ob.marketRelativityClass %>">
      <%=
        ob.priceModifier > 0 ?
          ob.polyT('cryptoPriceAboveMarket', { amount: ob.priceModifier }) :
          ob.polyT('cryptoPriceBelowMarket', { amount: Math.abs(ob.priceModifier) })
      %>
    </span>
  <% } %>
</<%= ob.wrappingTag %>>