
<%
  const price = ob.price; // required

  // If you only need to format a price and not convert, just provide the same currency code for both
  // the from and to currencies.
  const fromCur = ob.fromCur; // required
  const toCur = ob.toCur; // required

  const toolTipBaseClass = ob.toolTipBaseClass || 'toolTip';
  const toolTipClass = ob.toolTipClass || '';
  const toolTipFullClass = `${toolTipBaseClass} ${toolTipClass}`;
  const iconBaseClass = ob.iconBaseClass || 'ion-alert-circled clrTAlert';
  const iconClass = ob.iconClass || '';
  const iconFullClass = `${iconBaseClass} ${iconClass}`;
  const showTooltipOnUnrecognizedCur = ob.showTooltipOnUnrecognizedCur || true;
  const fromCurValidity = ob.currencyMod.getCurrencyValidity(fromCur);

  // If the price is not a number, we'll show the unrecognized currency tooltip. This most likely happened
  // because a model was unable to convert the price to/from base units because it doesn't recognize the
  // currency and therefore doesn't know what base units to use.
  const formattedPrice = typeof price === 'number' ?
    ob.currencyMod.convertAndFormatCurrency(price, fromCur, toCur, { forceCryptoListingCur: true }) :
    false;
%>

<%= formattedPrice %><% if (formattedPrice === false) %>&nbsp;<span class="<%= toolTipFullClass %>" data-tip="<%= ob.polyT('formattedCurrency.unrecognizedCurrencyTip', { cur: fromCur }) %>"><span class="<%= iconFullClass %>"></span></span>
