
<%
  const price = ob.price; // required
  const fromCur = ob.fromCur; // required
  const toCur = ob.toCur; // required
  const toolTipBaseClass = ob.toolTipBaseClass || 'toolTip';
  const toolTipClass = ob.toolTipClass || '';
  const toolTipFullClass = `${toolTipBaseClass} ${toolTipClass}`;
  const iconBaseClass = ob.iconBaseClass || 'ion-alert-circled clrTAlert';
  const iconClass = ob.iconClass || '';
  const iconFullClass = `${iconBaseClass} ${iconClass}`;

  const fromCurValidity = ob.getCurrencyValidity(fromCur);
  const toCurValidity = ob.getCurrencyValidity(toCur);
  let tip;
  let invalidPrice = false;

  // todo: translate Translate TRANSLATE!!!

  if (fromCurValidity === 'UNRECOGNIZED_CURRENCY') {
    tip = 'We are unable to provide price information because the price is in an unrecognized currency.';
    invalidPrice = true;
  } else if (fromCurValidity !== toCurValidity && (fromCurValidity === 'EXCHANGE_RATE_MISSING' ||
    toCurValidity === 'EXCHANGE_RATE_MISSING')) {
    tip = 'The price has not been converted to your preferred currency because relevant exchange rate data ' +
      'is not available.';
    invalidPrice = true;
  }
%>

<%= ob.convertAndFormatCurrency(price, fromCur, toCur) %>
<% if (invalidPrice) { %>
&nbsp;<span class="<%= toolTipFullClass %>" data-tip="<%= tip %>"><span class="<%= iconFullClass %>"></span></span>
<% } %>