<div class="moderatorsStatus flexVCent flexHCent gutterHTn tx6 <% if(ob.hidden) print('hide') %>">
  <% if (ob.showSpinner) { %>
    <%= ob.spinner({ className: 'spinnerTxt' }) %>
  <% } %>
  <% if (ob.mode === 'loading') { %>
  <% console.log(ob.total)
     console.log(ob.loaded) %>
    <% const remaining = ob.total - ob.loaded; %>
    <span class="clrT4"><%= ob.polyT('moderators.moderatorsLoading', { remaining, total: ob.total }) %></span>
  <% } else if (ob.mode === 'loaded') { %>
  <% console.log('mode loaded') %>
    <span class="clrT4"><%= ob.polyT('moderators.moderatorsLoaded', { total: ob.total }) %></span>
  <% } %>
</div>
