<%
  var countsAvailable = false;

  if (typeof ob.start === 'number' &&
    typeof ob.end === 'number' &&
    typeof ob.total === 'number') {
    countsAvailable = true;
  }

  var disabledPrev = true;
  var disabledNext = true;

  if (countsAvailable) {
    if (ob.start > 1) {
      disabledPrev = false;
    }

    if (ob.end < ob.total) {
      disabledNext = false;
    }
  }
%>

<div class="floR">
  <div class="pageControls flexVCent gutterH tx5">
    <% if (countsAvailable) { %>
    <div>
      <%=
        ob.polyT('pageControls.displaying', {
          displayingCounts: ob.polyT('pageControls.displayingCounts', {
            start: ob.number.localizeNumber(ob.start),
            end: ob.number.localizeNumber(ob.end),
            total: ob.number.localizeNumber(ob.total),
          }),
        })
      %>
    </div>
    <% } %>
    <div class="btnStrip">
      <button class="btn clrP clrBr pagePrev js-pagePrev <% if (disabledPrev) print('disabled') %>">
        <i class="ion-arrow-left-b"></i>
      </button>
      <button class="btn clrP clrBr pageNext js-pageNext <% if (disabledNext) print('disabled') %>">
        <i class="ion-arrow-right-b"></i>
      </button>
    </div>
  </div>
</div>
