<%
const disabledPrev = ob.currentPage === 1;
const disabledNext = !ob.morePages;
%>

<div class="floR">
  <div class="pageControls flexVCent gutterH tx5">
    <div class="btnStrip">
      <button class="btn clrP clrBr pagePrev js-pagePrev <% if (disabledPrev) print('disabled') %>">
        <span class="txUnb">< <%= ob.polyT('pageControlsTextStyle.previous') %></span>
      </button>
      <% if (typeof ob.currentPage === 'number'){%>
      <div class="btn clrP clrBr unclickable">
        <span class="txUnb"><%= ob.number.localizeNumber(ob.currentPage) %></span>
      </div>
      <% } %>
      <button class="btn clrP clrBr pageNext js-pageNext <% if (disabledNext) print('disabled') %>">
        <span class="txUnb"><%= ob.polyT('pageControlsTextStyle.next') %> ></span>
      </button>
    </div>
  </div>
</div>
