<span class="<%= ob.contentClass %> invisible"><%= ob.spacerText %></span>
<% if (ob.isFetching) {
  print(ob.spinner({ className: `${ob.spinnerClass} posA` }))
} else if (ob.fetchFailed) { %>
  <div class="content">
    <div class="arrowBoxTipWrap">
      <i class="ion-alert-circled margRSm clrTAlert"></i>
      <% if (ob.fetchError) { %>
        <%
          const retryLink = `<a class="js-retry">${ob.polyT('inventoryDisplay.retryLink')}</a>`;
          let message = ob.polyT('inventoryDisplay.fetchError', {
            retryLink,
          });

          if (ob.fetchError) {
            message = ob.polyT('inventoryDisplay.fetchErrorWithMsg', {
              msg: ob.fetchError,
            });
            message += `<br /> <br /><div class="txCtr">${retryLink}</div>`;
          }
        %>
        <div class="arrowBoxCenteredTop clrBr clrP"><%= message %></div>
      <% } %>
    </div>
  </div>
<% } else if (ob.coinType) { %>
  <div class="content <%= ob.contentClass %>"><%= ob.currencyMod.formattedCurrency(
    ob.amount,
    ob.coinType,
    null,
    { maxDisplayDecimals: 4 }
  ) %></div>
<% } %>
