<%
  if (ob.formattedAmount) {
    if (ob.tipAmount) {
      const tipWrapClass = `${ob.tipWrapBaseClass} ${ob.tipWrapClass}`;
      const tipClass = `${ob.tipBaseClass} ${ob.tipClass}`;
      let tipContent = ob.tipAmount;

      // todo:
      // put max-width on tip
      // copied indicator
      // copy to clipboard
      // invisible copied to make sure width is at least that and no jumpy jumpers

      if (ob.tipAmount) {
        tipContent = `
          <div class="rowSm">${ob.tipAmount}</div>
          <hr />
          <div class="flexHRight flexVCent" style="min-height: 16px">
            <span class="clrT2 hide js-copiedIndicator">Copied</span>
            <button
              class="js-copyTipAmount btnAsLink"
              data-amount="${ob.copyAmount}">
              Copy
            </button>
          </div>
        `;
      }
%>
      <span class="<%= tipWrapClass %>"><%= ob.formattedAmount %><span class="<%= tipClass %>"><%= tipContent %></span></span>
<%   
    } else {
      print(ob.formattedAmount)
    }
  }
%>