<%
  if (ob.formattedAmount) {
    if (ob.tipAmount) {
      const tipWrapClass = `${ob.tipWrapBaseClass} ${ob.tipWrapClass}`;
      const tipClass = `${ob.tipBaseClass} ${ob.tipClass}`;
      let tipContent = ob.tipAmount;

      if (ob.tipAmount) {
        tipContent = `
          <div class="rowSm">${ob.tipAmount}</div>
          <hr />
          <div class="flexHRight flexVCent" style="min-height: 16px">
            <span class="clrT2 hide js-copiedIndicator">Copied</span>
            <button class="js-copyTipAmount btnAsLink clrT">
              Copy
            </button>
          </div>
        `;
      }
%>
      <span class="<%= tipWrapClass %>"><%= ob.formattedAmount %><span class="<%= tipClass %>" style="max-width: 250px"><%= tipContent %></span></span>
<%   
    } else {
      print(ob.formattedAmount)
    }
  }
%>