<div class="moderatorsWrapper clrBr <% print(ob.wrapperClasses) %> js-moderatorsWrapper">
  <% if (!ob.totalShown) { %>
    <div class="moderatorCard moderatorsMessage clrBr">
      <div class="moderatorCardInner">
        <div class="flexCent">
          <div class="flexColRows flexHCent gutterVTn">
            <% const showOnlyVer = ob.showVerifiedOnly && ob.unVerCount ? 'Verified' : '';
               const showOnlyCur = ob.showOnlyCur ? 'Matching' : '';
               const opts = ob.showOnlyCur ? { coin: ob.showOnlyCur } : {};
               const msgPath = `moderators.noModsMsg.no${showOnlyCur}${showOnlyVer}Moderators`;
               const title = ob.loading ?
                 ob.polyT('moderators.moderatorsLoading') : ob.polyT(`${msgPath}.title`, opts);
            %>
            <h4><%= title %></h4>
            <% // The section below is only relevant if the moderators are loaded in a purchasing context. %>
            <% if (ob.purchase && !ob.loading) { %>
              <div class="tx4 clrT2"><%= ob.polyT(`${msgPath}.body`) %></div>
              <% if (showOnlyVer) { %>
                <div class="padTn"><% // just a spacer %></div>
                <div>
                  <button class="btn clrP clrBr js-showUnverified"><%= ob.polyT('moderators.showUnverified') %></button>
                </div>
              <% } %>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  <% } %>
</div>
<div class="js-statusWrapper"></div>

