<div class="moderatorsWrapper clrBr <% print(ob.wrapperClasses) %> js-moderatorsWrapper">
  <% // placeholder so border collapse doesn't erase the table border when there are no table cells %>
  <% if (ob.placeholder) { %>
    <div class="moderatorCard clrBr">
      <div class="moderatorCardInner">
      </div>
    </div>
  <% } %>
  <% if (ob.totalIDs && !ob.totalShown) { %>
    <div class="moderatorCard moderatorsMessage clrBr">
      <div class="moderatorCardInner">
        <div class="flexCent">
          <div class="flexColRows flexHCent gutterVTn">
            <% const showOnlyVer = ob.showVerifiedOnly && ob.unVerCount ? 'Verified' : '';
               const showOnlyCur = ob.showOnlyCur ? 'Matching' : '';
               const opts = ob.showOnlyCur ? { coin: ob.showOnlyCur } : {};
               const msgPath = `moderators.noModsMsg.no${showOnlyCur}${showOnlyVer}Moderators`;
            %>
            <h4><%= ob.polyT(`${msgPath}.title`, opts) %></h4>
            <% // The section below is only relevant if the moderators are loaded in a purchasing context. %>
            <% if (ob.purchase) { %>
              <div class="tx4 clrT2"><%= ob.polyT(`${msgPath}.body`) %></div>
              <% if (showOnlyVer) { %>
                <div class="padTn"><% // just a spacer %></div>
                <div>
                  <button class="btn clrP clrBr js-showUnverified"><%= ob.polyT('moderators.showUnverified') %></button>
                </div>
              <% } %>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  <% } %>
</div>
<div class="js-statusWrapper"></div>

