<div class="contentBox padMd clrP clrBr clrSh3">
  <div class="flexVCent">
    <div class="col4">
      <!-- OB branding comming soon... -->
    </div>  
    <div class="col4">
      <!-- <h2 class="h3 clrT"><%= ob.polyT('settings.generalTab.sectionName') %></h2> -->
      <h2 class="h3 clrT txUnl">Server Configurations</h2>
    </div>
    <div class="col4">
      <div class="flexHRight">
        <a class="btn clrP clrBr js-btnNew">New</a>
      </div>
    </div>
  </div>
  <hr class="clrBr rowLg" />

  <div class="borderStacked contentBox clrBr padKids">
    <div class="flexVCent" style="height: 57px">
      <div class="col4 txB">
        Default (translate)
      </div>
      <div class="col4 txB">
        localhost
      </div>
      <div class="col4 txtB">
        <div class="flexHRight">
          Connected
        </div>
      </div>
    </div>
    <div class="flexVCent" style="height: 57px">
      <div class="col4">
        @shoes
      </div>
      <div class="col3">
        129.92.87.193
      </div>
      <div class="col5">
        <div class="flexHRight">
          <div class="gutterHTn">
            <a class="iconBtn clrP clrBr ion-trash-b"></a>
            <a class="iconBtn clrP clrBr ion-ios-gear"></a>
            <a class="btn clrP clrBr">Connect (t yo)</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="statusBar clrBr border">
<!--   <img src="../imgs/spinner.svg" /> -->
  <%= ob.spinner({ className: 'pickles' }) %>
  <div class="btnNewCell clrBr">
  </div>
  <div class="clrBr borderBottom borderFillIn"></div>
</div>