<div class="contentBox padMd clrP clrBr clrSh3">
  <div class="flexVCent">
    <div class="col4">
      <!-- OB branding comming soon... -->
    </div>  
    <div class="col4">
      <!-- <h2 class="h3 clrT"><%= ob.polyT('settings.generalTab.sectionName') %></h2> -->
      <h2 class="h3 clrT txUnl">Server Configurations</h2>
    </div>
    <div class="col4">
      <div class="flexHRight">
        <a class="btn clrP clrBr js-btnNew">New</a>
      </div>
    </div>
  </div>
  <hr class="clrBr rowLg" />

  <div class="borderStacked contentBox clrBr padKids js-serverConfigsContainer"></div>
</div>
<div class="statusBar clrBr border hide">
  <div class="btnNewCell clrBr">
  </div>
  <div class="clrBr borderBottom borderFillIn"></div>
</div>