<div class="contentBox padMd clrP clrBr clrSh3">
  <div class="flexVCent" style="height: 35px">
    <div class="col4">
      <!-- OB branding comming soon... -->
    </div>  
    <div class="col4">
      <!-- <h2 class="h3 clrT"><%= ob.polyT('settings.generalTab.sectionName') %></h2> -->
      <h2 class="h3 clrT txUnl txCtr">New Configuration</h2>
    </div>
    <div class="col4"></div>
  </div>
  <hr class="clrBr rowLg" />

  <% if (ob.name) { %>
    <p>My name is <%= ob.name %></p>
  <% } else { %>
    <p>I gotz no name yo.</p>
  <% } %>  
</div>
