<div class="topControls flex js-closeClickTarget"></div>
<div class="flex gutterH js-closeClickTarget">
  <div class="tabColumn contentBox padMd clrP clrBr clrSh3">
    <h1 class="h4 txUp clrT">MENU</h1>
    <div class="boxList tx4 clrTx1Br">
      <a class="js-tab tab row active" data-tab="Configurations"><%= ob.polyT('connectionManagement.configurations.tabName') %></a>
      <a class="js-tab tab row" data-tab="ConfigForm"><%= ob.polyT('connectionManagement.configurationForm.tabName') %></a>
    </div>

  </div>
  <div class="flexExpand">
    <div class="js-tabContent tabContent"></div>
  </div>
</div>
