<div class="contentBox padMd clrP clrBr clrSh3">
  <div class="flexHCent">
    <h2 class="h3 clrT"><%= ob.polyT('settings.addressesTab.sectionName') %></h2>
  </div>
  <hr class="clrBr" />

  <div class="tabFormWrapper js-addressesWrap clrP">
    <div class="settingsTabFormWrapperInner">
      <div class="js-listContainer"></div>
      <div class="js-formContainer"></div>
    </div>
  </div>

  <div class="flexHRight">
    <%= ob.processingButton({
      className: 'btn clrP clrBAttGrad clrBrDec1 clrTOnEmph js-addAddress',
      btnText: ob.polyT('settings.btnAddAddress')
    }) %>    
  </div>  
</div>