<div class="contentBox padMd clrP clrBr clrSh3">
  <div class="flexHCent">
    <h2 class="h3 clrT"><%= ob.polyT('settings.blockedTab.sectionName') %></h2>
  </div>
  <hr class="clrBr rowLg" />

  <div class="flexColWide tx5 rowMd blockedListWrap <% if (ob.blocked.length) print('padKids borderStackedAll') %>">
  <%  if (ob.blocked.length) {
        ob.blocked.forEach(peerId => { %>
          <div class="clrBr" data-peerid="<%= peerId %>">
            <div class="flexVCent">
              <div class="flexExpand"><a class="clrT" href="<%= peerId %>"><%= peerId %></a></div>
              <div>
                <button class="btn clrP clrBr tx5b js-unblock"><%= ob.polyT('settings.blockedTab.btnUnblock') %></button>
              </div>
            </div>
          </div>
        <% })
      } else { %>
        <p class="center txCtr"><%= ob.polyT('settings.blockedTab.emptyBlockList') %></p>
   <% } %>
  </div>
</div>