<div class="contentBox padMd clrP clrBr clrSh3">
  <div class="flexHCent">
    <h2 class="h3 clrT"><%= ob.polyT('settings.generalTab.sectionName') %></h2>
    <div class="marginLAuto">
      <a class="btn clrP clrBr clrSh2 js-save"><%= ob.polyT('settings.btnSave') %></a>
    </div>
  </div>
  <hr class="clrBr" />

  <div class="tabFormWrapper">
    <form class="box clrP padMdKids padStack settingsGeneralForm">
      <div class="flexRow">
        <div class="col3">
          <label><%= ob.polyT('settings.language') %></label>
        </div>
        <div class="col9 clrSh2">
          <% if (ob.errors.language) print(ob.formErrorTmpl({ errors: ob.errors.language })) %>
          <select id="settingsLanguageSelect" name="language">
            <% ob.languageList.forEach((lang) => { %>
              <option value="<%= lang.code %>" <% if (lang.code == ob.language) print('selected') %>><%= lang.name %></option>
            <% }); %>
          </select>
        </div>
      </div>
      <div class="flexRow">
        <div class="col3">
          <label><%= ob.polyT('settings.country') %></label>
        </div>
        <div class="col9 clrSh2">
          <% if (ob.errors.country) print(ob.formErrorTmpl({ errors: ob.errors.country })) %>
          <select id="settingsCountrySelect" name="country">
            <% ob.countryList.forEach((country) => { %>
            <option value="<%= country.dataName %>" <% if (country.dataName == ob.country) print('selected') %>><%= country.name %></option>
            <% }); %>
          </select>
        </div>
      </div>
      <div class="flexRow">
        <div class="col3">
          <label><%= ob.polyT('settings.currency') %></label>
        </div>
        <div class="col9 clrSh2">
          <% if (ob.errors.localCurrency) print(ob.formErrorTmpl({ errors: ob.errors.localCurrency })) %>
          <select id="settingsCurrencySelect"  name="localCurrency">
            <% ob.currencyList.forEach((currency) => { %>
            <option value="<%= currency.code %>" <% if (currency.code == ob.localCurrency) print('selected') %>><%= currency.name %></option>
            <% }); %>
          </select>
        </div>
      </div>
      <div class="flexRow">
        <div class="col3">
          <label><%= ob.polyT('settings.viewNsfwContent') %></label>
        </div>
        <div class="col9">
          <% if (ob.errors.showNsfw) print(ob.formErrorTmpl({ errors: ob.errors.showNsfw })) %>
          <div class="btnStrip">
            <div class="btnRadio clrBr">
              <input type="radio"
                     name="showNsfw"
                     value="true"
                     id="settingsViewNSFWInputTrue"
                     data-var-type="boolean"
              <% if(ob.showNsfw) { %>checked<% } %>>
              <label for="settingsViewNSFWInputTrue"><%= ob.polyT('settings.yes') %></label>
            </div>
            <div class="btnRadio clrBr">
              <input type="radio"
                     name="showNsfw"
                     value="false"
                     id="settingsViewNSFWInputFalse"
                     data-var-type="boolean"
              <% if(!ob.showNsfw) { %>checked<% } %>>
              <label for="settingsViewNSFWInputFalse"><%= ob.polyT('settings.no') %></label>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <hr class="clrBr" />
  <div class="flexHRight">
    <a class="btn clrP clrBr clrSh2 js-save"><%= ob.polyT('settings.btnSave') %></a>
  </div>
</div>