<div class="gutterVMd">
  <div class="contentBox padMd clrP clrBr clrSh3">
    <div class="flexHCent">
      <h2 class="h3 clrT"><%= ob.polyT('settings.pageTab.sectionPage') %></h2>
    </div>
    <hr clr="clrBr" />

    <div class="tabFormWrapper">
      <form class="box padMdKids padStack">
        <div class="flexRow">
          <div class="col3">
            <label for="settingsName"><%= ob.polyT('settings.name') %></label>
          </div>
          <div class="col9">
          <% if (ob.errors.name) print(ob.formErrorTmpl({ errors: ob.errors.name })) %>
            <input type="text" class="clrBr" name="name" id="settingsName" value="<%= ob.name %>">
          </div>
        </div>
        <div class="flexRow">
          <div class="col3">
            <label for="settingsHandle"><%= ob.polyT('settings.handle') %></label>
          </div>
          <div class="col9">
            <% if (ob.errors.handle) print(ob.formErrorTmpl({ errors: ob.errors.handle })) %>
            <input type="text" class="clrBr" name="handle" id="settingsHandle" value="<%= ob.handle %>">
          </div>
        </div>
        <div class="flexRow">
          <div class="col3">
            <label for="settingsShortDescription"><%= ob.polyT('settings.shortDescription') %></label>
          </div>
          <div class="col9">
            <% if (ob.errors.shortDescription) print(ob.formErrorTmpl({ errors: ob.errors.shortDescription })) %>
            <textarea rows="3" maxlength="160" name="shortDescription" id="settingsShortDescription"
                      class="clrBr"><%= ob.shortDescription %></textarea>
          </div>
        </div>
        <div class="flexRow">
          <div class="col3">
            <label><%= ob.polyT('settings.nsfwContent') %></label>
          </div>
          <div class="col9">
            <% if (ob.errors.nsfw) print(ob.formErrorTmpl({ errors: ob.errors.nsfw })) %>
            <div class="btnStrip">
              <div class="btnRadio clrBr">
                <input type="radio"
                       name="nsfw"
                       value="true"
                       id="settingsNSFWInputTrue"
                       data-var-type="boolean"
                <% if(ob.NSFW) { %>checked<% } %>>
                <label for="settingsNSFWInputTrue"><%= ob.polyT('settings.on') %></label>
              </div>
              <div class="btnRadio clrBr">
                <input type="radio"
                       name="nsfw"
                       value="false"
                       id="settingsNSFWInputFalse"
                       data-var-type="boolean"
                <% if(!ob.NSFW) { %>checked<% } %>>
                <label for="settingsNSFWInputFalse"><%= ob.polyT('settings.off') %></label>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="contentBox padMd clrP clrBr clrSh3">
    <h2 class="h4 clrT"><%= ob.polyT('settings.pageTab.sectionLinks') %></h2>
    <div class="tabFormWrapper">
      <form class="box padMdKids padStack">
        <div class="flexRow">
          <div class="col3">
            <label for="settingsWebsite"><%= ob.polyT('settings.website') %></label>
          </div>
          <div class="col9">
            <% if (ob.errors.website) print(ob.formErrorTmpl({ errors: ob.errors.website })) %>
            <input type="text" class="clrBr" name="website" id="settingsWebsite"
                   value="<%= ob.website %>">
          </div>
        </div>
        <div class="flexRow">
          <div class="col3">
            <label for="settingsEmail"><%= ob.polyT('settings.email') %></label>
          </div>
          <div class="col9">
            <% if (ob.errors.email) print(ob.formErrorTmpl({ errors: ob.errors.email })) %>
            <input type="text" class="clrBr" name="email" id="settingsEmail" value="<%= ob.email %>">
          </div>
        </div>
      </form>
    </div>      
  </div>

  <div class="contentBox padMd clrP clrBr clrSh3">
    <h2 class="h4 clrT"><%= ob.polyT('settings.pageTab.sectionAbout') %></h2>
    <div class="tabFormWrapper">
      <form class="box padMdKids padStack">
        <div class="flexRow">
          <div class="col3">
            <label for="settingsAbout"><%= ob.polyT('settings.about') %></label>
          </div>
          <div class="col9">
            <% if (ob.errors.about) print(ob.formErrorTmpl({ errors: ob.errors.about })) %>
            <textarea rows="6" name="about" class="clrBr" id="settingsAbout"><%= ob.about %></textarea>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="contentBox padMd clrP clrBr clrSh3">
    <h2 class="h4 clrT"><%= ob.polyT('settings.pageTab.sectionTheme') %></h2>
    <div class="tabFormWrapper">
      <form class="box padMdKids padStack">
        <div class="flexRow">
          <div class="col3">
            <label><%= ob.polyT('settings.avatar') %></label>
            <div class="clrT2 txBase"><%= ob.polyT('settings.loadAvatarHelp', {minWidth: ob.avatarMinWidth, minHeight: ob.avatarMinHeight}) %></div>
          </div>
          <div class="col9">
            <div class="flexRow gutterH" id="avatarCropper">
              <div class="contentBox avatarPreview clrP clrBr2 clrSh1 flexNoShrink js-avatarPreview"></div>
              <div class="flexNoShrink">
                <div class="flexColRows gutterV">
                  <div>
                    <div class="flex gutterH">
                      <a class="iconBtn ion-reply flexExpand clrP clrBr disabled js-avatarLeft"></a>
                      <a class="iconBtn ion-forward flexExpand clrP clrBr disabled js-avatarRight"></a>
                    </div>
                  </div>
                  <div class="posR">
                    <input type="range" class="cropit-image-zoom-input disabled js-avatarZoom clrP" />
                    <div class="clrTEm zoomWarning hide js-avatarZoomWarning">
                      <%= ob.polyT('settings.loadAvatarZoomTooSmall') %>
                    </div>
                  </div>
                  <div>
                    <input type="file" id="avatarInput" class="cropit-image-input hide" />
                    <label for="avatarInput" class="btn clrP clrBr">
                      <%= ob.polyT('settings.loadAvatar') %>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flexRow">
          <div class="col3">
            <label><%= ob.polyT('settings.header') %></label>
              <div class="clrT2 txBase"><%= ob.polyT('settings.loadHeaderHelp', {minWidth: ob.headerMinWidth, minHeight: ob.headerMinHeight}) %></div>
          </div>
          <div class="col9 row">
            <div class="flexColRows gutterV" id="headerCropper">
              <div class="contentBox headerPreview clrP clrBr js-headerPreview"></div>
              <div>
                <div class="flexRow gutterH">
                  <div>
                    <div class="flex gutterH">
                      <a class="iconBtn ion-reply flexExpand clrP clrBr disabled js-headerLeft"></a>
                      <a class="iconBtn ion-forward flexExpand clrP clrBr disabled js-headerRight"></a>
                    </div>
                  </div>
                  <div class="posR">
                    <input type="range" class="cropit-image-zoom-input disabled js-headerZoom clrP" />
                    <div class="clrTEm zoomWarning hide js-headerZoomWarning">
                      <%= ob.polyT('settings.loadHeaderZoomTooSmall') %>
                    </div>
                  </div>
                  <div>
                    <input type="file" id="headerInput" class="cropit-image-input hide" />
                    <label for="headerInput" class="btn clrP clrBr">
                      <%= ob.polyT('settings.loadHeader') %>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flexRow">
          <div class="col3">
            <label for="settingsPrimaryColor"><%= ob.polyT('settings.primaryColor') %></label>
          </div>
          <div class="col9">
            <% if (ob.errors.primaryColor) print(ob.formErrorTmpl({ errors: ob.errors.primaryColor })) %>
            <input type="text" class="clrBr" name="primaryColor" id="settingsPrimaryColor"
                   value="<%= ob.primaryColor %>">
          </div>
        </div>
        <div class="flexRow">
          <div class="col3">
            <label for="settingsSecondaryColor"><%= ob.polyT('settings.secondaryColor') %></label>
          </div>
          <div class="col9">
            <% if (ob.errors.secondaryColor) print(ob.formErrorTmpl({ errors: ob.errors.secondaryColor })) %>
            <input type="text" class="clrBr" name="secondaryColor" id="settingsSecondaryColor"
                   value="<%= ob.secondaryColor %>">
          </div>
        </div>
        <div class="flexRow">
          <div class="col3">
            <label for="settingsTextColor"><%= ob.polyT('settings.textColor') %></label>
          </div>
          <div class="col9">
            <% if (ob.errors.textColor) print(ob.formErrorTmpl({ errors: ob.errors.textColor })) %>
            <input type="text" class="clrBr" name="textColor" id="settingsTextColor"
                   value="<%= ob.textColor %>">
          </div>
        </div>
      </form>
    </div>
  </div>  

  <div class="contentBox padMd clrP clrBr clrSh3">
    <div class="flexHRight">
      <a class="btn clrP clrBr js-save"><%= ob.polyT('settings.btnSave') %></a>
    </div>
  </div>
</div>