<div class="bar padMd clrBr borderBottom">
  <h2 class="h3 txUnb"><%= ob.polyT('settings.addressesTab') %></h2>
</div>
<div class="padMd scrollBox settingsTabFormWrapper">
  <div class="addresses tx5 gutterV">
    <div class="flexRow gutterH">
      <div class="addressBox border clrS clrBr">
        Joe Smith<br />
        5678 S. Boom Bam Way<br />
        Jacksonville, FL 32250<br />
        <a class="btn clrP clrBr js-delete">Delete</a>
       </div>
      <div class="addressBox border clrS clrBr">
        Larry Imbo<br />
        169 E. Harvey<br />
        Des Plaines, IL 60016<br />
        <a class="btn clrP clrBr js-delete">Delete</a>
      </div>
    </div>
    <div class="flexRow gutterH">
      <div class="addressBox border clrS clrBr">
        Moo Shoo<br />
        5678 S. Boom Bam Way<br />
        Hippo, FL 32250<br />
        <a class="btn clrP clrBr js-delete">Delete</a>
       </div>
      <div class="addressBox border clrS clrBr">
        Check That<br />
        169 E. Harvey<br />
        Mauntalk, IL 60016<br />
        <a class="btn clrP clrBr js-delete">Delete</a>
      </div>
    </div>
  </div>  
  <form class="box border padKids padStack clrS clrBr js-addAddressForm">
    <div class="flexRow">
      <div class="col3">
        <label for="settingsName"><%= ob.polyT('settings.addresses.name') %></label>
      </div>
      <div class="col9">
      <% if (ob.errors.name) print(ob.formErrorTmpl({ errors: ob.errors.name })) %>
        <input type="text" class="clrBr" name="Name" value="<%= ob.Name %>">
      </div>
    </div>
    <div class="flexRow">
      <div class="col3">
        <label for="settingsName"><%= ob.polyT('settings.addresses.street') %></label>
      </div>
      <div class="col9">
      <% if (ob.errors.name) print(ob.formErrorTmpl({ errors: ob.errors.name })) %>
        <input type="text" class="clrBr" name="AddressLineOne" value="<%= ob.AddressLineOne %>">
      </div>
    </div>
    <div class="flexRow">
      <div class="col3">
        <label for="settingsName"><%= ob.polyT('settings.addresses.apt') %></label>
      </div>
      <div class="col9">
      <% if (ob.errors.name) print(ob.formErrorTmpl({ errors: ob.errors.name })) %>
        <input type="text" class="clrBr" name="AddressLineTwo" value="<%= ob.AddressLineTwo %>">
      </div>
    </div>
    <div class="flexRow">
      <div class="col3">
        <label for="settingsName"><%= ob.polyT('settings.addresses.city') %></label>
      </div>
      <div class="col9">
      <% if (ob.errors.name) print(ob.formErrorTmpl({ errors: ob.errors.name })) %>
        <input type="text" class="clrBr" name="City" value="<%= ob.City %>">
      </div>
    </div>
    <div class="flexRow">
      <div class="col3">
        <label for="settingsName"><%= ob.polyT('settings.addresses.state') %></label>
      </div>
      <div class="col9">
      <% if (ob.errors.name) print(ob.formErrorTmpl({ errors: ob.errors.name })) %>
        <input type="text" class="clrBr" name="State" value="<%= ob.State %>">
      </div>
    </div>
    <div class="flexRow">
      <div class="col3">
        <label for="settingsName"><%= ob.polyT('settings.addresses.country') %></label>
      </div>
      <div class="col9">
      <% if (ob.errors.name) print(ob.formErrorTmpl({ errors: ob.errors.name })) %>
        <input type="text" class="clrBr" name="Country" value="<%= ob.Country %>">
      </div>
    </div>
    <div class="flexRow">
      <div class="col3">
        <label for="settingsName"><%= ob.polyT('settings.addresses.postalCode') %></label>
      </div>
      <div class="col9">
      <% if (ob.errors.name) print(ob.formErrorTmpl({ errors: ob.errors.name })) %>
        <input type="text" class="clrBr" name="PostalCode" value="<%= ob.PostalCode %>">
      </div>
    </div>
    <div class="flexRow">
      <div class="col3">
        <label for="settingsAbout"><%= ob.polyT('settings.addresses.notes') %></label>
      </div>
      <div class="col9">
        <% if (ob.errors.about) print(ob.formErrorTmpl({ errors: ob.errors.about })) %>
        <textarea rows="6" name="AddressNotes" class="clrBr"><%= ob.AddressNotes %></textarea>
      </div>
    </div>
  </form>
</div>
