<div class="flexRow posA">
  <div class="tabColumn clrS clrT2">
    <h1 class="h2 padM"><%= ob.plyT('settings.settingsLabel') %></h1>
    <div class="boxList tx4 clrTx1Br">
      <a class="js-tab tab clrT active" data-tab="SettingsGeneral"><%= ob.plyT('settings.generalTab') %></a>
      <a class="js-tab tab" data-tab="SettingsPage"><%= ob.plyT('settings.pageTab') %></a>
    </div>

  </div>
  <div class="flexExpand posR">
    <div class="js-tabContent settingsTabContent"></div>
    <div class="settingsControls flex clrBr">
      <div class="saveStatus"></div>
      <a class="btn clrP clrBr js-save"><b><%= ob.plyT('settings.btnSave') %></b></a>
    </div>

  </div>
</div>
