<!-- temporary top padding until we integrate the the little BTC price box -->
<div class="flex gutterH" style="padding-top: 40px">
  <div class="tabColumn contentBox padMd clrP clrBr clrSh3">
    <h1 class="h3 txUp clrT2"><%= ob.polyT('settings.settingsLabel') %></h1>
    <div class="boxList tx4 clrTx1Br">
      <a class="js-tab tab clrT row active" data-tab="General"><%= ob.polyT('settings.generalTab') %></a>
      <a class="js-tab tab row" data-tab="Page"><%= ob.polyT('settings.pageTab.sectionPage') %></a>
      <a class="js-tab tab row" data-tab="Addresses"><%= ob.polyT('settings.addressesTab') %></a>
      <a class="js-tab tab row" data-tab="Advanced"><%= ob.polyT('settings.advancedTab._sectionName') %></a>
    </div>

  </div>
  <div class="flexExpand posR">
    <div class="js-tabContent tabContent"></div>
  </div>
</div>
