<div class="flexRow posA">
  <div class="tabColumn clrS clrT2">
    <h1 class="h2 padMd">Settings</h1>
    <div class="boxList tx4 clrTx1Br">
      <a class="js-tab tab clrT active" data-tab="SettingsGeneral">General</a>
      <a class="js-tab tab" data-tab="SettingsPage">Page</a>
    </div>

  </div>
  <div class="flexExpand posR">
    <div class="js-tabContent settingsTabContent"></div>
    <div class="settingsControls flex clrBr">
      <a class="btnTxt clrP clrBr js-cancel">Cancel</a>
      <a class="btn clrP clrBr js-save"><b>Save</b></a>
    </div>

  </div>
</div>
