<% if (!ob.seed) { %>
  <%= ob.processingButton({
    className: `btn clrP clrBr clrSh2 js-showSeed ${ob.isFetching ? 'processing' : ''}`,
    btnText: ob.polyT('settings.advancedTab.server.walletSeed.btnShowSeed'),
  }) %>
<% } else { %>
  <p><%= ob.polyT('settings.advancedTab.server.walletSeed.introLine') %></p>
  <p class="pad border clrBr clrP"><%= ob.seed %></p>
  <p><%= ob.polyT('settings.advancedTab.server.walletSeed.directionLine') %></p>
  <p class="txB row"><%= ob.polyT('settings.advancedTab.server.walletSeed.warningHeading') %></p>
  <ul class="seedWarnings">
    <li><%= ob.polyT('settings.advancedTab.server.walletSeed.warning1') %></li>
    <li><%= ob.polyT('settings.advancedTab.server.walletSeed.warning2') %></li>
    <li><%= ob.polyT('settings.advancedTab.server.walletSeed.warning3') %></li>
    <li><%= ob.polyT('settings.advancedTab.server.walletSeed.warning4') %></li>
  </ul>
<% } %>