.brandingBoxWrap {
  @extend .flexVCent;

  .brandingLogo {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    margin-right: 3px;
  }

  .brandingText {
    font-size: $tx3;
  }
}