.ctrl {
  line-height: 33px;
  padding: 0 24px;
  border-radius: $corner;
  border-width: 1px;
  border-style: solid;
  font-size: $tx5;
  font-weight: 500;
  box-sizing: border-box;
}

.btn {
  @extend .ctrl;
  display: inline-block; //add height and width, collapse the width
  cursor: pointer;
  font-weight: 700;

  &:hover {
    text-decoration: none;
    cursor: pointer;
  }

  &:focus {
    text-decoration: none;
  }

  .bar & {
    line-height: $bar;
    height: $bar;
    border: none;
  }

  .barSm & {
    line-height: $barSm;
    height: $barSm;
    border: none;
  }

  .barLg & {
    line-height: $barLg;
    height: $barLg;
    border: none;
  }

  //radio and checkbox inputs can be placed inside a button

  input[type="radio"] {
    display: none;

    & + label {

      &:hover {
        cursor: inherit;
      }

      &:before {
        content: '';
        display: inline-block;
        box-sizing: border-box;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        border-width: 1px;
        border-style: solid;
        vertical-align: middle;
        position: relative;
        top: -0.1em;
        margin-right: 0.4em;
        margin-left: -0.25em;
        //background color is assigned by the theme

        &:hover {
          cursor: inherit;
        }
      }
    }

    //checked state is set by the theme
  }

  // temporary placeholder loading button style
  &.loading {
    position: relative;

    &::after {
      content: 'Loading...';
      position: absolute;
      background-color: rgba(0,0,0,0.6); // use variablized color when refactoring
      color: white; // use variablized color when refactoring
      text-align: center;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      font-size: 14px;
      cursor: default;
      border-radius: inherit;
    }
  }
}

.btnTxt {
  @extend .btn;
  border: none;
}

.iconBtn {
  //this button has only an icon in it
  @extend .btn;
  font-size: 2rem;
  padding: 0 12px;
}

.btnThin {
  padding: 0 12px;
}

.btnStrip {
  //creates a set of buttons with no gaps between them
  & > .btn {
    border-radius: 0;
    border-right-width: 0;
    display: block; //block-inline elements have a space after them
    float: left; //float left will collapse the button and position it correctly
  }
  & > .btn:first-child {
    border-top-left-radius: $corner;
    border-bottom-left-radius: $corner;
  }
  & > .btn:last-child {
    border-top-right-radius: $corner;
    border-bottom-right-radius: $corner;
    border-right-width: 1px;
  }

}

*[class *= "ion-"]:before {
  pointer-events: none; // don't fire clicks on icons
  line-height: 1em;
}

.foldDown {
  //a hidden element that folds down when a parent or sibling is interacted with
  //this element will need a width applied in most cases
  position: absolute;
  top: 100%;
  right: 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: 0.2s ease;

  &.open {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.searchWrapper {
  //div around a search input
  position: relative;
  width: 100%;

  input {
    text-indent: 1.5em; /* make room for icon */
  }

  &:before {
    //insert a search icon before the text
    font-family: Ionicons;
    content: "\f4a5";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.75em;
    left: 0.75em;
    color: inherit;
  }
}
