.box {
  display: block;
  box-sizing: border-box;
  position: relative;
}

.boxList > * {
  //convenience class that turns all the direct descendants into blocks. Useful for lists of anchors or spans.
  @extend .box;
}

.scrollBox {
  @extend .box;
  //a height must be set on this element
  overflow-x: hidden;
  overflow-y: scroll;
}


.bar {
  @extend .box;
  height: $bar;
  padding: 0 $pad;

  input[type="text"] {
    height: 100%;
  }
}

.barSm {
  @extend .bar;
  height: $barSm;
}

.barLg {
  @extend .bar;
  height: $barLg;
}

.disc {
  //the disc can contain an image or an icon, and is usually a clickable element
  @extend .box;
  box-sizing: border-box;
  border-radius:50%;
  width: 42px;
  height: 42px;
  //fill the disc with any background image
  background-position: center;
  background-size: cover;
}

.discSm {
  @extend .disc;
  width: 38px;
  height: 38px;
}

.border {
  //use on wrapping containers that should have a border. The element should also have a clrBr class.
  border-width: 1px;
  border-style: solid;
}

.borderBottom {
  //use to separate stacked containers. The element should also have the clrBr class.
  border-bottom: {
    width: 1px;
    style: solid;
    color: inherit;
  }
}

.borderTop {
  border-top: {
    width: 1px;
    style: solid;
    color: inherit;
  }
}

.borderStacked > * {
  //use on parent element to separate stacked child containers. The element should also have the clrBr class.
  @extend .borderBottom;

  &:last-child {
    border-bottom: none;
  }
}

.contentBox {
  //used to contain content, usually main sections of the page
  @extend .box;
  border-radius: $corner;
  border-width: 1px;
  border-style: solid;
  font-size: $tx4;
}

.phraseBox {
  // use for a word or phrase in a box for emphasis, like free shipping
  @extend .box;
  padding: $padTn $padLg;
}

.listBox {
  //a vertical list of children in a box. Usually used for navigation, or to show a list of clickable elements
  @extend .contentBox, .boxList;

  .listGroup {
    border-width: 1px;
    border-style: solid;
    margin-bottom: $pad / 2;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .listItem {
    padding: $padMd2;
    font-size: 1.4rem;
    width: 100%;
    box-sizing: border-box;
    //margin-bottom: $padSm;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
