.errorList {
  color: $error;
  
  li {
    i {
      margin-right: 5px;
    }

    margin-bottom: 5px;
  }

  margin-bottom: 10px;
}

label {
  &.error {
    input, textarea {
      border: 1px solid red;
    }
  }
}