form {
  margin: 0;
  font-size: $tx5;

  label {
    line-height: $formElementHeight;
    font-weight: 500;
    -webkit-user-select: none;
    display: flex;
    align-items: center;

    .emoji {
      height: 1em;
      width: 1em;
      margin-right: 0.3em;
    }
  }
}

input::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
.txPlaceholder {
  // use txPlaceholder for non-placeholder text that needs to match the placeholder style
  color: inherit;
  opacity: 0.35;
}

input,
select,
textarea,
.trumbowyg-editor {
  border: none;
  outline: none;
  outline-color: transparent;
  background: none;
  color: inherit;
  border-radius: 3px;
  font: {
    family: "Noto Sans", sans-serif;
    size: $tx5;
  }
}

.trumbowyg-editor {
  border-radius: 0;
}

.trumbowyg textarea {
  display: none;
}

.select2-container--focus .select2-selection__rendered,
.select2Tags + .select2-container .select2-container--default .select2-selection--multiple .select2-selection__rendered,
.select2-container--focus .select2-selection {
  outline: none;
}

select {
  width: 100%;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
textarea,
.select2-container--focus .select2-selection__rendered,
.select2Tags + .select2-container .select2-container--default .select2-selection--multiple .select2-selection__rendered,
.trumbowyg-editor {
  border-style: solid;
  border-width: 1px;
  //use the color class to set the border color
  width: 100%;
  box-sizing: border-box;
  padding: 0 $pad;
  line-height: $inputHeight;

  &.btnHeight {
    line-height: $buttonHeight;
    height: $buttonHeight;
  }
}

//input[type="number"].noSpin::-webkit-outer-spin-button,
input[type="number"].noSpin::-webkit-inner-spin-button {
  display:none;
}

// TODO: style the spin buttons on normal number inputs

.inputPercentWrapper {
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  display: inline-block;

  input {
    border-radius: 0;
    border: none;
    box-shadow: none;
    width: calc(100% - 1.5em);
    padding-right: 0;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      display:none;
    }
  }

  &:after {
    content: "%";
    display: inline-block;
  }
}

.select2-container--default.select2-container--focus .select2-selection {
  border: none;
}

textarea {
  background: none;
  outline: none;
  -webkit-appearance: none;
  resize: none;
  line-height: 1.2em;
  padding: $pad;
  overflow: hidden;

  &:focus {
    overflow: auto;
  }

  &.resizable {
    resize: vertical;
  }
}

.errorList {
  color: $error;
  word-wrap: break-word;

  li {
    i {
      margin-right: 5px;
    }

    margin-bottom: 5px;
  }

  margin-bottom: 10px;
}

label {
  &.error {
    input, textarea {
      border: 1px solid red;
    }
  }
}

.required::after {
  content: '*';
  position: absolute;
  font-size: 130%;
}

// By default, using width values appropriate for currency codes.
// Overwrite in your own implementation if you need to deviate.
.inputSelect {
  position: relative;

  input {
    padding-right: 75px;
  }

  .select2-container {
    width: 70px !important;
    position: absolute;
    right: 1px;
    top: 1px;

    .select2-selection {
      border-width: 0;
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 6px;
    bottom: 6px;
    right: 71px;
    width: 1px;
    background-color: #DDD;
  }
}

input[type="radio"]:checked + label {
  font-weight: 700;
}

input[type="checkbox"] {
  // visually hide the checkbox, but keep it in the DOM so it's still functional
  visibility: hidden;
  z-index: -1;
  position: absolute;

  & + label {
    position: relative;
    display: flex;
    align-items: baseline;
    cursor: pointer;

    &:before {
      content: '';
      position: relative;
      display: inline-block;
      flex-shrink: 0;
      box-sizing: border-box;
      width: 1.4em;
      height: 1.4em;
      top: 0.35em;
      border: 0.12em solid #000;
      border-radius: 0.3em;
      margin-right: 0.4em;
    }

    &:after {
      content: '';
      position: absolute;
      display: inline-block;
      flex-shrink: 0;
      box-sizing: border-box;
      top: 0.7em;
      left: 0.3em;
      width: 0.8em;
      height: 0.5em;
      background: transparent;
      border: 0.17em solid #000;
      border-top: none;
      border-right: none;
      opacity: 0;
      transform: rotate(-45deg);
      transition: opacity 0.5s;
    }

    &:hover:after {
      opacity: 0.5;
    }
  }

  &:checked + label:after {
    opacity: 1;
  }

  &.fauxChecked {
    // checkbox cannot be clicked, and shows a fake checked mark.
    pointer-events: none;

    & + label {
      pointer-events: none;

      &:after {
        opacity: 1;
      }
    }
  }

  &.centerLabel {
    & + label {
      align-items: center;
    }
  }
}
