form {
  margin: 0;
  font-size: $tx5;

  label {
    line-height: $formElementHeight;
    font-weight: 500;
  }
}

input::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.35;
}


input,
select,
textarea,
.medium-editor-element {
  border: none;
  outline: none;
  background: none;
  color: inherit;
  border-radius: 3px;
  font: {
    family: "Noto Sans", sans-serif;
    size: $tx5;
  }
}

.select2-container--focus .select2-selection__rendered,
.select2Tags + .select2-container .select2-container--default .select2-selection--multiple .select2-selection__rendered,
.select2-container--focus .select2-selection {
  outline: none;
}

select {
  width: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
.select2-container--focus .select2-selection__rendered,
.select2Tags + .select2-container .select2-container--default .select2-selection--multiple .select2-selection__rendered,
.medium-editor-element {
  border-style: solid;
  border-width: 1px;
  //use the color class to set the border color
  width: 100%;
  box-sizing: border-box;
  padding: 0 $pad;
  line-height: 40px;
}

.medium-editor-element {
  padding-top: $padSm;
}

.select2-container--default.select2-container--focus .select2-selection {
  border: none;
}

textarea {
  background: none;
  outline: none;
  -webkit-appearance: none;
  resize: none;
  line-height: 1.2em;
  padding: $pad;
}

.tip {
  font-size: 1rem;
}

.errorList {
  color: $error;

  li {
    i {
      margin-right: 5px;
    }

    margin-bottom: 5px;
  }

  margin-bottom: 10px;
}

label {
  &.error {
    input, textarea {
      border: 1px solid red;
    }
  }
}

.required::after {
  content: '*';
  position: absolute;
  font-size: 130%;
}

// By default, using width values appropriate for currency codes.
// Overwrite in your own implementation if you need to deviate.
.inputSelect {
  position: relative;

  input {
    padding-right: 75px;
  }

  .select2-container {
    width: 70px !important;
    position: absolute;
    right: 1px;
    top: 1px;

    .select2-selection {
      border-width: 0;
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 6px;
    bottom: 6px;
    right: 71px;
    width: 1px;
    background-color: #DDD;
  }
}

input[type="radio"]:checked + label {
  font-weight: 700;
}

