.listingsGrid {
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  z-index: 0; // contain any positioned elements

  &:before,
  &:after {
    // this creates a pair of pseudo elements that fill any gaps in the last row of the grid
    content: '';
    width: 225px;
    order: 999999999;
  }

  .listingCard {
    margin-bottom: $padMd;
    font-size: $tx5b;

    // todo: adjust this when full width listings is implemented
    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  &.listingsGridListView {
    margin: 0;

    .listingCard {
      margin: 0;
      border-radius: 0;
      padding: 6px;
      box-sizing: border-box;

      &:first-child {
        // we want the first listView row to have a border radius
        border-top-left-radius: $corner;
        border-top-right-radius: $corner;
      }

      &:last-child {
        // we want the last listView row to have a border radius
        border-bottom-left-radius: $corner;
        border-bottom-right-radius: $corner;
      }

      &:not(:last-child) {
        border-bottom-color: transparent;

        &:hover {
          border-bottom-color: inherit;
        }
      }
    }
  }

  &:empty {
    &::after {
      content: attr(data-no-results-text);
    }
  }
}
