// This file is a place for component styles that are too few for their own file
// and don't make sense in any of the existing files
.closeIcon {
  position: relative;
  width: 24px;
  height: 24px;

  span {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-25%, -25%);
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.trumbowyg .trumbowyg-editor {
  height: auto !important;
  /* gross hack to stop trumbowyg from setting inline height to huge numbers when external
  images are added */
}
