.modal {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);

  .modalContent {
    padding: 20px;
    min-width: 300px;
    max-height: 500px;
    background-color: #fff;
    overflow: auto;
    @include center;
  }

  .modalClose {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    cursor: pointer;
  }
}

// temporary test code
.modal {
  &.testModal .modalContent {
    background-color: orange;
  }

  &.testModal2 .modalContent {
    background-color: pink;
  }
}
