.modal {
  position: absolute;
  top: $bar;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: $overlay;

  .modalContent {
    padding: $padHg;
    min-width: 300px;
    max-height: 500px;
    overflow: auto;
    @include center;
    left: calc(50% - #{$chatClosed / 2});
    @include chatOpeningTransition(left);

    .chatOpen & {
      left: calc(50% - #{$chatOpen / 2});
    }
  }
}

// temporary test code
.modal {
  &.testModal .modalContent {
    background-color: orange;
  }

  &.testModal2 .modalContent {
    background-color: pink;
  }
}
