.modal {
  position: absolute;
  top: $bar;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: $overlay;

  .modalContent {
    padding: $padHg;
    min-width: 300px;
    max-height: calc(100% - 50px);
    overflow: auto;
    border-radius: $corner;
    @include center;
    left: calc(50% - #{$chatClosed / 2});
    @include chatOpeningTransition(left);

    .chatOpen & {
      left: calc(50% - #{$chatOpen / 2});
    }
  }

  &.modalTop .modalContent {
    top: $padLg;
    @include center(true, false);
    left: calc(50% - #{$chatClosed / 2});

    .chatOpen & {
      left: calc(50% - #{$chatOpen / 2});
    }
  }

  &.modalScrollPage {
    overflow-y: scroll;

    .modalContent {
      max-height: none;
      margin-bottom: $padLg;
    }
  }
}

// temporary test code
.modal {
  &.testModal .modalContent {
    background-color: orange;
  }

  &.testModal2 .modalContent {
    background-color: pink;
  }
}
