.modal {
  position: absolute;
  top: $bar;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: $overlay;

  .modalContent {
    min-width: 300px;
    max-height: calc(100% - 50px);
    border-radius: $corner;
    @include center;
    left: calc(50% - #{$chatClosed / 2});
    @include chatOpeningTransition(left);
    margin-bottom: 100px;

    .chatOpen & {
      left: calc(50% - #{$chatOpen / 2});
    }

    & > .cornerTR {
      top: -40px;
      right: 0;
    }
  }

  &.modalTop .modalContent {
    top: $padMd;
    @include center(true, false);
    left: calc(50% - #{$chatClosed / 2});

    .chatOpen & {
      left: calc(50% - #{$chatOpen / 2});
    }
  }

  &.modalScrollPage {
    overflow-y: scroll;
    transform: none;

    .modalContent {
      max-height: none;
      margin-bottom: $padGi;
      padding: 0;
      width: $modalContentInner;
      overflow: visible;
      left: 0;
      transform: none;
      // adjust by 20 px to visually center
      margin-left: calc(((100% - (#{$modalContentInner + $chatClosed})) / 2) + 20px);
      @include chatOpeningTransition(margin-left);
      margin-bottom: 100px;

      .chatOpen & {
        left: 0;
        // adjust by 5px to visually center
        margin-left: calc(((100% - (#{$modalContentInner + $chatOpen})) / 2) + 5px);
      }

      & > .cornerTR {
        right: auto;
        left: calc(#{$modalContentInner} - #{$buttonHeight});
        top: 0;
      }

      .topControls {
        margin-bottom: $padSm;
        height: 35px;
      }
    }
  }
}
