.select2-container {
  font-size: $tx5;

  .select2-selection {
    border-radius: 0;
    height: $formElementHeight;

    .select2-selection__rendered {
      line-height: $formElementHeight;
    }

    .select2-selection__arrow {
      height: $formElementHeight;
      width: $formElementHeight;

      b {
        border-width: 10px 7px 0 7px;
        margin-left: -6px;
        margin-top: -5px;
      }
    }
  }
}
