.tabbedModal {

  .modalContent {
    width: 906px;
    min-height: 640px;
    padding: 0;

    .tabColumn {
      width: 194px;
      border-right-width: 1px;
      border-right-style: solid;

      .tab {
        padding: $pad/2 $pad/2 $pad/2 $pad;

        // Setting the border here as transparent, so there's no flicker
        // when the colored border is added.
        border-right: none;
        border-top: none;
        border-bottom: none;
        border-left: solid 2px;
        border-color: transparent;

        &.active {
          // Use the clrBr class on the .tab.active for the border color.          
          border-color: black; // todo: temporary pending css specifity fix.
          font-weight: 500;
        }
      }
    }

    // .tabContent {
    //   .tabFormWrapper {
    //     height: 560px;
    //   }      
    // }

    .tabControls {
      height: 80px;
      padding: $pad * 1.5;
      border-top-style: solid;
      border-top-width: 1px;
      align-items: center;
      justify-content: flex-end;

      .saveStatus {
        flex-grow: 1;
        font-size: $tx5;
      }

      & > .btn {
        margin-right: $padSm;
        font-size: $tx4;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

}
