.tabbedModal {
  .modalContent {
    width: 950px;

    .cornerTR {
      right: 25px;
    }
  }

  .tabColumn {
    min-width: 190px;

    .tab {
      position: relative;

      &.active {
        font-weight: bold;

        &::after {
          content: "";
          display: block;
          border-width: 1px;
          border-style: solid;
          height: 100%;
          position: absolute;
          left: -16px;
          top: 0;
        }
      }
    }
  }

  .tabContent {
    max-width: 757px;
  
    .cornerTR {
      right: 15px;
      top: 8px;
      font-size: $tx5;
    }
  }

  &.fixedNav {
    .tabColumn {
      position: fixed;
      top: 57px;
    }

    .tabContent {
      margin-left: 200px;
    }
  }
}
