// typography

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
  margin: 0;
  font-weight: 700;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0.5em;
  overflow-x: hidden; //if the text inside a headline is too long, truncate it
  overflow-y: visible;
  text-overflow: ellipsis;

  &.txUnb {
    font-weight: 300;
  }
}

// all font sizes are multiples of the base rem. This allows us to increase or decrease all the fonts by changing the
// font size on the html element (useful for accessibility and small screens).

// us h classes for headlines, tx classes for body text

h1, .h1, .tx1 {
  font-size: $tx1;
}

h2, .h2, .tx2 {
  font-size: $tx2;
}

h3, .h3, .tx3 {
  font-size: $tx3;
}

h4, .h4, .tx4 {
  font-size: $tx4;
}

h5, .h5, .tx5 {
  font-size: $tx5;
}

h6, .h6, .tx6 {
  font-size: $tx6;
}

p {
  white-space: pre-line;
  margin: 0;
  line-height: 1.3;
  -webkit-margin-before: 0;
  -webkit-margin-after: 1em;

  a {
    text-decoration: underline;
  }
}

* p:last-child {
  //if the paragraph is the last item in the container, remove the bottom margin
  -webkit-margin-after: 0;
}

.note {
  font-size: 0.9rem;
}

.txUnl {
  margin-bottom: 0;
}

.txCtr {
  text-align: center;
}

.txUnb {
  font-weight: 400;
}

.ic90r:before {
  //rotate icon 90 degrees
  transform: rotate(90deg);
}

.noOverflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.clamp2 {
  /* adds an ellipses to the end of wrapped text after 2 lines */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.clamp4 {
  /* adds an ellipses to the end of wrapped text after 4 lines */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
