<%
  let convertedCurrency;

  try {
    convertedCurrency = ob.currencyMod.convertCurrency(ob.balance, ob.code, ob.displayCur);
  } catch (e) {
    if (e instanceof ob.NoExchangeRateDataError) {
     // pass - we'll just show the unconverted amount if the exchange rate data isn't
     // available
    } else {
      throw e; // let others bubble up
    }
  }

  const formattedBalance = convertedCurrency === undefined || convertedCurrency < 1000000 ?
    ob.currencyMod.formatCurrency(convertedCurrency, ob.displayCur) :
    ob.abbrNum(convertedCurrency);
  const balanceText = ob.balance ?
    `<span class="clrTEm txB">${formattedBalance}</span>` : formattedBalance;
  const amount = ob.active ?
    '<i class="ion-arrow-right-c clrT2 activeBalanceIcon"></i>' :
    balanceText;
%>

<%= ob.crypto.cryptoIcon({
  code: ob.code,
  className: 'flexNoShrink',
}) %>
<div class="flexExpand lineHeight1 <%= ob.active ? 'clrT' : '' %> coinName"><%= ob.polyTFallback(`cryptoCurrencies.${ob.code}`, ob.code) %></div>
<div class="flexNoShrink <%= ob.balance > 0 ? 'clrTEm' : '' %>">
  <div class="flexVCent flexHRight"><%= amount %></div>
</div>