<%
  const showDisplayCur = ob.displayCur !== ob.cur;
  const colClass = showDisplayCur ? 'col4 statCol' : 'col6 statCol';
%>
<div>
</div>
<div class="flex colWrap">
  <div class="<%= colClass %> flexExpand">
    <div class="flexCol flexHCent gutterVSm">
      <div class="txB tx5">Balance</div>
      <div class="clrTEm txB tx2">1.5678</div>
      <div class="clrT2 tx5b lineHeight1">(0.23885 unconfirmed)</div>      
    </div>
  </div>
  <% if (showDisplayCur) { %>
    <div class="<%= colClass %> flexExpand displayCurCol">
      <div class="flexCol flexHCent gutterVSm clrBr displayCurColContent">
        <div class="txB tx5">Value in USD</div>
        <div class="clrTEm txB tx2">$134.56</div>
      </div>
    </div>
  <% } %>
  <div class="<%= colClass %> flexExpand">
    <div class="flexCol flexHCent gutterVSm">
      <div class="txB tx5">Transactions</div>
      <div class="clrTEm txB tx2">23</div>
    </div>
  </div>
</div>
