<div class="padLg txCtr">
  <%=
    ob.crypto.tradingPair({
      className: 'cryptoTradingPairXL hideCodes rowMd',
      fromCur: 'BTC',
      toCur: 'ZEC',
    })
  %>
  <p class="tx4 rowMd">
    <%
      const coinCount =
        `<b>${ob.polyT('wallet.cryptoTeaser.coinCount', { count: 1500 })}</b>`;
    %>
    <%= ob.polyT('wallet.cryptoTeaser.bodyLine', { coinCount }) %>
  </p>
  <div class="rowMd">
    <a class="btn js-createListing clrP clrBr clrSh3">
      <%= ob.polyT('wallet.cryptoTeaser.btnCreateListing') %>
    </a>
  </div>
  <% if (ob.viewCryptoListingsUrl) { %>
    <div>
      <a class="tx6 txU js-viewCryptoListings" href="<%= ob.viewCryptoListingsUrl %>">
        <%= ob.polyT('wallet.cryptoTeaser.linkViewCryptoListings') %>
      </a>
    </div>
  <% } %>
</div>
