<form class="padMdKids padStack">
  <div class="flexRow gutterHLg">
    <div class="col2">
      <div class="flexVCent flexHRight">
        <label for="walletSendTo" class="required"><%= ob.polyT('wallet.sendMoney.toLabel') %></label>
      </div>
    </div>
    <div class="col9">
      <% if (ob.errors.address) print(ob.formErrorTmpl({ errors: ob.errors.address })) %>
      <input type="text" class="clrBr clrSh2 <% if (ob.saveInProgress) print('disabled') %>" name="address" id="walletSendTo" value="<%= ob.address %>" placeholder="<%= ob.polyT('wallet.sendMoney.toPlaceholder', { cur: ob.polyT(`cryptoCurrencies.${ob.coinType}`, { _: ob.coinType }) }) %>">
    </div>
  </div>
  <div class="flexRow gutterHLg">
    <div class="col2">
      <div class="flexVCent flexHRight">
        <label for="walletSendAmount" class="required"><%= ob.polyT('wallet.sendMoney.amountLabel') %></label>
      </div>
    </div>
    <div class="col9">
      <% if (ob.errors.amount) print(ob.formErrorTmpl({ errors: ob.errors.amount })) %>
      <% if (ob.errors.currency) print(ob.formErrorTmpl({ errors: ob.errors.currency })) %>
      <div class="inputSelect <% if (ob.saveInProgress) print('disabled') %>">
        <input type="text" class="clrBr clrP clrSh2" name="amount" id="walletSendAmount" value="<%= ob.number.toStandardNotation(ob.amount) %>" placeholder="0.00" data-var-type="bignumber">
        <select id="walletSendCurrency" name="currency" class="clrBr clrP nestInputRight">
          <% ob.currencies.forEach((currency) => {%>
          <option value="<%= currency.code %>" <% if (currency.code === ob.currencyCode) print('selected'); %>><%= currency.code %></option>
          <% }); %>
        </select>
      </div>
    </div>
  </div>
  <div class="flexRow gutterHLg">
    <div class="col2">
      <div class="flexVCent flexHRight">
        <label for="walletSendNote"><%= ob.polyT('wallet.sendMoney.noteLabel') %></label>
      </div>
    </div>
    <div class="col9">
      <% if (ob.errors.memo) print(ob.formErrorTmpl({ errors: ob.errors.memo })) %>
      <input type="text" class="clrBr clrSh2 <% if (ob.saveInProgress) print('disabled') %>" name="memo" id="walletSendNote" value="<%= ob.memo %>" placeholder="<%= ob.polyT('wallet.sendMoney.notePlaceholder') %>">
    </div>
  </div>
  <div class="flexVCent">
    <div class="flexExpand">
      <div class="flexHRight flexVCent gutterH col11">
        <a class="js-sendMoneyClear flexNoShrink"><%= ob.polyT('wallet.sendMoney.clear') %></a>
        <div class="posR">
          <%= ob.processingButton({
            className: `js-btnSend btn clrBAttGrad clrBrDec1 clrTOnEmph ${ob.saveInProgress ? 'processing' : ''}`,
            btnText: ob.polyT('wallet.sendMoney.sendBtn')
          }) %>
          <div class="js-sendConfirmContainer"></div>
        </div>
      </div>
    </div>
  </div>
</form>