<% if (ob.show) { %>
  <div class="confirmBox sendConfirm arrowBoxTop clrBr clrP clrT clrSh1">
    <% if (ob.fetchingFee) {
        // invisible heading for spacing purposes
    %>
    <div class="tx3 txB rowSm invisible"><%= ob.polyT('wallet.spendConfirmBox.heading') %></div>
    <% } else { %>
    <div class="tx3 txB rowSm"><%= ob.polyT(ob.fetchError ? 'wallet.spendConfirmBox.errorHeading' : 'wallet.spendConfirmBox.heading') %></div>
    <% } %>
    <div class="posR padSm">
    <% if (ob.fetchingFee) { %>
      <div class="txCtr"><%= ob.spinner({ className: 'spinnerMd' }) %></div>
    <% } else if (ob.fetchFailed) {
      if (ob.fetchError === 'ERROR_INSUFFICIENT_FUNDS') { %>
        <p class="clrT2">
          <%= ob.polyT('wallet.spendConfirmBox.bodyInsufficientFunds') %>
        </p>
      <% } else if (ob.fetchError === 'ERROR_DUST_AMOUNT') { %>
        <p class="clrT2">
          <%= ob.polyT('wallet.spendConfirmBox.bodyDustAmount') %>
        </p>
      <% } else { %>
        <p class="clrT2">
          <%= ob.polyT('wallet.spendConfirmBox.bodyGenericError', { err: ob.fetchError || '' }) %>
        </p>
        <a class="js-sendConfirmRetry"><%= ob.polyT('wallet.spendConfirmBox.btnRetry') %></a>
      <% } %>
    <% } else if (typeof ob.fee === 'number') {
      let feeText = ob.currencyMod.pairedCurrency(
        ob.fee,
        ob.coinType,
        ob.displayCurrency
      );
    %>
      <p class="clrT2">
        <%= ob.polyT('wallet.spendConfirmBox.body', {
          currencyPairing: feeText,
        }) %>
      </p>
    <% } %>
    </div>
    <hr class="clrBr row" />

    <div class="flexHRight flexVCent gutterHLg">
      <% if (ob.fetchingFee) {
        // invisible button for spacing purposes
      %>
      <a class="btn clrBAttGrad clrBrDec1 clrTOnEmph invisible"><%= ob.btnSendText %></a>
      <% } else if (!ob.fetchFailed) { %>
      <a class="js-sendConfirmCancel"><%= ob.polyT('wallet.spendConfirmBox.btnCancel') %></a>
      <a class="btn clrBAttGrad clrBrDec1 clrTOnEmph js-btnConfirmSend"><%= ob.btnSendText %></a>
      <% } else { %>
      <a class="js-sendConfirmClose"><%= ob.polyT('wallet.spendConfirmBox.btnClose') %></a>
      <% } %>
    </div>
  </div>
<% } %>
