<%
  const getTextSize = function(str) {
    if (str.length > 19) {
      return 'tx4';
    } else if (str.length > 14) {
      return 'tx3';
    } else {
      return 'tx2';
    }
  };

  const formattedBtc = ob.formatUnitlessBtc(1.2923);
  const btcTextSize = getTextSize(formattedBtc);
  const formattedFiat = ob.formatCurrency(928.21, 'USD');
  const fiatTextSize = getTextSize(formattedFiat);
%>
<div class="rowLg flexColRows gutterV">
  <div>
    <div class="clrTEmph1 <%= btcTextSize %> txB"><%= formattedBtc %></div>
    <div><%= ob.polyT('wallet.btcCurrencyLabel') %></div>
  </div>
  <div>
    <div class="clrTEmph1 <%= fiatTextSize %> txB"><%= formattedFiat %></div>
    <div><%= ob.polyT('wallet.valueInCurrencyLabel', { currency: 'USD' }) %></div>
  </div>
  <div>
    <div class="clrTEmph1 tx2 txB">27</div>
    <div><%= ob.polyT('wallet.transactionsLabel') %></div>
  </div>            
</div>
