<%
  const getTextSize = function(str) {
    if (str.length > 19) {
      return 'tx4';
    } else if (str.length > 14) {
      return 'tx3';
    } else {
      return 'tx2';
    }
  };

  const formattedBtc = ob.formatUnitlessBtc(ob.balance);
  const btcTextSize = getTextSize(formattedBtc);
  const formattedFiat = ob.convertAndFormatCurrency(ob.balance, 'BTC', ob.userCurrency);
  const fiatTextSize = getTextSize(formattedFiat);
%>
<div class="rowLg flexColRows gutterV">
  <div>
    <div class="clrTEmph1 <%= btcTextSize %> txB"><%= formattedBtc %></div>
    <div><%= ob.polyT('wallet.btcCurrencyLabel') %></div>
  </div>
  <% if (ob.userCurrency !== 'BTC') { %>
  <div>
    <div class="clrTEmph1 <%= fiatTextSize %> txB"><%= formattedFiat %></div>
    <div><%= ob.polyT('wallet.valueInCurrencyLabel', { currency: ob.userCurrency }) %></div>
  </div>
  <% } %>
  <div>
    <div class="clrTEmph1 tx2 txB">27</div>
    <div><%= ob.polyT('wallet.transactionsLabel') %></div>
  </div>            
</div>
