<div class="flexColRows gutterV">
  <div class="topControls flexRow">
    <div class="contentBox padSm clrP clrBr clrSh3 gutterHTn">
      <div class="flexVCent walletIconWrap"><%= ob.walletIconTmpl() %></div>
      <span><%= ob.polyT('wallet.title') %></span>
      <a class="jsModalClose tx6 txU"><%= ob.polyT('wallet.closeLink') %></a>
    </div>
    <div class="js-btcTickerContainer btcTickerContainer"></div>
  </div>
  <div class="flex gutterH">
    <div class="col3">
      <div class="js-coinNavContainer"></div>
      <div class="js-transactions"></div>
    </div>
    <div class="col9"></div>
  </div>
</div>