<%
const starRating = function(rating) {
  let stars = '';
  for(let i = 0; i < 5; i++) {
    const fade = i >= rating ? 'fade' : '';
    const star = ob.parseEmojis('⭐', fade);
    stars += star;
  }
  return stars;
}
%>

<div class="flexRow gutterHLg">
  <div class="col8">
    <% if (ob.buyerID) { %>
      <div class="row">
        <% const nameLink = `<a class="clrT txU" href="${ob.buyerID.peerID}">${ob.buyerName}</a>`; %>
        <b><%= ob.polyT('listingDetail.review.title', { time: ob.moment(ob.timestamp).format('MMM Do YYYY h:mm a'), name: nameLink }) %></b>
      </div>
    <% } %>
    <div class="reviewTextWrapper js-reviewTextWrapper">
      <p class="reviewText js-reviewText"><%= ob.review %></p>
    </div>
  </div>
  <div class="col4">
    <table class="ratings">
      <tr>
        <td><b><%= ob.polyT('ratingLabels.overall') %></b></td>
        <td class="ratingsContainer" data-rating-type="overall"></td>
      </tr>
      <tr>
        <td><%= ob.polyT('ratingLabels.quality') %></td>
        <td class="ratingsContainer" data-rating-type="quality"></td>
      </tr>
      <tr>
        <td><%= ob.polyT('ratingLabels.asAdvertised') %></td>
        <td class="ratingsContainer" data-rating-type="description"></td>
      </tr>
      <tr>
        <td><%= ob.polyT('ratingLabels.delivery') %></td>
        <td class="ratingsContainer" data-rating-type="deliverySpeed"></td>
      </tr>
      <tr>
        <td><%= ob.polyT('ratingLabels.service') %></td>
        <td class="ratingsContainer" data-rating-type="customerService"></td>
      </tr>
    </table>

  </div>
</div>

