<div class="contentBox padLg clrP clrBr clrSh3">
  <h2 class="txUnb"><%= ob.polyT('listingDetail.reviews') %></h2>
  <% if (ob.reviewsLength) { %>
  <div class="js-reviewWrapper"></div>
  <div class="clrTErr js-errors"></div>
  <div class="flexHCent loadMore clrBr js-loadMore">
    <%= ob.processingButton({
    className: 'btn clrP clrBr js-loadMoreBtn',
    btnText: ob.polyT('listingDetail.review.loadMore')
    }) %>
  </div>
  <% } else { %>
    <div>
      <i class="clrT2"><%= ob.polyT('listingDetail.review.noReviews') %></i>
    </div>
  <% } %>
</div>
