<% if (ob.templateData.length) { %>
  <% ob.templateData.forEach((option, tdi) => { %>
    <% if (tdi > 0) { %>
      <hr class="clrBr">
    <% } %>
    <div class="rowLg tx4">
      <div class="flexRow row">
        <h3 class="col8 rowLg"><%= option.name %></h3>
        <% if (option.type === "LOCAL_PICKUP") { %>
          <div class="col4">
            <%= ob.polyT('listingDetail.localPickup') %>
          </div>
        <% } %>
      </div>    
      <% option.services.sort((a,b) => parseFloat(a.price) - parseFloat(b.price)).forEach((service) => { %>
        <% if (service.price === 0) var fShp = true; %>
        <div class="flexRow rowLg <% if (fShp) { %>txB<% } %>">
          <div class="col4">
            <div class="flex gutterH">
              <div class="floL"><%= service.name %></div>
              <% if (fShp) { %>
                <div class="clrE1 clrTOnEmph phraseBox floL">
                  <%= ob.polyT('listingDetail.freeShippingBanner') %>
                </div>
              <% } %>
            </div>
          </div>
          <div class="col4"><%= service.estimatedDelivery %></div>
          <div class="col4">
            <%= ob.convertAndFormatCurrency(service.price, ob.pricingCurrency, ob.displayCurrency) %>
          </div>
        </div>
      <% }) %>

    </div>
  <% }); %>
<% } else { %>
  <div class="rowLg tx4 txCtr">
    <%= ob.polyT('listingDetail.noShippingFound') %>
  </div>
<% } %>
