<div class="brandingBox flexVCent">
  <div class="brandSmall floL" style="background-image: url('../imgs/obVectorIcon.svg');"></div>
  <div class="floL">
    <div class="logo"><%= ob.polyT('about.brand') %></div>
    <div class="flex">
      <%= ob.cryptoIcon({ className: 'gemSmall margRTn'}) %>
      <i class="gemSmall margRTn" style="background-image: url('../imgs/globeIcon64.png');"></i>
      <i class="gemSmall margRTn" style="background-image: url('../imgs/peaceIcon64.png');"></i>
    </div>
  </div>
</div>
