<div class="pageContent">
  <div class="rowLg">
    <div class="flex">
      <h1 class="flexExpand"><%= ob.polyT('connectedPeersPage.heading') %></h1>
      <div class="tx4 border clrBr clrP pad"><%= ob.polyT('connectedPeersPage.totalPeers', { totalPeers: ob.peers.length }) %></div>
    </div>
  </div>
  <div class="userPageFollow">
    <div class="userCardsContainer flexRow js-peerWrapper"></div>
  </div>

  <input type="text" id="testS" value="moo,shoe,chicken" />

  <br />
  <br />
  <br />
  <br />
  <br />

  <select id="pickles">
    <option>Moo</option>
    <option selected>Foo</option>
    <option>Zoo</option>
  </select>  

  <div class="js-morePeers hide">
    <hr class="clrBr">
    <a class="btn clrBr clrP js-morePeersBtn">Load More</a>
  </div>
</div>
