<div class="pad tx4">
  <h1><%= ob.polyT('connectedPeersPage.heading') %></h1>
  <p><em><%= ob.polyT('connectedPeersPage.infoMessage') %></em></p>
  <% if (ob.peers.length) { %>
    <ul>
    <% ob.peers.forEach(peer => print(`<li><a href="#${peer}">${peer}</a></li>`)) %>
    </ul>
  <% } else { %>
    <p><%= ob.polyT('connectedPeersPage.noResults') %></p>
  <% } %>
</div>

  <!-- <a href="http://stackoverflow.com/questions/6941533/get-protocol-domain-and-port-from-url/26434126#26434126">External</a>
  <a href="https://stackoverflow.com/questions/6941533/get-protocol-domain-and-port-from-url/26434126#26434126">External secure</a>
  <a href="ftp://ftp.funet.fi/pub/standards/RFC/rfc959.txt">External FTP</a>
  <a href="mailto:rmisio@yahoo.com">Mailto link</a>
  <a href="#transactions">internal link with hash</a>
  <a href="#transactions/">internal link with hash and trailing slash</a>
  <a href="transactions">internal link without hash</a>
  <a href="/transactions">internal link without hash with leading slash</a>
  <a href="/transactions/">internal link without hash with leading slash and trailing slash</a> -->