<div class="pageContent">
  <div class="rowLg">
    <div class="flex">
      <h1 class="flexExpand"><%= ob.polyT('connectedPeersPage.heading') %></h1>
      <div class="tx4 border clrBr clrP pad"><%= ob.polyT('connectedPeersPage.totalPeers', { smart_count: ob.peers.length }) %></div>
    </div>
  </div>
  <div class="userPageFollow">
    <div class="userCardsContainer flexRow js-peerWrapper"></div>
  </div>

  <div class="js-morePeers hide">
    <hr class="clrBr">
    <a class="btn clrBr clrP js-morePeersBtn"><%= ob.polyT('connectedPeersPage.loadMore') %></a>
  </div>
</div>
