<div class="flexVCent">
  <div class="flexNoShrink">
    <% const userLink = ob.peerID ? `href="#${ob.peerID}"` : ''; %>
    <div class="userIconWrap">
      <a <%= userLink %>>
        <div class="userIcon disc clrBr2 clrSh1" style="<%= ob.getAvatarBgImage(ob.avatarHashes || {}) %>"></div>
      </a>
      <div class="blockedAvatarOverlay disc clrBr2 clrSh1 clrP clrT"><i class="ion-eye-disabled center"></i></div>
    </div>
  </div>
  <div class="flexExpand">
    <%
      let textSizeClass = '';
      if (ob.name.length > 30) {
        textSizeClass = 'tx3';
      }
    %>
    <h1 class="h2 txUnb txUnl clamp <%= textSizeClass %>"><a <%= userLink %> class="clrT"><%= ob.name %></a></h1>
    <div class="txt5b gutterHSm">
      <span class="clrT">
        <%= ob.parseEmojis('📍', '', { style: 'width: 10px' }) %> <%= ob.location || ob.polyT('userPage.noLocation') %>
      </span>
      <% if (ob.followsYou) { %>
      <span><%= ob.parseEmojis('👥', '', { style: 'width: 10px' }) %> <%= ob.polyT('userPage.followsYou') %></span>
      <% } %>
      <a class="ratingStrip js-rating">
        <% print(`${ob.formatRating(ob.stats.averageRating, ob.stats.ratingCount)}`) %>
      </a>
    </div>
  </div>
</div>
