<div class="moderatorCardInner js-moderatorCard flexRow gutterH clrP">
  <div>
    <a class="userIcon disc clrBr2 clrSh1" style="<%= ob.getAvatarBgImage(ob.avatarHashes) %>"></a>
  </div>
  <div class="moderatorCardMiddle">
    <div class="flex snipKids gutterHSm rowSm">
      <strong class="txt5"><%= ob.name %></strong>
      <span class="clrT2"><%= ob.handle %></span>
    </div>
    <div class="row clrT2">
      <p class="clamp2"><%=ob.modInfo.description %></p>
    </div>
    <div class="flex snipKids gutterH tx5">
      <div class="flexNoShrink"><i class="ion-thumbsup">XX</i><% // placeholder for reputation %> </div>
      <div class="flexNoShrink">
        <% var amount = ob.convertAndFormatCurrency(ob.modInfo.fee.fixedFee.amount, ob.modInfo.fee.fixedFee.currencyCode, ob.displayCurrency) %>
        <%= ob.polyT(`moderatorCard.${ob.modInfo.fee.feeType}`, { amount: amount, percentage: ob.modInfo.fee.percentage }) %>
      </div>
      <div class="">📍 <%= ob.location || ob.polyT('userPage.noLocation') %></div>
    </div>
  </div>
  <div>
    <button class="btn clrP clrBr"><%= ob.polyT('moderatorCard.view') %></button>
  </div>
</div>
<div class="moderatorCardSeperator clrBr"></div>
