<div class="listGroup clrP clrBr serverList">
  <% ob.servers.forEach(server => { %>
  <% const serverListItemTagname = ob.connectedServer === server.id ? 'span' : 'a' %>
  <<%= serverListItemTagname %> class="listItem js-navListItem js-serverListItem" data-server-id="<%= server.id %>">
    <span>
      <% if (ob.connectedServer === server.id) { %>
        <span class="connectedIcon ion-ios-checkmark-empty clrTEmph1 tx1"></span>
      <% } %>
      <%= server.name %>
    </span>
  </<%= serverListItemTagname %>>
  <%}) %>
</div>
<div class="listGroup clrP clrBr">
  <a class="listItem js-navListItem js-newServer">
    <span><%= ob.polyT('pageNav.serversMenu.newServer') %></span>
  </a>
  <a class="listItem js-navListItem js-manageServers">
    <span><%= ob.polyT('pageNav.serversMenu.manageServers') %></span>
  </a>
</div>
