<header>
  <nav class="bar clrBr clrP navBar">
    <div class="flexVCent">
      <div class="windowControlsHolder">
        <div class="windowControls">
          <a class="navClose js-navClose">
            <span class="ion-ios-close-empty"></span>
          </a>
          <a class="navMin js-navMin">
            <span class="ion-ios-minus-empty"></span>
          </a>
          <a class="navMax js-navMax">
            <span class="ion-ios-plus-empty"></span>
          </a>
        </div>
      </div>
      <div>
        <div class="flexVCent iconPad">
          <a class="iconBtn ion-chevron-left js-navBack"></a>
          <a class="iconBtn ion-chevron-right js-navFwd"></a>
          <a class="iconBtn ion-refresh js-navReload"></a>
        </div>
      </div>
      <div class="rowDivV clrBrBk"></div>
      <div class="pageNavCenter">
        <div class="flexVCent gutterHSm">
          <div class="searchWrapper">
            <input type="text" class="js-addressBar flexExpand addressBar clrSh2 clrBr4"
                   placeholder="<%= ob.polyT('addressBarPlaceholder') %>" value="<%= ob.addressBarText %>" />
            <div class="torIndicator toolTipNoWrap txCtr" data-tip="<%= ob.polyT('pageNav.torOnTooltip') %>"></div>
          </div>
          <% if (ob.testnet) { %>
            <div id="testnetFlag" class="btn barBtn toolTip clrP clrBr" data-tip="<%= ob.polyT('testnetTooltip') %>">
              <%= ob.polyT('testnet') %>
            </div>
          <% } %>
        </div>
      </div>
      <div class="rowDivV clrBrBk"></div>
      <div>
        <div class="flexVCent box margLSm posR">
          <a href="#search" class="discoverButton navListBtn js-discover" style="background-image: url('../imgs/obVectorIconSmall.svg')"></a>
          <% if (ob.showDiscoverCallout) { %>
            <div class="discoverCallout js-discoverCallout arrowBoxTop confirmBox clrP clrBr">
              <div class="tx3 txB rowSm"><%= ob.polyT('pageNav.discoverCalloutTitle') %></div>
              <p><%= ob.polyT('pageNav.discoverCalloutBody') %></p>            
            </div>
          <% } %>
          <a class="iconBtn navWalletBtn js-navWalletBtn">
            <%= ob.walletIconTmpl() %>
          </a>
          <a class="iconBtn ion-android-notifications js-navNotifBtn"></a>
          <a id="AvatarBtn" class="discSm clrBr2 clrSh1 js-navListBtn navListBtn" style="<%= ob.getAvatarBgImage(ob.avatarHashes) %>"></a>
          <nav class="navListWrapper foldDown js-navList">
            <div class="navList clrBr listBox clrP clrSh1">
              <div class="listGroup clrP clrBr">
                <div class="listItem js-navListItem"><span class="txB tx4 noOverflow"><%= ob.name %></span></div>
              </div>
              <div class="listGroup clrP clrBr">
                <a class="listItem connectedServerListItem js-connectedServerListItem">
                  <span class="noOverflow js-connectedServerName <% if (ob.connectedServer) print('txB') %>"><% print(ob.connectedServer ? ob.connectedServer.name : ob.polyT('pageNav.notConnectedMenuItem')) %></span>
                  <span><i class="ion-arrow-right-b floR"></i></span>
                </a>
              </div>
              <div class="listGroup clrP clrBr">
                <a class="listItem js-navListItem" href="#<%= ob.peerID ? `${ob.peerID}` : ''%>">
                  <span>My Page</span><span class="clrT2 TODO">Cltrl + ?</span>
                </a>
                <a class="listItem js-navListItem TODO"><!--TODO add route for Page Customization-->
                  <span>Customize Page</span><span class="clrT2 TODO">Cltrl + ?</span>
                </a>
                <a class="listItem js-navCreateListing js-navListItem">
                  <span>Create Listing</span><span class="clrT2 TODO">Cltrl + ?</span>
                </a>
                <a class="listItem js-navListItem" href="#connected-peers">
                  <span>Connected Peers</span>
                </a>
              </div>
              <div class="listGroup clrP clrBr">
                <a href="#transactions/purchases" class="listItem js-navListItem">
                  <span>Purchases</span><span class="clrT2 TODO">Cltrl + ?</span>
                </a>
                <a href="#transactions/sales" class="listItem js-navListItem">
                  <span>Sales</span><span class="clrT2 TODO">Cltrl + ?</span>
                </a>
                <a href="#transactions/cases" class="listItem js-navListItem">
                  <span>Cases</span><span class="clrT2 TODO">Cltrl + ?</span>
                </a>
              </div>
              <div class="listGroup clrP clrBr">
                <a class="listItem js-navSettings js-navListItem">
                  <span>Settings</span><span class="clrT2 TODO">Cltrl + ?</span>
                </a>
              </div>
              <div class="listGroup clrP clrBr">
                <a class="listItem js-navAboutModal">
                  <span><%= ob.polyT( 'about.linkText' ) %></span>
                </a>
              </div>
            </div>
          </nav>
          <nav class="connManagementContainer foldDown clrSh1 js-connManagementContainer"></nav>
        </div>
      </div>
    </div>
  </nav>
</header>
<div class="navOverlay modal js-navOverlay"></div>
