<header>
  <nav class="bar clrBr clrP navBar">
    <div class="flexVCent">
      <div class="windowControlsHolder">
        <div class="windowControls">
          <a class="navClose js-navClose">
            <span class="ion-ios-close-empty"></span>
          </a>
          <a class="navMin js-navMin">
            <span class="ion-ios-minus-empty"></span>
          </a>
          <a class="navMax js-navMax">
            <span class="ion-ios-plus-empty"></span>
          </a>
        </div>
      </div>
      <div>
        <div class="flexVCent">
          <a class="iconBtn ion-chevron-left js-navBack"></a>
          <a class="iconBtn ion-chevron-right js-navFwd"></a>
          <a class="iconBtn ion-refresh js-navReload"></a>
        </div>
      </div>
      <div class="rowDivV clrBrBk"></div>
      <div class="flexExpand">
        <div class="flexVCent">
          <div class="searchWrapper clrBr4">
            <input type="text" class="js-addressBar flexExpand addressBar"
                   placeholder="Type a @handle, OpenBazaar ID or #tag" value="<%= ob.addressBarText %>" />
          </div>
        </div>
      </div>
      <div class="rowDivV clrBrBk"></div>
      <div>
        <div class="flexVCent box">
          <a class="iconBtn ion-android-notifications js-navNotifBtn"></a>
          <a id="AvatarBtn" class="discSm clrBr2 clrSh1 js-navListBtn navListBtn"
          <% if (ob.avatarHash) { %>
          //this will be updated to the real image parameter
          style="background-image: url(<%= ob.getServerUrl(`ipfs/${ob.avatarHash}`) %>), url('../imgs/defaultAvatar.png')"
          <% } else { %>
            style="background-image: url('../imgs/defaultAvatar.png')"
          <% } %>
          ></a>
          <nav class="navListWrapper foldDown js-navList js-navPopMenu">
            <div class="navList clrBr listBox clrP clrSh1">
              <div class="listGroup clrP clrBr">
                <div class="listItem"><span class="txB tx4"><%= ob.name %></span></div>
              </div>
              <div class="listGroup clrP clrBr">
                <a class="listItem">
                  <span>Current Node</span>
                  <span><i class="ion-arrow-right-b floR"></i></span>
                </a>
              </div>
              <div class="listGroup clrP clrBr">
                <a class="listItem" href="#<%= ob.id ? `${ob.id}` : ''%>">
                  <span>My Page</span><span class="clrT2">Cltrl + ?</span>
                </a>
                <a class="listItem"><!--TODO add route for Page Customization-->
                  <span>Customize Page</span><span class="clrT2">Cltrl + ?</span>
                </a>
                <a class="listItem js-navCreateListing">
                  <span>Create Listing</span><span class="clrT2">Cltrl + ?</span>
                </a>
                <a class="listItem" href="#connected-peers">
                  <span>Connected Peers</span>
                </a>
              </div>
              <div class="listGroup clrP clrBr">
                <a href="#transactions/purchases" class="listItem">
                  <span>Purchases</span><span class="clrT2">Cltrl + ?</span>
                </a>
                <a href="#transactions/sales" class="listItem">
                  <span>Sales</span><span class="clrT2">Cltrl + ?</span>
                </a>
                <a href="#transactions/cases" class="listItem">
                  <span>Cases</span><span class="clrT2">Cltrl + ?</span>
                </a>
              </div>
              <div class="listGroup clrP clrBr">
                <a class="listItem js-navSettings">
                  <span>Settings</span><span class="clrT2">Cltrl + ?</span>
                </a>
              </div>
              <div class="listGroup clrP clrBr">
                <a class="listItem">
                  <span>About OpenBazaar</span>
                </a>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </nav>
</header>
<div class="navOverlay modal js-navOverlay"></div>
