<div class="contentBox clrBr clrP clrSh2 <% if (ob.notFound) { %>disabled<% } %>">
  <div class="shortHeader pointer js-imageHeader"
    <% var headerHash = ob.headerHashes ? ob.isHiRez() ? ob.headerHashes.small : ob.headerHashes.tiny : ''; %>
    <% if (headerHash) { %>
      style="background-image: url(<%= ob.getServerUrl(`ob/images/${headerHash}`) %>), url('../imgs/defaultHeader.png')"
    <% } else { %>
      style="background-image: url('../imgs/defaultHeader.png')"
    <% } %>>
    <div class="blockedOverlay clrP flexCent tx5">
      <div><%= ob.polyT('userShort.blockedUserOverlayText') %></div>
    </div>    
    <div class="userIconWrap">
      <a class="userIcon disc clrBr2 clrSh1"
        <% var avatarHash = ob.avatarHashes ? ob.isHiRez() ? ob.avatarHashes.small : ob.avatarHashes.tiny : ''; %>
        <% if (avatarHash) { %>
          style="background-image: url(<%= ob.getServerUrl(`ob/images/${avatarHash}`) %>), url('../imgs/defaultAvatar.png')"
        <% } else { %>
         style="background-image: url('../imgs/defaultAvatar.png')"
        <% } %>>
      </a>
      <div class="blockedAvatarOverlay disc clrBr2 clrSh1 clrP clrT"><i class="ion-eye-disabled center"></i></div>
    </div>
    <% if (!ob.hideControls) { %>
      <div class="userControls flexHRight gutterHSm">
        <% if (!ob.ownGuid) { %>
          <% if (ob.moderator) { %>
            <%= ob.processingButton({
            className: `iconBtnSm clrP clrBr toolTipNoWrap toolTipTop js-mod ${ob.ownMod ? 'active' : ''}`,
            btnText: '<i class="ion-briefcase"></i>',
            attrs: `data-tip="${ob.getModTip(ob.ownMod)}"`,
            }) %>
          <% } %>
          <%= ob.processingButton({
            className: `iconBtnSm clrP clrBr toolTipNoWrap toolTipTop js-follow ${ob.followedByYou ? 'active' : ''}`,
            btnText: '<i class="ion-person-stalker"></i>',
            attrs: `data-tip="${ob.getFollowTip(ob.followedByYou)}"`,
          }) %>
          <div class="js-blockBtnContainer"></div>
        <% } %>
      </div>
    <% } %>
  </div>
  <div class="content">
    <% if (!ob.loading && !ob.notFound) { %>
      <div class="contentTop">
        <div>
          <a class="flex snipKids gutterH rowTn js-userName">
            <div class="tx3 clrT"><strong><%= ob.name %></strong></div>
            <div class="clrT2">
              <%= ob.handle ? `@${ob.handle}` : '' %>
            </div>
          </a>
        </div>
        <p class="clamp2 userDescription tx5">
          <%= ob.shortDescription %>
        </p>
      </div>
      <div class="flex gutterH contentBottom">
        <div class="flexExpand">
          <span class="clrT2 clamp tx5b"><%= ob.parseEmojis('📍') %> <%= ob.location || ob.polyT('userPage.noLocation') %></span>
        </div>
        <a class="tx6 flexNoShrink js-rating">
          <% print(`${ob.formatRating(ob.stats.averageRating, ob.stats.ratingCount)}`) %>
        </a>
      </div>
    <% } else if (ob.loading) { %>
      <div class="h3 clrT"><%= ob.polyT('userShort.userLoading') %></div>
    <% } else if (ob.notFound) { %>
    <div class="h5 txUnb clrT"><%= ob.polyT('userShort.userNotFound', { guid: ob.guid }) %></div>
    <% } %>
  </div>
</div>
