<div class="topControls flex"></div>

<section class="contentBox padMd clrP clrBr clrSh3">
  <h1 class="h3 pad flexCent gutterH"><i class="tx1 ion-eye-disabled"></i><div><%= ob.polyT('blockedWarning.heading') %></div></h1>
  <hr class="clrBr rowHg" />
  <p><%= ob.polyT('blockedWarning.paragraph1') %></p>
  <p class="rowHg"><%= ob.polyT('blockedWarning.paragraph2') %></p>
  <hr class="clrBr rowMd" />
  <div class="flexVCent">
    <div class="flexExpand flexHRight flexVCent gutterHMd">
      <a class="clrT2 js-cancel"><%= ob.polyT('blockedWarning.btnCancel') %></a>
      <button class="btn clrP clrBr clrSh1 js-btnUnblock"><%= ob.polyT('blockedWarning.btnUnblock') %></button>
    </div>
  </div>
</section>
