<div class="<%= ob.titleClass %>">
  <h1><%= ob.title %></h1>
</div>
<div class="<%= ob.messageClass %>">
  <p><%= ob.message %></p>
  <% if (ob.buttons.length) { %>
  <div class="btnStrip row">
    <% ob.buttons.forEach((btn, i) => { %>
    <%
      // pending designs, may need to give certain buttons special classes depending
      // on what position they are in (e.g. first, last...)
    %>
      <a class="btn clrP clrBr js-<%= btn.fragment %>" data-event-name="<%= btn.fragment %>"><%= btn.text %></a>
    <% }) %>
  </div>
  <% } %>
</div>
