<div class="flexRow posA">
  <div class="tabColumn clrS clrT2">
    <h1 class="h3 txUnb padMd">Create Listing</h1>
    <div class="boxList tx4 clrTx1Br">
      <a class="js-scrollLink tab clrT active">General</a>
      <a class="js-scrollLink tab">Photos</a>
      <a class="js-scrollLink tab">Attachments</a>
      <a class="js-scrollLink tab">Shipping</a>
      <a class="js-scrollLink tab">Tags</a>
      <a class="js-scrollLink tab">Inventory</a>
      <a class="js-scrollLink tab">Variants</a>
      <a class="js-scrollLink tab">Return Policy</a>
      <a class="js-scrollLink tab">Terms and Conditions</a>
      <a class="js-scrollLink tab">Expiration</a>
    </div>

  </div>
  <div class="flexExpand posR" style="width: 685px">
    <div class="tabContent">
      <div class="scrollBox tabFormWrapper clrS js-scrollContainer">
        <form class="box border clrP clrBr padKids padStack">
          <div class="flexRow">
            <div class="col3">
              <label for="editListingTitle" class="required">Title</label>
            </div>
            <div class="col9">
              <% console.log('sugar'); window.sugar = ob %>
              <% if (ob.errors['item.title']) print(ob.formErrorTmpl({ errors: ob.errors['item.title'] })) %>
              <input type="text" class="clrBr" name="name" id="editListingTitle" value="<%= ob.item.title %>">
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="tabControls flex clrBr">
      <div class="saveStatus"></div>
      <!-- TODO - make a btnSave for listing in translations -->
      <a class="btn clrP clrBr js-save flexNoShrink"><%= ob.polyT('settings.btnSave') %></a>
    </div>

  </div>
</div>
