<div class="flexRow posA">
  <div class="tabColumn clrB clrT2">
    <h1 class="h3 txUnb padMd"><% print(ob.createMode ? 'Create Listing' : 'Edit Listing') %></h1>
    <div class="boxList tx4 clrTx1Br">
      <%
        [
          'General',
          'Photos',
          'Attachments',
          'Shipping',
          'Tags',
          'Inventory',
          'Variants',
          'Return Policy',
          'Terms and Conditions',
          'Expiration',
        ].forEach((tabName, index) => {
          print(`<a class="js-scrollLink tab ${ob.selectedNavTabIndex === index ? 'clrP active' : ''}">${tabName}</a>`)
        });
      %>
    </div>

  </div>
  <div class="flexExpand posR">
    <div class="tabContent">
      <div class="scrollBox tabFormWrapper clrS js-scrollContainer">
        <section class="js-scrollToSection">
          <form class="box padKids padStack tx3">
            <div class="flexRow">
              <div class="col12">
                <label for="editListingTitle" class="required">Title</label>
                <% if (ob.errors['listing.item.title']) print(ob.formErrorTmpl({ errors: ob.errors['listing.item.title'] })) %>
                <input type="text" class="clrBr clrP" name="listing.item.title" id="editListingTitle" value="<%= ob.listing.item.title %>">
              </div>
            </div>
            <div class="flexRow">
              <div class="col12">
                <label for="editListingSlug" class="required">Slug</label>
                <% if (ob.errors['listing.slug']) print(ob.formErrorTmpl({ errors: ob.errors['listing.slug'] })) %>
                <input type="text" class="clrBr clrP" name="listing.slug" id="editListingSlug" value="<%= ob.listing.slug %>" placeholder="Enter a url fragment representing the listing, for example my-big-brown-shoe">
              </div>
            </div>            
            <div class="flexRow gutterH">
              <div class="col6">
                <label for="editListingType" class="required">Type</label>
                <% if (ob.errors['listing.metadata.contractType']) print(ob.formErrorTmpl({ errors: ob.errors['listing.metadata.contractType'] })) %>
                <select icontractTd="editListingType" name="listing.metadata.contractType" class="clrBr clrP">
                  <% ob.contractTypes.forEach((contractType) => { %>
                  <option value="<%= contractType.code %>" <% if (contractType.code === ob.listing.metadata.contractType) print('selected') %>><%= contractType.name %></option>
                  <% }); %>
                </select>              
              </div>
              <div class="col6">
                <label for="editListingVisibility" class="required">Visibility</label>
                <select id="editListingVisibility" class="clrBr clrP">
                  <option value="hidden">Hidden (doesn't display in store)</option>
                </select>              
              </div>            
            </div>
            <div class="flexRow gutterH">
              <div class="col6">
                <label for="editListingPrice" class="required">Price</label>
                  <% if (ob.errors['listing.item.price.amount']) print(ob.formErrorTmpl({ errors: ob.errors['listing.item.price.amount'] })) %>
                <div class="inputSelect">
                  <input type="text" class="clrBr clrP js-price" name="listing.item.price.amount" id="editListingPrice" value="<%= ob.listing.item.price.amount %>" data-var-type="number">
                  <select id="editListingCurrency" name="listing.item.price.currencyCode" class="clrBr clrP nestInputRight">
                    <% ob.currencies.forEach((currency) => {%>
                    <option value="<%= currency.code %>"
                    <% if (!ob.listing.item.price.currencyCode) {
                         if (currency.code === ob.localCurrency) print('selected');
                       } else {
                         if (currency.code === ob.listing.item.price.currencyCode) print('selected');
                       }
                    %>><%= currency.code %></option>
                    <% }); %>
                  </select>                
                </div>
              </div>
              <div class="col6 js-conditionWrap <% if (ob.listing.metadata.contractType !== 'PHYSICAL_GOOD') print('disabled') %>">
                <label for="editListingCondition" class="required">Condition</label>
                <% if (ob.errors['listing.item.condition']) print(ob.formErrorTmpl({ errors: ob.errors['listing.item.condition'] })) %>
                <select id="editListingCondition" name="listing.item.condition" class="clrBr clrP">
                  <% ob.conditionTypes.forEach((conditionType) => { %>
                  <option value="<%= conditionType.code %>" <% if (conditionType.code === ob.listing.item.condition) print('selected') %>><%= conditionType.name %></option>
                  <% }); %>
                </select>              
              </div>            
            </div>
            <div class="flexRow gutterH">
              <div class="col6">
                <label for="editListingSku">SKU</label>
                <% if (ob.errors['listing.item.sku']) print(ob.formErrorTmpl({ errors: ob.errors['listing.item.sku'] })) %>
                <input type="text" class="clrBr clrP" name="listing.item.sku" id="editListingSku" value="<%= ob.listing.item.sku %>">
              </div>
              <div class="col6">
                <label>Mature Content (nsfw, adult, 18+, etc)</label>
                <% if (ob.errors['listing.item.nsfw']) print(ob.formErrorTmpl({ errors: ob.errors['listing.item.nsfw'] })) %>
                <div class="btnStrip">
                  <div class="btn clrBr">
                    <input type="radio"
                           name="listing.item.nsfw"
                           value="true"
                           id="editListingNSFWInputTrue"
                           data-var-type="boolean"
                    <% if(ob.listing.item.nsfw) { %>checked<% } %>>
                    <label for="editListingNSFWInputTrue"><%= ob.polyT('editListing.nsfwYes') %></label>
                  </div>
                  <div class="btn clrBr">
                    <input type="radio"
                           name="listing.item.nsfw"
                           value="false"
                           id="editListingNSFWInputFalse"
                           data-var-type="boolean"
                    <% if(!ob.listing.item.nsfw) { %>checked<% } %>>
                    <label for="editListingNSFWInputFalse"><%= ob.polyT('editListing.nsfwNo') %></label>
                  </div>
                </div>
              </div>
            </div>
            <div class="flexRow gutterH">
              <div class="col12">
                <label for="editListingDescription">Description</label>
                <% if (ob.errors['listing.item.description']) print(ob.formErrorTmpl({ errors: ob.errors['listing.item.description'] })) %>
                <textarea rows="6" name="listing.item.description" class="clrBr clrP" id="editListingDescription"><%= ob.listing.item.description %></textarea>
              </div>
            </div>          
          </form>
        </section>
        <section class="js-scrollToSection" style="height: 350px;background-color: pink">
        </section>
        <section class="js-scrollToSection" style="height: 350px;background-color: orange">
        </section>
        <section class="js-scrollToSection" style="height: 350px;background-color: purple">
        </section>
        <section class="js-scrollToSection" style="height: 350px;background-color: blue">
        </section>
        <section class="js-scrollToSection" style="height: 350px;background-color: magenta">
        </section>
        <section class="js-scrollToSection" style="height: 350px;background-color: yellow">
        </section>
        <section class="js-scrollToSection" style="height: 350px;background-color: green">
        </section>
        <section class="js-scrollToSection" style="height: 350px;background-color: violet">
        </section>
        <section class="js-scrollToSection" style="height: 350px;background-color: maroon">
        </section>
      </div>
    </div>
    <div class="tabControls flex clrBr">
      <div class="saveStatus"></div>
      <!-- TODO - make a btnSave for listing in translations -->
      <a class="btn clrP clrBr js-save flexNoShrink"><%= ob.polyT('settings.btnSave') %></a>
    </div>

  </div>
</div>
