<div class="contentBox padMd clrP clrBr clrSh3">
  <h1><%= ob.polyT('metrics.title') %></h1>
  <div class="rowMd innerMessage">
    <p><%= ob.polyT('metrics.msg') %></p>
    <h4><%= ob.polyT('metrics.listTitle') %></h4>
    <ul>
      <li><%= ob.polyT('metrics.list.pages') %></li>
      <li><%= ob.polyT('metrics.list.clicks') %></li>
      <li><%= ob.polyT('metrics.list.orders') %></li>
      <li><%= ob.polyT('metrics.list.node') %></li>
      <li><%= ob.polyT('metrics.list.system') %></li>
      <li><%= ob.polyT('metrics.list.errors') %></li>
    </ul>
  </div>
  <div class="buttonWrap gutterH">
    <a class="btn clrP clrBr js-decline"><%= ob.polyT('metrics.declineBtn') %></a>
    <a class="btn clrP clrBr js-share"><%= ob.polyT('metrics.shareBtn') %></a>
  </div>
</div>
