<div class="contentBox padLg clrP clrBr clrSh3">
  <h1><%= ob.polyT('metrics.title') %></h1>
  <div class="rowMd innerMessage">
    <div class="rowHg">
      <p><%= ob.polyT('metrics.msg1') %></p>
      <p><%= ob.polyT('metrics.msg2') %></p>
    </div>
    <h4><%= ob.polyT('metrics.listTitle') %></h4>
    <ul class="tx5 clrT2 padSmKids">
      <li><%= ob.polyT('metrics.list.pages') %></li>
      <li><%= ob.polyT('metrics.list.clicks') %></li>
      <li><%= ob.polyT('metrics.list.orders') %></li>
      <li><%= ob.polyT('metrics.list.node') %></li>
      <li><%= ob.polyT('metrics.list.system') %></li>
      <li><%= ob.polyT('metrics.list.errors') %></li>
    </ul>
  </div>
  <div class="flexVCent flexHRight gutterH">
    <% console.log(ob.shareMetrics) %>
    <% if (ob.shareMetrics !== undefined) {%>
      <div class="flexExpand txLft">
        <% if (ob.shareMetrics) { %>
          <span class="clrTEmph1"><%= ob.polyT('metrics.sharingIsOn') %></span>
        <% } else { %>
          <span class="clrTErr"><%= ob.polyT('metrics.sharingIsOff') %></span>
        <% } %>
      </div>
    <% } %>
    <a class="btn clrP clrBr js-decline"><%= ob.polyT('metrics.declineBtn') %></a>
    <a class="btn clrP clrBr js-share"><%= ob.polyT('metrics.shareBtn') %></a>
  </div>
</div>
