<div class="contentBox tx5b padLg clrP clrBr clrSh3 dialogScrollMsg">
  <div class="flexRow">
    <h1 class="flexExpand flexNoShrink"><%= ob.polyT('metrics.title') %></h1>
    <span class="flexHRight clrT2">v<%= ob.mVersion %></span>
  </div>
  <div class="rowMd innerMessage">
    <div class="rowHg">
      <% if(ob.showNewMessage) { %>
        <p class="clrTEm">
          <b><%= ob.polyT('metrics.newVersion') %></b>
        </p>
      <% } %>
      <p><%= ob.polyT('metrics.msg1') %></p>
      <p class="tx6"><i><%= ob.polyT('metrics.msg2') %></i></p>
    </div>
    <h4><%= ob.polyT('metrics.listTitle') %></h4>
    <ul class="tx6 padSmKids rowLg">
      <li><%= ob.polyT('metrics.list.errors') %></li>
      <li><%= ob.polyT('metrics.list.user') %></li>
      <li><%= ob.polyT('metrics.list.node') %></li>
      <li><%= ob.polyT('metrics.list.listings') %></li>
      <li><%= ob.polyT('metrics.list.orders') %></li>
      <li><%= ob.polyT('metrics.list.app') %></li>
      <li><%= ob.polyT('metrics.list.system') %></li>
      <li><%= ob.polyT('metrics.list.path') %></li>
    </ul>
    <div class="tx6">
      <p><i><%= ob.polyT('metrics.disclaimer1') %></i></p>
      <p><i><%= ob.polyT('metrics.disclaimer2') %></i></p>
    </div>
  </div>
  <div class="flexVCent flexHRight gutterH">
    <% if (ob.shareMetrics !== undefined) {%>
      <div class="flexExpand txLft">
        <% if (ob.restartRequired) { %>
          <span class="clrTEmph1"><%= ob.polyT('metrics.sharingWillBeOn') %></span>
        <% } else if (ob.shareMetrics) { %>
          <span class="clrTEmph1"><%= ob.polyT('metrics.sharingIsOn') %></span>
        <% } else { %>
          <span class="clrTErr"><%= ob.polyT('metrics.sharingIsOff') %></span>
        <% } %>
      </div>
    <% } %>
    <% if (ob.showUndecided) { %>
      <a class="btn clrP clrBr js-decline"><%= ob.polyT('metrics.declineBtn') %></a>
      <a class="btn clrP clrBr js-share"><%= ob.polyT('metrics.acceptBtn') %></a>
    <% } else { %>
      <a class="btn clrP clrBr js-decline <% if (!ob.shareMetrics) print('disabled') %>"><%= ob.polyT('metrics.deactivateBtn') %></a>
      <a class="btn clrP clrBr js-share <% if (ob.shareMetrics) print('disabled') %>"><%= ob.polyT('metrics.activateBtn') %></a>
    <% } %>
  </div>
</div>
