<div class="topControls flex js-closeClickTarget"></div>
<div class="js-closeClickTarget">
  <div class="flexColRows gutterV">
    <div class="contentBox mDetailBox padMd clrP clrBr clrSh3 tx5">
      <div class="flex gutterH row">
        <div class="flexNoShrink">
          <a class="userIcon disc clrBr2 clrSh1"
             style="<%= ob.getAvatarBgImage(ob.avatarHashes) %>"
             href="#<%= ob.peerID %>"></a>
        </div>
        <div>
          <div class="flex snipKids gutterHSm rowSm">
            <strong class="txt5"><%= ob.name %></strong>
            <span class="clrT2"><%= ob.handle ? `@${ob.handle}` : '' %></span>
          </div>
          <div class="row clrT2">
            <p><%=ob.moderatorInfo.description %></p>
          </div>
        </div>
      </div>
      <div class="flexHCent gutterH">
        <button class="btn clrP clrBr js-message"><%= ob.polyT('moderatorDetails.messageButton') %></button>
        <%= ob.processingButton({
        className: `btn clrP clrBr js-follow ${ob.followedByYou ? 'hide' : ''}`,
        btnText: ob.polyT('moderatorDetails.followButton')
        }) %>
        <%= ob.processingButton({
        className: `btn clrP clrBr js-unFollow ${!ob.followedByYou ? 'hide' : ''}`,
        btnText: ob.polyT('moderatorDetails.unFollowButton')
        }) %>
      </div>
    </div>
    <div class="contentBox mDetailBox flexRow flexVCent gutterH padMd clrP clrBr clrSh3">
      <div class="flexExpand">
        <div class="flexCol flexCent">
          <div><%= ob.parseEmojis('📍') %> <%= ob.location || ob.polyT('userPage.noLocation') %></div>
          <div class="tx5b clrT2"><%= ob.polyT('moderatorDetails.location') %></div>
        </div>
      </div>
      <div class="rowDivV clrBr TODO"></div>
      <div class="flexExpand TODO">
        <div class="flexCol flexCent">
          <%= ob.parseEmojis('👍') %> XX<% // placeholder for reputation %>
          <div class="tx5b clrT2"><%= ob.polyT('moderatorDetails.recommendations') %></div>
        </div>
      </div>
      <div class="rowDivV clrBr"></div>
      <div class="flexExpand">
        <div class="flexCol flexCent">
          <% var amount = ob.convertAndFormatCurrency(ob.moderatorInfo.fee.fixedFee.amount, ob.moderatorInfo.fee.fixedFee.currencyCode, ob.displayCurrency) %>
          <div><%= ob.polyT(`moderatorCard.${ob.moderatorInfo.fee.feeType}`, { amount: amount, percentage: ob.moderatorInfo.fee.percentage }) %></div>
          <div class="tx5b clrT2"><%= ob.polyT('moderatorDetails.serviceCharge') %></div>
        </div>
      </div>
    </div>
    <div class="contentBox mDetailBox padMd clrP clrBr clrSh3 tx5">
      <h4><%= ob.polyT('moderatorDetails.termsOfService') %></h4>
      <p><%= ob.moderatorInfo.termsAndConditions %></p>
      <hr class="clrBr">
      <div class="flexColRows flexHCent">
        <% if (ob.cardState !== 'selected' && (!ob.ownMod || ob.purchase)) { %>
        <div class="rowSm">
          <button class="btn clrP clrBr js-addAsModerator">
            <% if (ob.purchase) { %>
              <%= ob.polyT('purchase.chooseModerator') %>
            <% } else { %>
              <%= ob.polyT('moderatorDetails.addAsModeratorButton') %>
            <% } %>
          </button>
        </div>
        <% } %>
        <div>
          <em class="tx6 clrT2"><%= ob.polyT('moderatorDetails.disclaimer') %></em>
        </div>
      </div>
    </div>
  </div>
</div>
