<div class="topControls flex js-closeClickTarget"></div>
<div class="js-closeClickTarget">
  <div class="flexColRows gutterV">
    <div class="contentBox padMd clrP clrBr clrSh3">
      mod info
    </div>
    <div class="contentBox padMd clrP clrBr clrSh3">
      <div class="flexRow gutterH">
        <div class="flexExpand">
          location
        </div>
        <div class="rowDivV colBr"></div>
        <div class="flexExpand">
          recomendations
        </div>
        <div class="rowDivV colBr"></div>
        <div class="flexExpand">
          charge
        </div>
      </div>
    </div>
    <div class="contentBox padMd clrP clrBr clrSh3">
      terms of service
    </div>
  </div>
</div>
