<div class="topControls flex"></div>

<section class="contentBox padMd clrP clrBr clrSh3">
  <h1 class="h3 pad flexCent gutterHSm">
    <div><%= ob.parseEmojis('😲') %></div>
    <div><%= ob.parseEmojis('😱') %></div>
    <div>Mature content</div>
  </h1>
  <hr class="clrBr rowHg" />
  <p>This listing contains photos and/or content that may not be suitable for children or for people in work environments. If you’re sensitive to mature content, please click cancel to return to the previous screen.</p>
  <p class="rowHg">Are you sure you want to proceed?</p>
  <hr class="clrBr rowMd" />
  <div class="flexVCent gutterH">
    <div class="flexExpand gutterHSm">
      <input class="centerLabel js-checkboxNsfw" type="checkbox" id="NSFW_ON" />
      <label for="NSFW_ON">Always display mature content</label>
    </div>
    <div class="flexNoShrink">
      <div class="flexHRight flexVCent gutterHMd">
        <a class="clrT2 js-cancel">Cancel</a>
        <button class="btn clrP clrBr js-btnProceed">Yes, proceed</button>
      </div>
    </div>
  </div>
</section>
