<div class="topControls flex"></div>

<div class="contentBox mainContent padMd clrP clrBr clrSh3">
  Order: <%= ob.id %>
  <br />
  <% if (ob.isFetching) { %>
    <div class="center">
      <%= ob.spinner({ className: 'spinnerMd' }) %>
    </div>
  <% } else if (ob.fetchFailed) { %>
    <div class="center txCtr tx4">
      <div class="txB <% print(ob.initialFetchErrorMessage ? 'rowTn' : 'row') %>">Unable to fetch order.</div>
      <% if (ob.fetchError) { %>
        <div class="row"><%= ob.fetchError %></div>
      <% } %>
      <a class="btn clrP clrBr clrSh2 js-retryFetch">Retry</a>
    </div>
  <% } else { %>
    <div class="center txCtr" style="line-height: 1em">
      <div class="ion-alert-circled" style="display: block;font-size: 96px;"></div>Under Construction
    </div>    
  <% } %>
</div>