<div class="contentBox clrP clrBr clrSh3">
    <div class="padMd">
      <div class="">
        <h1><%= ob.polyT('startUp.dialogs.unableToGetVerifiedMods.title') %></h1>
      </div>
      <div class="">
        <div class="rowMd innerMessage">
            <%= ob.polyT('startUp.dialogs.unableToGetVerifiedMods.msg', { reason: ob.reason }) %>
        </div>
      </div>
    </div>
    <div class="flexRow flexBtnWrapper">
      <%= ob.processingButton({
        className: `flexExpand btnFlx clrP js-retry ${ob.fetching ? 'processing' : ''}`,
        btnText: ob.polyT('startUp.dialogs.unableToGetVerifiedMods.btnRetry')
        }) %>
      <a class="flexExpand btnFlx clrP js-continue" data-event-name=""><%= ob.polyT('startUp.dialogs.unableToGetVerifiedMods.btnClose') %></a>
    </div>
  </div>
