<div class="tx5 confirmBox arrowBoxCenteredTop padMd clrBr clrP clrSh1 clrT addBox js-addProvider <% if (ob.hideBox) print('hide') %>">
  <div class="flexCol gutterV txLft">
    <h3><%= ob.polyT('search.addTitle') %></h3>
    <%
      const plhdr = ob.polyT(`${ob.usingTor ? 'search.addTorPlaceholder' : 'search.addPlaceholder'}`);
      if (ob.errors[ob.urlType]) print(ob.formErrorTmpl({ errors: ob.errors[ob.urlType] }));
      if (ob.showExistsError) print(ob.formErrorTmpl({ errors: [ob.polyT('search.errors.existsError')] }));
    %>
    <input type="url" class="clrP clrBr clrSh2 js-addProviderInput" placeholder="<%= plhdr %>">
    <div class="flexHRight flexVCent gutterH">
      <button class="btnTxtOnly barBtn clrT2 txUnb js-cancelBtn"><%= ob.polyT('search.cancel') %></button>
      <button class="btn barBtn clrP clrBr clrSh2 js-addBtn"><%= ob.polyT('search.addBtn') %></button>
    </div>
  </div>
</div>
