<nav id="pageTabBar" class="noTabs barLg clrP clrBr <% if(ob.fetching) print('noTips') %>">
  <div class="pageTabs js-searchProviders"></div>
</nav>

<% if (!ob.fetching) { %>
  <div class="pageContent">
    <% if (!ob.showDataError) { %>
      <div class="flexColRows row">
        <div class="flexVBase gutterH">
          <h3 class="txUnl rowSm"><%= ob.name %></h3>
          <% if (ob.isExistingProvider) { %>
            <% if (!ob.providerLocked) { %>
              <button class="btnTxtOnly txb txU txUnb js-deleteProvider"><%= ob.polyT('search.deleteProviderBtn') %></button>
            <% } %>
            <% if (ob.showMakeDefault) { %>
              <div>
                <button class="btnTxtOnly txb txU txUnb js-makeDefaultProvider">
                  <%= ob.polyT('search.makeDefaultBtn') %>
                  <span class="toolTip" data-tip="<%= ob.polyT('search.makeDefaultBtnHelper') %>">
                    <i class="ion-help-circled"></i>
                  </span>
                </button>
              </div>
            <% } %>
          <% } else { %>
            <button class="btnTxtOnly txb txU txUnb js-addQueryProvider"><%= ob.polyT('search.addQueryProviderBtn') %></button>
          <% } %>
        </div>
        <div class="searchBar row clrP clrBr clrSh2">
          <% if (ob.logo) { %>
          <div class="searchLogo js-searchLogo">
            <img src="<%= ob.logo %>"></img>
          </div>
          <% } %>
          <input class="clrP clrBr searchInput js-searchInput <% if (ob.logo) print('withLogo') %>"
                 type="text"
                 placeholder="<%= ob.polyT('search.searchPlaceholder') %>"
                 value="<%= ob.term %>">
          <button class="btn clrP clrBr searchBtn js-searchBtn"><%= ob.polyT('search.searchBtn') %></button>
        </div>
        <div class="js-suggestions"></div>
        <hr class="clrBr">
      </div>
      <div class="js-categoryWrapper"></div>
      <div class="flexRow gutterHLg">
        <% if (ob.hasFilters) { %>
        <div class="col3 filterWrapper js-filterWrapper"></div>
        <div class="col9">
        <% } else { %>
        <div class="col12">
        <%}%>
          <div class="flexCol">
            <div class="width100 js-sortByWrapper"></div>
            <div class="width100 js-resultsWrapper"></div>
          </div>
        </div>
      </div>
    <% } else { %>
      <div class="contentBox padLg flexColRows flexHCent clrP clrBr">
        <h2 class="rowLg"><%= ob.errTitle %></h2>
        <p><%= ob.errMsg %></p>
        <% if(!ob.providerLocked) { %>
          <div class="flexHCent">
            <button class="btn clrP clrBr js-deleteProvider"><%= ob.polyT('search.deleteProviderBtn') %></button>
          </div>
        <% } %>
      </div>
    <% } %>
  </div>
<% } else { %>
  <div class="flexCent loadingSearch clrS"><%= ob.spinner({ className: 'spinnerLg' }) %></div>
<% } %>
