<% /*
<nav id="pageTabBar" class="barLg clrP clrBr"> This will be for the channel bar.</nav>
*/ %>

<div class="pageContent">
  <div class="flexColRows gutterV row">
    <h3>Name of Provider</h3>
    <div class="searchWrapper">
      <div class="searchBar clrP clrBr">
        <div class="searchLogo">Logo</div>
        <input class="searchInput js-searchInput" type="text">
        <button class="btn clrP clrBr js-searchBtn"><%= ob.polyT('search.searchBtn') %></button>
      </div>
    </div>
    <div class="suggestions flex gutterH">
      <%= ob.polyT('search.suggestions') %>
      <% // suggestions loop %>
    </div>
    <hr class="clrBr">
  </div>
  <div class="flexRow gutterHLg">
    <div class="col3 js-filterWrapper">

    </div>
    <div class="col9">
      <div class="row flexVBase">
        <div class="tx3 flexExpand"><%= ob.polyT('search.resultsFound', { total: ob.totalResults, term: ob.term }) %></div>
        <div>
          <%= ob.polyT('search.sortBy') %>
          <select class="js-sortBy">
            <% // loop %>
          </select>
        </div>

      </div>
      <div class="js-resultsWrapper">

      </div>
    </div>
  </div>
</div>
