<% /*
<nav id="pageTabBar" class="barLg clrP clrBr"> This will be for the channel bar.</nav>
*/ %>

<div class="pageContent">
  <div class="flexColRows gutterV row">
    <h3><%= ob.name %></h3>
    <div class="searchBar clrP clrBr">
      <div class="searchLogo" style="background-image: url(<%= ob.logo %>);"></div>
      <input class="clrP clrBr searchInput js-searchInput" type="text">
      <button class="btn clrP clrBr searchBtn js-searchBtn"><%= ob.polyT('search.searchBtn') %></button>
    </div>
    <div class="suggestions flex gutterH">
      <span class="tx5 clrT2"><%= ob.polyT('search.suggestions') %></span>
      <% // suggestions loop %>
    </div>
    <hr class="clrBr">
  </div>
  <div class="flexRow gutterHLg">
    <form class="col3 filterWrapper js-filterWrapper">
      <div class="flexColWide gutterV">
        <% _.each(ob.options, function(val, key) { %>
          <div class="contentBox pad clrP clrBr">
            <h4 class="rowSm"><%= val.label %></h4>
            <% if (val.type ==='dropdown') { %>
              <select name="<%= key %>">
              <% _.each(val.options, function(option) {
               var selected = option.checked ? 'selected' : '';
                print('<option '+ selected +' value="'+option.value+'">'+option.label+'</option>');
              }); %>
              </select>
            <% } else if (val.type ==='radio') { %>
              <div class="flexCol">
              <% _.each(val.options, function(option, index) { %>
                <div class="btnRadio clrBr">
                   <% var checked = option.checked ? 'checked' : '';
                     print('<input type="radio" name="' + key + '" id="' + key + index + '" '+ checked +' value="'+option.value+'">');
                     print('<label for="' + key + index + '">'+option.label+'</label>');
                   %>
                </div>
              <% }); %>
              </div>
            <% } else if (val.type ==='checkbox') { %>
              <div class="flexCol">
              <% _.each(val.options, function(option, index) {
                var checked = option.checked ? 'checked' : '';
                print(`<input type="checkbox" ${checked} value="${option.value}" id="${key + index}" name="${key}">`);
                print(`<label for="${key + index}">${option.label}</label>`);
              }); %>
              </div>
            <% } %>
          </div>
        <% }); %>
      </div>
    </form>
    <div class="col9">
      <div class="flexCol">
        <div class="width100">
          <div class="row flexVBase gutterH">
            <div class="tx5 flexExpand"><%= ob.polyT('search.resultsFound', { totalResults: ob.totalResults || 0, term: ob.term || ' ' }) %></div>
            <div class="tx5b">
              <%= ob.polyT('search.sortBy') %>
            </div>
            <div class="col4">
              <select id="sortBy" class="js-sortBy">
                <% _.each(ob.sortBy, function(val, key) {
                print('<option value="'+key+'">'+val.label+'</option>');
                }); %>
              </select>
            </div>
          </div>
        </div>
        <div class="js-resultsWrapper">

        </div>
      </div>
    </div>
  </div>
</div>
