<div class="tx5 flexExpand">
  <% if (ob.results) { %>
    <% if (ob.term) { %>
      <%= ob.polyT('search.resultsFound', {
        term: ob.parseEmojis(ob.term),
        smart_count: ob.localizeNumber(ob.results.total),
      }) %>
    <% } else { %>
      <b>
        <%= ob.polyT('search.resultsTotal', {
        smart_count: ob.localizeNumber(ob.results.total),
        }) %>
      </b>
    <% } %>
    <span class="toolTip" data-tip="<%= ob.polyT('search.resultsHelper') %>">
      <i class="ion-information-circled clrT2"></i>
    </span>
  <% } %>
</div>
<% if (ob.sortBy) { %>
  <div class="tx5b">
    <%= ob.polyT('search.sortBy') %>
  </div>
  <div class="col4">
    <select id="sortBy" class="select2Small js-sortBy">
      <% _.each(ob.sortBy, function(val, key) {
        let selected = '';
        if (ob.sortBySelected) {
          selected = key === ob.sortBySelected ? 'selected' : '';
        } else {
          selected = val.default ? 'selected' : '';
        }
        print(`<option value="${key}" ${selected}>${val.label}</option>`);
      }); %>
    </select>
  </div>
<% } %>
