<section class="contentBox padMd clrP clrBr clrSh3 <%= `${ob.screen}Screen` %>">
  <div class="flexVCent gutterH posR">
    <div class="<% if (ob.screen === 'intro') print('flexExpand') %>"><%= ob.brandingBoxT() %></div>
    <% if (ob.screen === 'intro') { %>
      <% if (ob.curConn && ob.curConn.server) { %>
        <% const serverName = ob.curConn.server.get('name') || ''; %>
        <div><span class="txB"><%= ob.polyT('onboarding.introScreen.connectionLbl') %></span> <%= serverName %></div>
        <div>
          <button class="btn clrP js-changeServer"><%= ob.polyT('onboarding.introScreen.btnChange') %></button>
        </div>
      <% } %>
    <% } else if (ob.screen === 'info') { %>
      <div class="flexExpand txB tx3">
        <div class="center">Set Your Information</div>
      </div>
      <div class="clrT2 txB">1 of 2</div>
    <% } else if (ob.screen === 'tos') { %>
      <div class="flexExpand txB tx3">
        <div class="center">Terms of Service</div>
      </div>
      <div class="clrT2 txB">2 of 2</div>
    <% } %>
  </div>
  <hr class="clrBr" />
  <div class="mainContent">
    <% if (ob.screen === 'intro') { %>
    <div class="flexCent">
      <div>
        <div class="txCtr rowSm">
          <span class="txUp txB clrT2">A free marketplace. No fees. No restrictions. Earn Bitcoin</span><i class="btcIcon margRTn"></i>
        </div>
        <div class="headline clrT txCtr rowHg">Buy and Sell Freely</div>
        <div class="txCtr">
          <button class="btnGetStarted btnHg clrBAttGrad clrBrDec1 clrTOnEmph js-getStarted">Get Started<span class="ion-chevron-right margL"></span></button>
        </div>
      </div>
    </div>
    <% } else if (ob.screen === 'info') { %>
      <form class="padStack">
        <div class="row">
          <label for="onboardingName" class="required"><%= ob.polyT('onboarding.infoScreen.nameLbl') %></label>
          <% if (ob.errors.name) print(ob.formErrorTmpl({ errors: ob.errors.name })) %>
          <input type="text" class="clrBr clrSh2" name="name" id="onboardingName" value="<%= ob.name %>" placeholder="<%= ob.polyT('onboarding.infoScreen.placeholderName') %>">        
        </div>
        <div class="row">
          <div class="flexVBase">
            <label for="onboardingDescription" class="flexExpand"><%= ob.polyT('onboarding.infoScreen.descriptionLbl') %></label>
            <div class="clrT2 tx6"><%= ob.polyT('onboarding.infoScreen.descriptionHelper', { count: ob.max.shortDescription || '-blah-' }) %></div>
          </div>
          <% if (ob.errors.shortDescription) print(ob.formErrorTmpl({ errors: ob.errors.shortDescription })) %>
          <textarea rows="3" maxlength="ob.max.shortDescription" name="shortDescription" id="settingsShortDescription"
                    class="clrBr clrSh2" placeholder="<%= ob.polyT('onboarding.infoScreen.placeholderDescription') %>"><%= ob.shortDescription %></textarea>
        </div>
        <div class="row">
          <label><%= ob.polyT('onboarding.infoScreen.avatarLbl') %></label>
          <div class="border clrBr pad">
            <br />
            <br />
            <br />
          </div>
        </div>
        <div class="row">
          <label for="onboardingCountry" class="required"><%= ob.polyT('onboarding.infoScreen.countryLbl') %></label>
            <% if (ob.errors.country) print(ob.formErrorTmpl({ errors: ob.errors.country })) %>
            <select id="onboardingCountry" name="country" class="clrSh2">
              <% ob.countryList.forEach((country) => { %>
              <option value="<%= country.dataName %>" <% if (country.dataName == ob.country) print('selected') %>><%= country.name %></option>
              <% }); %>
              <option value="US" selected>United Sizzle</option>
            </select>
        </div>
        <div class="row">
          <label for="onboardingCurrency" class="required"><%= ob.polyT('onboarding.infoScreen.currencyLbl') %></label>
            <% if (ob.errors.currency) print(ob.formErrorTmpl({ errors: ob.errors.currency })) %>
            <select id="onboardingCurrency" name="currency" class="clrSh2">
              <% ob.currencyList.forEach((currency) => { %>
              <option value="<%= currency.code %>" <% if (currency.code == ob.localCurrency) print('selected') %>><%= currency.name %></option>
              <% }); %>
              <option value="USD" selected>United States Dolla Bill Yall</option>
            </select>
        </div>
      </form>
    <% } else if (ob.screen === 'tos') { %>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In accumsan lacus diam. Nulla dignissim eget massa at euismod. Nullam quis placerat ligula. Quisque non pellentesque odio. Vestibulum malesuada tristique nulla, vitae efficitur tortor commodo ac. Vivamus ut elit eu ex dapibus ultricies. Etiam pharetra vitae diam eget rhoncus. Suspendisse odio quam, gravida pulvinar leo vitae, lobortis maximus erat. Cras ultrices felis at ex dictum, non vulputate lorem vestibulum. Nullam ut felis dignissim, laoreet tortor sit amet, eleifend neque. Integer vel ante ante.

      <p>
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque vitae nibh sed tortor maximus auctor. Mauris aliquet faucibus leo a egestas. In nec odio ligula. Pellentesque in accumsan massa. Integer vulputate mauris non velit lobortis, ut accumsan turpis lacinia. Phasellus quis ipsum vitae lacus feugiat viverra. Nullam non urna sit amet eros rutrum sollicitudin. Sed ultrices scelerisque magna, id porttitor lacus sodales id. Curabitur enim ante, interdum a ultrices sed, cursus sagittis tellus. Sed quis mollis lorem. Praesent eu lacinia lacus, sed ultrices leo. Sed laoreet, sem eget mollis malesuada, felis tellus mattis erat, at iaculis purus nunc et orci.
      </p>
      <p>
        Curabitur sodales nec dolor at accumsan. In laoreet condimentum malesuada. Praesent odio velit, finibus sit amet commodo quis, sollicitudin in diam. Quisque lectus neque, viverra at ultricies et, mattis a mi. Nam blandit nisi vel odio tincidunt tristique. Mauris ligula sapien, condimentum in aliquam ut, volutpat vel tortor. Donec augue mauris, posuere ac hendrerit et, ullamcorper at neque. Sed luctus tincidunt felis ut varius. Donec lobortis sodales arcu eget dictum. Vestibulum congue interdum tempus. Nunc convallis iaculis sapien. Nullam mauris mi, placerat eu neque eget, commodo blandit leo. Mauris eleifend lacus convallis dictum ultricies.
      </p>
      <p>
        Donec eget scelerisque urna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur laoreet hendrerit neque in dapibus. Donec nisi neque, convallis eget nisl et, commodo egestas libero. Integer sollicitudin libero ut libero iaculis fermentum. Etiam dictum tincidunt pharetra. Sed ornare, nisl eu pulvinar accumsan, nunc lorem sollicitudin mauris, vitae molestie ipsum libero quis ligula. Phasellus consectetur ullamcorper tortor, sit amet auctor lacus luctus non. Ut volutpat sodales sodales.
      </p>
      <p>
        Etiam pulvinar gravida egestas. Curabitur convallis tempus urna, in sodales massa feugiat ut. Maecenas nec porttitor leo. Duis gravida nisl nibh, eget euismod nunc bibendum a. Suspendisse scelerisque lectus ut cursus tristique. Nulla vel tincidunt orci. Vestibulum semper diam sit amet congue gravida. Phasellus porttitor ligula sed tempor finibus. Quisque aliquet sollicitudin diam. Mauris nisl eros, mattis quis ullamcorper eget, interdum at sem. Maecenas lacinia massa odio, eget malesuada eros accumsan at. Praesent et malesuada nulla. Donec tempor rutrum mi a rhoncus. Nulla vitae libero ac libero pretium porttitor et vel est. Sed laoreet pretium sem lacinia pulvinar.
      </p>
    <% } %>
  </div>
  <% if (ob.screen !== 'intro') { %>
  <hr class="clrBr row" />
  <div class="flexVCent">
    <div class="flexExpand">
      <button class="btn clrP js-navBack">Back</button>
    </div>
    <div>
      <button class="btn clrP js-navNext">Next</button>
    </div>
  </div>
  <% } %>
</section>