<h2 class="tabHeading txUnb"><%= ob.polyT('transactions.purchases.heading') %></h2>
<div class="searchWrapper rowMd">
  <input type="text" class="ctrl clrP clrBr clrSh2 js-searchInput"
         placeholder="<%= ob.polyT('transactions.placeholderSearch') %>">
</div>

<%= ob.filtersHtml %>

<div class="row">
<%= ob.polyT('transactions.purchases.countPurchasesFound', {
  countPurchases: `<span class="txB">${ob.polyT('transactions.purchases.countPurchases', { smart_count: 3 })}</span>`
}) %>
</div>

<%
   ob = Object.assign(ob, {
      "orderId": "QmRd3ELj9hZ81YiHEs4aYpZvgsi97KAp45yuvCsPvarhny",
      "read": false,
      "shippingAddress": "1500 W. Taylor",
      "shippingName": "Big Papi",
      "state": "PENDING",
      "thumbnail": "QmbREPttjNgsiMSwYaR155QqPTPagdtjifDiWmFJXYpgbh",
      "timestamp": "2017-04-24T10:36:10-07:00",
      "title": "feel the funk",
      "total": 319830,
      "unreadChatMessages": 4,
      "vendorHandle": "billyCintonPrez",
      "vendorId": "QmbSYKcypVVZNVQ4tqgG6oE8kNBapjgoU5676fBp62hcWE"
  });
%>

<table class="transactionsTable clrBr clrP">
  <tr>
    <th class="clrBr orderCol">Order ID</th>
    <th class="clrBr">
      <a class="js-dateHeader dateHeader clrT">Date<div class="sortIcon"></div></a>
    </th>
    <th class="clrBr">Listing</th>
    <th class="clrBr">Buyer</th>
    <th class="clrBr">Total</th>
    <th class="clrBr">Status</th>
  </tr>
  <tr class="<% if (!ob.read) print('unread') %>">
    <td class="clrBr orderCol noOverflow">
      <div class="unreadBorder clrE1"></div>
      <%= ob.orderId %>
    </td>
    <td class="clrBr"><%= ob.moment(ob.timestamp).format('l LT') %></td>
    <td class="clrBr listingCol">
      <div class="flexVCent gutterHSm">
        <span class="thumb" style="background-image: url(http://localhost:4002/ipfs/Qmc2R67eBoY7u7Y5oV7yjVy8ivTxhVi443yJXr1dkbQhLo), url('../imgs/defaultItem.png')"></span>
        <span class="noOverflow"><%= ob.title %></span>
      </div>
    </td>
    <td class="clrBr userCol">
      <div class="flexVCent gutterHSm">
        <a class="avatar discSm clrBr2 clrSh1 flexNoShrink" href="#<%= ob.vendorId %>" style="background-image: url(http://localhost:4002/ipfs/QmUWn4Vd8xFjmnfLikviptmysKLuRU6aCqytzApBKhfpSp), url(../imgs/defaultAvatar.png)"></a>
        <a class="handle noOverflow clrT" href="#<%= ob.vendorId %>"><%= ob.vendorHandle ? `@${ob.vendorHandle}` : ob.vendorId %></a>
        <div class="flexHRight">
          <% if (ob.unreadChatMessages) { %>
            <span class="unreadBadge discSm clrE1 clrBrEmph1 clrTOnEmph"><%= ob.unreadChatMessages %></span>
          <% } %>
        </div>
      </div>
    </td>
    <td class="clrBr priceCol">PLN35.00 (0.002800 BTC)</td>
    <td class="clrBr gutterH statusCol">
      <a class="txU tx6">Reject</a>
      <%= ob.processingButton({
        className: `js-btnAccept btnAccept btn clrBAttGrad clrBrDec1 clrTOnEmph ${ob.acceptInProgress ? 'processing' : ''}`,
        btnText: 'Accept'
      }) %>
    </td>
  </tr>
<table>
