<% if (ob.isFetching) { %>
  <div class="center">
    <%= ob.spinner({ className: 'spinnerMd' }) %>
  </div>
<% } else if (ob.fetchFailed) { %>
  <div class="center txCtr tx4">
    <div class="txB <% print(ob.initialFetchErrorMessage ? 'rowTn' : 'row') %>"><%= ob.polyT('transactions.purchases.unableToObtainPurchases') %></div>
    <% if (ob.fetchError) { %>
      <div class="row"><%= ob.fetchError %></div>
    <% } %>
    <a class="btn clrP clrBr clrSh2 js-retryFetch"><%= ob.polyT('transactions.purchases.btnRetry') %></a>
  </div>
<% } else { %>
  <%= ob.transactionsTable %>
<% } %>