<%
  // Pass in a type of 'sales', 'purchases' or 'cases'
%>

<% var type = ob.type || 'sales' %>

<%
  var types = ['sales', 'purchases', 'cases'];

  if (types.indexOf(ob.type) === -1) {
    throw new Error('The type must be one of ${types}');
  }

  if (!ob.userCurrency) {
    throw new Error('Please provide the users local currency.');
  }

  if (!ob.moment) {
    throw new Error('Please pass in the moment library.');
  }
%>

<tr class="<% if (!ob.read) print('unread') %>">
  <td class="clrBr orderCol noOverflow">
    <div class="unreadBorder clrE1"></div>
    <%= ob.orderId %>
  </td>
  <td class="clrBr"><%= ob.moment(ob.timestamp).format('l LT') %></td>
  <td class="clrBr listingCol">
    <div class="flexVCent gutterHSm">
      <span class="thumb" style="background-image: url(http://localhost:4002/ipfs/Qmc2R67eBoY7u7Y5oV7yjVy8ivTxhVi443yJXr1dkbQhLo), url('../imgs/defaultItem.png')"></span>
      <span class="noOverflow"><%= ob.title %></span>
    </div>
  </td>
  <td class="clrBr userCol">
    <div class="flexVCent gutterHSm">
      <a class="avatar discSm clrBr2 clrSh1 flexNoShrink" href="#<%= ob.vendorId %>" style="background-image: url(http://localhost:4002/ipfs/QmUWn4Vd8xFjmnfLikviptmysKLuRU6aCqytzApBKhfpSp), url(../imgs/defaultAvatar.png)"></a>
      <a class="handle noOverflow clrT" href="#<%= ob.vendorId %>"><%= ob.vendorHandle ? `@${ob.vendorHandle}` : ob.vendorId %></a>
      <div class="flexHRight">
        <% if (ob.unreadChatMessages) { %>
          <span class="unreadBadge discSm clrE1 clrBrEmph1 clrTOnEmph"><%= ob.unreadChatMessages %></span>
        <% } %>
      </div>
    </div>
  </td>
  <td class="clrBr priceCol">
    <%
      var btcPrice = ob.formatCurrency(ob.value, 'BTC', { useBtcSymbol: false });

      if (ob.userCurrency === 'BTC') {
        print(btcPrice);
      } else {
          print(
            ob.polyT('transactions.transactionsTable.fiatBtcPairing', {
              fiatAmount: ob.convertAndFormatCurrency(ob.total, 'BTC',
                ob.userCurrency, { useBtcSymbol: false }),
              btcAmount: btcPrice,
            })
          );
      }
    %>
  </td>
  <td class="clrBr gutterH statusCol">
    <%
      if (ob.status === 'PENDING') {
        if (ob.type === 'sales') { %>
          <a class="txU tx6 js-rejectOrder"><%= ob.polyT('transactions.transactionsTable.btnReject') %></a>
          <%= ob.processingButton({
            className: `js-acceptOrder btnAccept btn clrBAttGrad clrBrDec1 clrTOnEmph ${ob.acceptInProgress ? 'processing' : ''}`,
            btnText: <%= ob.polyT('transactions.transactionsTable.btnAccept') %>
          }) %>
      <% } else { %>
          <a class="txU tx6 js-cancelOrder"><%= ob.polyT('transactions.transactionsTable.btnCancel') %></a>
      <% }
      } else {
        print(ob.polyT(`transactions.transactionsTable.status.${ob.status.toLowerCase()}`));
      }
    %>
  </td>
</tr>