<%
  // Pass in a type of 'sales', 'purchases' or 'cases'
%>

<% var type = ob.type || 'sales' %>

<%
  var types = ['sales', 'purchases', 'cases'];

  if (types.indexOf(ob.type) === -1) {
    throw new Error('The type must be one of ${types}');
  }
%>

<table class="transactionsTable clrBr clrP <%= ob.className %>">
  <tr>
    <th class="clrBr orderCol"><%= ob.polyT('transactions.transactionsTable.headers.orderId') %></th>
    <th class="clrBr">
      <a class="js-dateHeader dateHeader clrT"><%= ob.polyT('transactions.transactionsTable.headers.date') %><div class="sortIcon"></div></a>
    </th>
    <th class="clrBr"><%= ob.polyT('transactions.transactionsTable.headers.listing') %></th>
    <% if (ob.type === 'sales') { %>
    <th class="clrBr"><%= ob.polyT('transactions.transactionsTable.headers.buyer') %></th>
    <% } else { %>
    <th class="clrBr"><%= ob.polyT('transactions.transactionsTable.headers.vendor') %></th>
    <% } %>
    <th class="clrBr"><%= ob.polyT('transactions.transactionsTable.headers.total') %></th>
    <th class="clrBr"><%= ob.polyT('transactions.transactionsTable.headers.status') %></th>
  </tr>
<table>