<nav id="pageTabBar" class="barLg clrP clrBr">
  <div class="flexVCent pageTabs">
    <div class="js-miniProfileContainer"></div>
    <div class="flexExpand">
      <div class="flexHRight flexVCent gutterH clrT2">
        <a class="btn tab clrBr js-tab" data-tab="sales"><%= ob.polyT('transactions.sales.heading') %><span class="clrTEmph1 margLSm js-salesTabCount"></span></a>
        <a class="btn tab clrBr js-tab" data-tab="purchases"><%= ob.polyT('transactions.purchases.heading') %><span class="clrTEmph1 margLSm js-purchasesTabCount"></span></a>
        <a class="btn tab clrBr js-tab" data-tab="cases"><%= ob.polyT('transactions.cases.heading') %><span class="clrTEmph1 margLSm js-casesTabCount"></span></a>
      </div>
    </div>
  </div>
</nav>

<section class="flexRow header">
  <div class="pageContent">
    <div class="tabContent js-tabContent">
      <!-- insert the tab subview here -->
    </div>
  </div>
</section>
