<div class="listItem notificationListItem js-notificationListItem clrBr <% if (!ob.read) print('unread') %>">
  <div class="unreadBorder clrBAtt1"></div>
  <div class="flexVCent gutterHSm pad">
    <%
      const isOrderNotif = !!ob.notification.orderId;
      const imageFunc = isOrderNotif ?
        'getListingBgImage' : 'getAvatarBgImage';
    %>
    <% if (ob.notification.type === 'payment') { %>
    <div class="thumbCol flexNoShrink>">
    <%= ob.cryptoIcon() %>
    </div>
    <% } else { %>
    <div class="thumbCol disc clrBr2 clrSh1 flexNoShrink <% if (isOrderNotif) print('listingImage') %>" style="<%= ob[imageFunc](ob.notification.thumbnail || ob.notification.avatarHashes || {}) %>"></div>
    <% } %>
    <div class="flexExpand">
      <div class="rowTn clamp2 notifMsg"><%= ob.notifText %></div>
      <div class="clrT2 tx6"><%= ob.renderedTimeAgo %></div>
    </div>
  </div>
</div>