<!-- <div class="listItem notificationListItem js-notificationListItem tx5 clrBr unread">
  <div class="unreadBorder clrBAtt1"></div>
  <div class="flexVCent gutterHSm pad">
    <div class="avatarCol disc clrBr2 clrSh1 flexNoShrink" style="background-image: url(http://localhost:4002/ipfs/zb2rhccwgLDXPejQGNspcD5maamnADN4nVMe7K48axxsC6rv9), url(../imgs/defaultAvatar.png)"></div>
    <div class="flexExpand">
      <div class="rowTn clamp2 notifMsg"><a class="clrTEm" href="#QmTHXBuA8LByKcj7C7pzMXTsg5Aqqun4smLP3GMdqbTEKr/store">@big_papi</a> is now following you</div>
      <div class="clrT2 tx6">1m ago</div>
    </div>
  </div>
</div>
<div class="listItem notificationListItem tx5 clrBr">
  <div class="unreadBorder clrBAtt1"></div>
  <div class="flexVCent gutterHSm pad">
    <div class="avatarCol disc clrBr2 clrSh1 flexNoShrink" style="background-image: url(http://localhost:4002/ipfs/zb2rhccwgLDXPejQGNspcD5maamnADN4nVMe7K48axxsC6rv9), url(../imgs/defaultAvatar.png)"></div>
    <div class="flexExpand">
      <div class="rowTn clamp2 notifMsg"><a class="clrTEm">@big_papi</a> is now following you</div>
      <div class="clrT2 tx6">1m ago</div>
    </div>
  </div>
</div> -->

<% console.log('slick');window.slick = ob.notifications %>
<% ob.notifications.forEach(notif => { %>
  <div class="flex pad">
    <div>
      <img src="http://lorempixel.com/100/100/sports/" style="width: 50px;height: 50px" />
    </div>
    <div class="flexExpand"><%= notif.id %> - <%= notif.notification.type %></div>
  </div>
<% }) %>
<div class="js-fetcherContainer fetcherContainer"></div>