<div class="chatWrapper flexColRows gutterV">
  <div>
    <div class="flex gutterH">
      <a class="chatIcon disc clrBr2 clrSh1 flexNoShrink js-navListBtn" style="background-image: url('../imgs/defaultAvatar.png')"></a>
      <div class="contentBox pad clrBr clrP noOverflow">
        <span class="tx6">
          <b>@handle</b> example message that fades out
        </span>
      </div>
    </div>
  </div>
  <div>
    <div class="flex gutterH">
      <a class="chatIcon disc clrBr2 clrSh1 flexNoShrink js-navListBtn" style="background-image: url('../imgs/defaultAvatar.png')"></a>
      <div class="contentBox pad clrBr clrP noOverflow">
        <span class="tx6">
          <b>@handle</b> example message that fades out
        </span>
      </div>
    </div>
  </div><div>
    <div class="flex gutterH">
      <a class="chatIcon disc clrBr2 clrSh1 flexNoShrink js-navListBtn" style="background-image: url('../imgs/defaultAvatar.png')"></a>
      <div class="contentBox pad clrBr clrP noOverflow">
        <span class="tx6">
          <b>@handle</b> example message that fades out
        </span>
      </div>
    </div>
  </div>
</div>