<% if (!ob.outgoing) { %>
<div class="gutterHSm flex rowLg">
  <a class="chatIcon disc clrBr2 clrSh1 flexNoShrink <% if (!ob.showAvatar) print('invisible') %>" <% if (ob.showAvatar) { %>style="<%= ob.getAvatarBgImage(ob.avatarHashes) %>" <% } %>></a>
  <div class="posR flexExpand">
    <div class="contentBox msgContentBox clrBr clrP clrSh1">
      <span class="tx6"><%= ob.message %></span>
    </div>
    <% if (ob.showTimestampLine) { %>
    <div class="timestampLine posA">
      <span class="clrT2"><%= ob.moment(ob.timestamp).fromNow() %></span>
    </div>
    <% } %>      
  </div>
</div>
<% } else { %>
<div class="flexHRight gutterHSm rowLg">
  <div class="posR flexExpand">
    <div class="contentBox msgContentBox clrBr clrP clrSh1">
      <span class="tx6"><%= ob.message %></span>
    </div>
    <% if (ob.showTimestampLine) { %>
    <div class="timestampLine posA" style="right: 2px;">
      <span class="clrTEm ion-checkmark <% if (!ob.read) print('hide') %>"></span>
      <span class="clrT2"><%= ob.moment(ob.timestamp).fromNow() %></span>
    </div>
    <% } %>      
  </div>
  <a class="chatIcon disc clrBr2 clrSh1 flexNoShrink <% if (!ob.showAvatar) print('invisible') %>" <% if (ob.showAvatar) { %>style="<%= ob.getAvatarBgImage(ob.avatarHashes) %>" <% } %>></a>  
</div>
<% } %>