<div class="topControls flex"></div>

<section class="contentBox padMd clrP clrBr clrSh3">
  <h1 class="h3 pad flexCent gutterH"><i class="tx1 ion-eye-disabled"></i><div>You blocked this user</div></h1>
  <hr class="clrBr rowHg" />
  <p>This user is currently in your list of blocked users. You can’t view their page or listings while they’re blocked. Blocked users also cannot message you or place orders on your store.</p>
  <p class="rowHg">Would you like to unblock and view their page?</p>
  <hr class="clrBr rowMd" />
  <div class="flexVCent">
    <div class="flexExpand flexHRight flexVCent gutterHMd">
      <a class="clrT2 js-cancel">Cancel</a>
      <button class="btn clrP clrBr js-btnUnblock">Yes, unblock</button>
    </div>
  </div>
</section>
