<div class="txB tx4 row">Category</div>
<div class="rowSm">
  <div class="btnRadio">
    <input type="radio"
           name="filterShippingCategory"
           value="all"
           id="filterShippingCategoryAll"
           data-var-type="boolean"
           <% if (ob.selected === 'all') print('checked') %>>
    <label for="filterShippingCategoryAll">All</label>
  </div>
</div>

<%
  ob.categories.slice(0, ob.maxInitiallyVisibleCats - 1).forEach((cat, index) => {
    var flatCat = cat.replace(/\s/g, '-'); // remove spaces
%>
<div class="rowSm">
  <div class="btnRadio">
    <input type="radio"
           name="filterShippingCategory"
           value="<%= cat %>"
           id="<%= `filterShippingCategory${flatCat}` %>"
           <% if (ob.selected === cat) print('checked') %>>
    <label for="<%= `filterShippingCategory${flatCat}` %>"><%= cat %></label>
  </div>
</div>
<% }) %>

<% if (ob.categories.length > ob.maxInitiallyVisibleCats) { %>
<div class="js-moreCatsWrap moreCatsWrap <% if (ob.expanded) print('expanded') %>">
  <div class="moreCats">
    <%
      ob.categories.slice(ob.maxInitiallyVisibleCats - 1).forEach((cat, index) => {
        var flatCat = cat.replace(/\s/g, '-'); // remove spaces
    %>
    <div class="rowSm">
      <div class="btnRadio">
        <input type="radio"
               name="filterShippingCategory"
               value="<%= cat %>"
               id="<%= `filterShippingCategory${flatCat}` %>">
        <label for="<%= `filterShippingCategory${flatCat}` %>"><%= cat %></label>
      </div>
    </div>
    <% }) %>  
  </div>
  <a class="js-showMoreLess clrT tx6 txU showMore"><%= `${ob.categories.length - ob.maxInitiallyVisibleCats} more...` %></a>
  <a class="js-showMoreLess clrT tx6 txU showLess">Less</a>
</div>
<% } %>