<div class="flexRow gutterH">
  <div class="col4 gutterVMd">
    <div class="userCard js-userShort">
      <% print(ob.userShortTmp(ob)) %>
    </div>
    <% if(ob.moderator) { %>
    <div class="contentBox padMd2 clrBr clrP clrSh2 js-moderatorInfo">
      <div class="flexVBot gutterH rowLg snipKids">
        <div class="tx4 flexExpand"><strong><%= ob.polyT('userPage.moderator') %></strong></div>
        <div class="clrT2 tx5">
          <a class="link js-termsLink">
            <%= ob.polyT('userPage.termsOfService') %>
          </a>
        </div>
      </div>
      <div class="tx2 clrT2 txCtr rowMd"><%= ob.polyT('userPage.modFee', {modFee: 1.3}) %></div>
      <div class="flexHCent">
        <a class="btn clrP clrBr clrSh2 js-addModerator">
          <span class="js-addModeratorLbl <% if(ob.currentModerator) print('hide') %>">
            <%= ob.polyT('userPage.addModerator') %>
          </span>
          <span class="js-removeModeratorLbl <% if(!ob.currentModerator) print('hide') %>">
            <%= ob.polyT('userPage.removeModerator') %>
          </span>
        </a>
      </div>
    </div>
    <% } %>
    <div class="informationList listBox padMd2 clrBr clrP clrSh2">
      <div class="informationHeader">
        <strong><%= ob.polyT('userPage.information') %></strong>
      </div>
      <div class="listItem">
        <div class="flex">
          <span class="flexExpand">GUID</span>
          <span class="clrT hide js-guidCopied"><%= ob.polyT('userPage.guidCopied') %></span>
        </div>
        <div class="clrT2">
          <a class="js-guid clrT2" data-guid="<%= ob.id %>"><%= ob.id %></a>
        </div>
      </div>
      <% if(ob.website){ %>
        <div class="listItem">
          <div><%= ob.polyT('userPage.website') %></div>
          <a class="clrT2" href="<%= ob.website %>"><%= ob.website %></a>
        </div>
      <% } %>
      <% if(ob.email){ %>
        <div class="listItem">
          <div><%= ob.polyT('userPage.email') %></div>
          <div class="clrT2"><%= ob.email %></div>
        </div>
      <% } %>
      <% ob.social.forEach(function(account) { %>
        <div class="listItem">
          <div><%= ob.polyT('properNames[account.type]') %></div>
          <div class="clrT2"><%= account.username %></div>
        </div>
      <% }); %>
    </div>
  </div>
  <div class="col8">
    <div class="box">
      <div class="contentBox padMd clrBr clrP clrSh2">
        <div class="informationHeader row">
          <strong><%= ob.polyT('userPage.about') %></strong>
        </div>
        <% if (ob.about) { %>
          <%= ob.about %>
        <% }else{ %>
          <span class="clrT2"><i><%= ob.polyT('userPage.aboutEmpty') %></i></span>
        <% } %>
      </div>
      <div class="contentBox padMd2 clrBr clrP clrSh2 termsDisplay js-termsDisplay">
        <a class="cornerTR ion-close-round js-termsClose"></a>
        <p>Terms and Service Go Here TODO: add data to template</p>
        <div class="flexHRight">
          <a class="btnTxt js-termsClose"><span class="txUnb">Cancel</span></a>
          <a class="btn clrP clrBr js-addModerator">
            <span class="js-addModeratorLbl <% if(ob.currentModerator) print('hide') %>">
              <%= ob.polyT('userPage.addModerator') %>
            </span>
            <span class="js-removeModeratorLbl <% if(!ob.currentModerator) print('hide') %>">
              <%= ob.polyT('userPage.removeModerator') %>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
