<!-- <div class="txCtr padBg2 clrP clrSh2 clrBr tx4 contentBox">
  <% if (ob.listingsFiltered) { %>
    <p><%= ob.polyT('userPage.store.noFilteredListingsFound') %></p>
    <div class="btn clrP clrBr"><%= ob.polyT('userPage.store.btnClearSearch') %></div>
  <% } else { %>
    <p><%= ob.polyT('userPage.store.noListingsFound') %></p>
  <% } %>
</div> -->

<div class="txCtr padBg2 clrP clrSh2 clrBr tx4 contentBox">
  <p><%= ob.polyT('userPage.store.noFilteredListingsFound') %></p>
  <div class="btn clrP clrBr"><%= ob.polyT('userPage.store.btnClearSearch') %></div>
</div>