<div class="flexColRows gutterVLg">
  <div class="contentBox flexRow flexVCent gutterH pad clrP clrBr statsBox">
    <div class="col6 txCtr">
      <div class="repBg"><%= ob.formatRating(ob.average) %></div>
      <div class="tx2b"><%= ob.polyT('reputation.averageRating') %></div>
    </div>
    <div class="rowDivV clrBrBk"></div>
    <div class="col6 txCtr">
      <div class="repBg"><%= ob.count %></div>
      <div class="tx2b"><%= ob.polyT('reputation.totalReviews') %></div>
    </div>
  </div>
  <div class="js-reviews">
  </div>
</div>
