<div class="flexColRows gutterVLg">
  <div class="contentBox flexRow flexVCent gutterH pad clrP clrBr statsBox">
    <% if (!ob.isFetching) { %>
      <div class="col6 txCtr">
        <div class="repBg"><%= ob.formatRating(ob.average, '', true) %></div>
        <div class="tx2b"><%= ob.polyT('reputation.averageRating') %></div>
      </div>
      <div class="rowDivV clrBrBk"></div>
      <div class="col6 txCtr">
        <div class="repBg"><%= ob.count %></div>
        <div class="tx2b"><%= ob.polyT('reputation.totalReviews', {smart_count: ob.count}) %></div>
      </div>
    <% } else { %>
      <div class="flexHCent">
        <%= ob.spinner({ className: 'spinnerMd' }) %>
      </div>
    <% } %>
  </div>
  <% if (!ob.isFetching) { %>
    <div class="js-reviews"></div>
  <% } %>
</div>
