<nav id="pageTabBar" class="barLg clrP clrBr">
      <div class="flexVCent pageTabs">
        <div class="js-miniProfileContainer"></div>
        <div class="flexExpand">
          <div class="flexHRight flexVCent gutterH clrT2">
            <a class="btn tab clrBr js-tab" data-tab="home">Home</a>
            <a class="btn tab clrBr js-tab" data-tab="store">Store<span class="clrTEmph1 margLSm js-listingsCount"><%= ob.stats.listingCount %></span></a>
            <a class="btn tab clrBr js-tab" data-tab="following">Following<span class="clrTEmph1 margLSm js-followingCount"><%= ob.stats.followingCount %></span></a>
            <a class="btn tab clrBr js-tab" data-tab="followers">Followers<span class="clrTEmph1 margLSm js-followerCount"><%= ob.stats.followerCount %></span></a>
          </div>
        </div>
      </div>

</nav>
<div class="header js-header"
  <% var headerHash = ob.headerHashes ? ob.isHiRez() ? ob.headerHashes.large : ob.headerHashes.medium : ''; %>
  <% if (headerHash) { %>
    style="background-image: url(<%= ob.getServerUrl(`ipfs/${headerHash}`) %>), url('../imgs/defaultHeader.png')"
  <% } else { %>
    style="background-image: url('../imgs/defaultHeader.png')"
  <% } %>>
</div>
<div class="pageContent js-pageContent">
  <div class="pageControls flexVBase">
    <div class="flexExpand">
      <h1 class="txBg txUnb txUnl txGlow tabTitle js-tabTitle">
      </h1>
    </div>
    <div>
      <div class="btnStrip floR clrSh2">
        <% if(ob.ownPage) { %>
        <a class="btn clrP clrBr"><%= ob.polyT('userPage.customize') %></a>
        <a class="btn clrP clrBr">Example Button</a>
        <% } else { %>
        <a class="btn clrP clrBr js-messageBtn"><%= ob.polyT('userPage.message') %></a>
        <a class="btn clrP clrBr js-followBtn">
          <span class="js-unfollowLbl <% if(!ob.followed) print('hide') %>"><%= ob.polyT('userPage.unfollow') %></span>
          <span class="js-followLbl <% if(ob.followed) print('hide') %>"><%= ob.polyT('userPage.follow') %></span>
        </a>
        <% } %>
        <a class="btn clrP clrBr hide js-moreableBtn">Example Button</a>
        <a class="btn clrP clrBr hide js-moreableBtn">Example Button</a>
        <a class="iconBtn clrP clrBr js-moreBtn"><i class="ion-android-more-vertical"></i> </a>
      </div>
    </div>
  </div>
  <div class="tabContent js-tabContent">
    <!-- insert the tab subview here -->
  </div>
</div>
