<div class="userPageSearchBar flex gutterHSm">
  <div class="flexExpand">
    <div class="searchWrapper">
      <input type="text" class="ctrl searchInput clrP clrBr clrSh2"
             placeholder="<%= ob.polyT('userPage.searchStore', {storeName: ob.handle || ob.id}) %>">
    </div>
  </div>
  <div>
    <div class="btnStrip clrT2 clrSh2">
      <a class="iconBtn clrP clrBr"><i class="ion-android-apps"></i></a>
      <a class="btn btnThin clrP clrBr"><span class="txUnb tx6">950px</span></a>
    </div>
  </div>
</div>
