#chatContainer {
  // use for chat styles that only apply inside the chat sidebar

  .chatWrapper {
    justify-content: flex-start;
    padding: $padSm $padSm $padSm 0;
  }  
}

.chat {
  // use for chat styles that apply outside the chat sidebar

  .chatIcon {
    border-width: 2px;
    border-style: solid;
  }
}
