#chatCloseBtn {
  position: absolute;
  top: 65px;
  right: -220px;
  width: 40px;
  height: 40px;
  z-index: 3;
  border-radius: 0;
  font-size: $tx1;
  border-right-width: 0;
  border-bottom-width: 0;
  @include chatOpeningTransition(right);

  .chatOpen & {
    right: 1px;
  }
}

#chatContainer {
  // use for chat styles that only apply inside the chat sidebar

  .chatHead {
    &:first-child {
      margin-top: 5px;
    }
  }
}

.chat {
  // use for chat styles that apply outside the chat sidebar

  .chatIcon {
    border-width: 2px;
    border-style: solid;
    width: 38px;
    height: 38px;
  }
}
