.moderatorsList {
  .moderatorsWrapper {
    min-height: 175px;
    border-width: 1px;
    border-style: solid;

    &.noMin {
      min-height: 0;
    }

    .moderatorCard:last-child .moderatorCardSeperator {
      display: none;
    }
  }

  .moderatorsStatus {
    padding-top: $pad;
    text-align: center;
  }
}


