.notifications {
  h1 {
    font-size: $tx3b;
    padding: $pad $pad 0;
    margin-bottom: 5px;
  }

  .tabs {
    padding: 0;

    & > a {
      padding: $pad $padMd;
      text-decoration: none;
      font-size: $tx5;
      font-weight: bold;
      border-bottom-style: solid;
      border-bottom-color: transparent;
      position: relative;
      bottom: -2px;

      &.active, &:hover {
        border-bottom-width: 1px;
        border-bottom-color: inherit;
      }
    }
  }

  .notificationsList {
    border-width: 0;
    border-top-width: 1px;

    .notificationListItem {
      height: 80px;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      position: relative;

      .unreadBorder {
        position: absolute;
        display: none;
        width: 5px;
        top: 0;
        bottom: 0;
      }

      &.unread {
        .unreadBorder {
          display: block;
        }

        .notifMsg {
          font-weight: bold;
        }
      }

      &:last-child {
        border-width: 0;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
