.pageNav {
  -webkit-app-region: drag;

  .navBar {
    border-bottom-width: 1px;
    border-bottom-style: solid;

    .btn,
    .iconBtn {
      height: auto; //collapse the height of elements in the nav bar to leave draggable areas around them
      line-height: 1em;
    }

    .addressBar {
      font-size: $tx5;
      line-height: 1em; //allow dragging on area above and below the text input in the address bar
    }

    #AvatarBtn {
      margin: 5px 0;
      border: solid 2px #fff;
    }
  }

  a, input, .btn, .iconBtn {
    -webkit-app-region: no-drag;
  }

  &.notNavigable {
    .iconBtn,
    .addressBar,
    .navListBtn {
      @include disabled;
    }
  }

  input[type="text"] {
    height: auto;
    border: none;
  }

  .windowControls {
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: row;

    & > * {
      flex: 0 0 auto;
    }


    a {
      width: 12px;
      height: 12px;
      display: inline-block;
      position: relative;
    }
  }

  &.macStyleWindowControls {
    .windowControlsHolder {
      order: -1;
    }
    .windowControls {
      margin-right: 10px;

      a {
        border-radius: 50%;
        margin-right: 8px;
        box-sizing: border-box;

        &.navClose {
          background-color: #FF6059;
          border: solid 1px #EF5851;
        }

        &.navMin {
          background-color: #FFBD2E;
          border: solid 1px #F0B128;
        }

        &.navMax {
          background-color: #29C941;
          border: solid 1px #27BB3D;
        }

        i {
          visibility: hidden;
          font-size: 16px;
        }

        &:hover i {
         visibility: visible;
        }
      }
    }
  }

  &.winStyleWindowControls {
    .windowControlsHolder {
      order: 1000; //set to be the last item in the flex container
      padding-left: $pad;
    }
    .windowControls {

      a {
        margin-right: 8px;
        height: 30px;

        i {
          font-size: 30px;
          line-height:1em;
        }

        &.navMin {
          order: 1;
          height: 12px;
          border-bottom-width: 1px;
          border-bottom-style: solid;
        }

        &.navClose {
          order: 3;
        }

        &.navMax {
          border-width: 1px;
          border-style: solid;
          height: 12px;
          order: 2;
        }
      }
    }
  }

  .navList {
    box-sizing: border-box;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-width: 1px;
    border-style: solid;
    width: 260px;
    padding: $pad;
    z-index: 1;

    .listItem {
      display: flex;

      & > * {
        flex-shrink: 0;
        box-sizing: border-box;
        padding-right: $padSm;
        word-break: break-all;

        &:last-child {
          padding-right: 0;
        }

        &:first-child {
          // expand the first child to fill as much space as it can.
          // The second child (shortcut text) will be pushed to the right.
          flex-shrink: 1;
          flex-grow: 1;
        }
      }
    }
  }

  .navOverlay {
    display: none;
    position: fixed;
    z-index: 0;

    &.open {
      display: block;
    }
  }
}
