.pageNav {
  -webkit-app-region: drag;

  .navBar .btn,
  .navBar .iconBtn {
    height: auto; //collapse the height of elements in the nav bar to leave draggable areas around them
    line-height: 1em;
  }

  a, input, .btn, .iconBtn {
    -webkit-app-region: no-drag;
  }

  input {
    height: auto;
    border: none;
  }

  .windowControls {
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: row;

    & > * {
      flex: 0 0 auto;
    }


    a {
      width: 12px;
      height: 12px;
      display: inline-block;
      position: relative;
    }
  }

  &.macStyleWindowControls {
    .windowControlsHolder {
      order: -1;
    }
    .windowControls {
      margin-right: 10px;

      a {
        border-radius: 50%;
        margin-right: 5px;
        box-sizing: border-box;

        &.navClose {
          background-color: #E45A5A;
        }

        &.navMin {
          background-color: #F8E71C;
        }

        &.navMax {
          background-color: #B8E986;
        }

        i {
          visibility: hidden;
          font-size: 16px;
        }

        &:hover i {
         visibility: visible;
        }
      }
    }
  }

  &.winStyleWindowControls {
    .windowControlsHolder {
      order: 1000; //set to be the last item in the flex container
      padding-left: $pad;
    }
    .windowControls {

      a {
        margin-right: 8px;
        height: 30px;

        i {
          font-size: 30px;
          line-height:1em;
        }

        &.navMin {
          order: 1;
          height: 12px;
          border-bottom-width: 1px;
          border-bottom-style: solid;
        }

        &.navClose {
          order: 3;
        }

        &.navMax {
          border-width: 1px;
          border-style: solid;
          height: 12px;
          order: 2;
        }
      }
    }
  }

  .navList {
    width: 200px;
  }
}
