.pageNav {
  -webkit-app-region: drag;
  position: relative;

  .navBar {
    border-bottom-width: 1px;
    border-bottom-style: solid;

    .btn,
    .iconBtn {
      &:not(.normalBtn) {
        height: auto; //collapse the height of elements in the nav bar to leave draggable areas around them
        line-height: 1em;
      }

      &.navWalletBtn {
        padding: 0 10px;
      }
    }

    .barBtn {
      height: 28px;
      padding: 9px;
    }

    .iconPad {
      padding: 0 5px; 
    }

    .pageNavCenter  {
      flex-grow: 1;
      margin: auto $pad;
    }

    .discoverButton {
      background-repeat: no-repeat;
      background-size: 100% 100%;
      height: 34px;
      width: 34px;
    }

    .discoverCallout {
      font-size: $tx5;
      left: -117px;
      top: 52px;

      .modalOpen & {
        display: none;
      }
    }

    .addressBar {
      box-sizing: border-box;
      padding: $padSm $pad;
      border-width: 1px;
      border-style: solid;
      border-radius: $corner;
      transition: border-color .2s;
      font-size: $tx5;
      line-height: 1em; //allow dragging on area above and below the text input in the address bar
      text-indent: 18px;
    }

    .bookmarkPage {
      height: 31px;
      width: 34px;
    }

    #AvatarBtn {
      border-width: 2px;
      border-style: solid;
      margin: 5px 0 5px 5px;
    }

    #testnetFlag {
      font-size: $tx6;
      white-space: nowrap;
    }
  }

  a, input, .btn, .iconBtn {
    -webkit-app-region: no-drag;
  }

  &.notNavigable {
    .iconBtn,
    .addressBar,
    .navListBtn,
    .searchWrapper::after {
      @include disabled;
    }
  }

  .searchWrapper {
    .torIndicator {
      display: none;
      background-image: url(../../imgs/icon-tor.png);
      background-repeat: no-repeat;
      background-size: 13px auto;
      background-position: center;
      position: absolute;
      top: -2px;
      right: 7px;
      width: 16px;
      height: 100%;      
    }
  }

  &.torIndicatorOn {
    .searchWrapper {
      .torIndicator {
        display: block;
      }
    }
  }

  .windowControls {
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: row;

    & > * {
      flex: 0 0 auto;
    }

    a {
      width: 12px;
      height: 12px;
      display: inline-block;
      position: relative;
    }
  }

  &.macStyleWindowControls {
    .windowControlsHolder {
      order: -1;
    }
    .windowControls {

      a {
        border-radius: 50%;
        color: #000;
        text-align: center;
        margin-right: 8px;
        box-sizing: border-box;

        &.navClose {
          background-color: #FF6058;
          border: solid 1px #E1473F;
        }

        &.navMin {
          background-color: #FFBD2E;
          border: solid 1px #E0A117;
        }

        &.navMax {
          background-color: #29CB41;
          border: solid 1px #13AD29;
          margin-right: 0;
        }

        span {
          visibility: hidden;
          font-size: 10px;
        }
      }

      &:hover span {
        visibility: visible;
      }
    }
  }

  &.winStyleWindowControls {
    .windowControlsHolder {
      order: 1000; //set to be the last item in the flex container
      padding-left: $pad;
    }
    .windowControls {

      a {
        margin-right: 8px;
        height: 30px;

        span {
          font-size: 30px;
          line-height:1em;
        }

        &.navMin {
          order: 1;
          height: 12px;
          border-bottom-width: 1px;
          border-bottom-style: solid;

          span {
            visibility: hidden;
          }
        }

        &.navClose {
          order: 3;
        }

        &.navMax {
          border-width: 1px;
          border-style: solid;
          height: 12px;
          order: 2;

          span {
            visibility: hidden;
          }
        }
      }
    }
  }

  .notifContainer {
    z-index: 2;
    width: 420px;
    right: 40px;
    padding: 0 $pad $pad;
  }  

  .navListWrapper {
    z-index: 2;
    padding: 0 $pad $pad 1px; // give room for border and shadow -
                              // the left padding needs to be low
                              // to allow the mouse over / out of
                              // the Connected Server list item to
                              // work properly. 
    right: -$pad; // compensate for padding

    .navList {
      box-sizing: border-box;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-width: 1px;
      border-style: solid;
      width: 235px;
      padding: $pad;

      .listItem {
        display: flex;

        & > * {
          flex-shrink: 0;
          box-sizing: border-box;
          padding-right: $padSm;
          word-break: break-all;

          &:last-child {
            padding-right: 0;
          }

          &:first-child {
            // expand the first child to fill as much space as it can.
            // The second child (shortcut text) will be pushed to the right.
            flex-shrink: 1;
            flex-grow: 1;
          }
        }

        &.connectedServerListItem {
          position: relative;

          &::after {
            // This is needed so as the cursor goes into the padding
            // outside of the list item, it doesn't trigger a mouseleave
            // event and therefore close the server list menu.
            content: '';
            position: absolute;
            top: 0;
            left: -10px;
            bottom: 0;
            width: 11px;
          }
        }
      }
    }
  }

  .connManagementContainer {
    z-index: 1;
    width: 233px;
    right: 234px;

    .listBox {
      padding: $pad;

      .listItem {
        display: flex;
      }

      .serverList {
        .listItem {        
          & > span {
            padding-left: 15px;
            position: relative;

            .connectedIcon {
              position: absolute;
              top: -5px;
              left: 0;
            }
          }
        }
      }
    }
  }  

  .navOverlay {
    display: none;
    position: fixed;
    z-index: 0;

    &.open {
      display: block;
    }
  }
}
