.search {
  // this is a temporary style to fill the space that will be filled by the tab bar
  position: relative;
  top: -30px;
  min-height:710px;

  .loadingSearch {
    position: absolute;
    z-index: 1;
    top: 0;
  }

  .searchBar {
    display: flex;
    align-items: center;
    position: relative;

    .searchLogo {
      position: absolute;
      left: 8px;
      height: 26px;
      width: 26px;

      img {
        height: 26px;
        width: 26px;
      }

      &.loadError {
        // if the logo fails to load, hide it and show the default
        background-image: url(../../imgs/emojis/72X72/1f50d.png);
        background-repeat: no-repeat;
        background-size: 16px 16px;
        background-position: center;

        img {
          display: none;
        }
      }
    }

    .searchInput {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right-width: 0;

      &:focus {
        border-right-width: 1px;
      }

      &.withLogo {
        text-indent: 30px;
      }
    }

    .searchBtn {
      padding: 0 $padLg;
      line-height: 40px;
      font-size: 1.4rem;
      height: auto;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .filterWrapper {
    padding-right: 5px;

    label {
      line-height: 2em;
      min-height: 2em;
    }

    .select2 {
      margin-top: 12px;
    }
  }

  .searchResults {

    .listingsGrid {
      min-height: 298px;
    }

    .loadingSearch {
      display: none;
    }

    &.loading .loadingSearch {
      display: flex;

      .spinner {
        position: absolute;
        top: 150px;
      }

      .listingsGrid {
        display: none;
      }
    }
  }
}
