.userCard {
  font-size: $tx5;

  &:focus {
    outline: none;
  }

  .shortHeader {
    height: 101px;
    position: relative;
    margin-bottom: 9px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .userControls {
      position: absolute;
      bottom: 8px;
      right: 10px;

      .iconBtn:not(.active) i {
        opacity: 0.5;
      }
    }

    .verifiedMod {
      position: absolute;
      right: $padSm;
      top: $padSm;

      .badgeText {
        display: none;
      }

      .tooltipWrapper {
        position: absolute;
        width: 100%;
        height: 100%;

        .arrowBoxWrapper {
          height: $thumbTn;
          width: $thumbTn;

          .arrowBox {
            top: 36px; // height of the badge + height of the arrowtip
          }
        }
      }
    }

    .blockedOverlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: none;

      & > * {
        // don't let long translations go under the avatar
        max-width: 180px;
      }
    }

    .userIconWrap {
      position: absolute;
      bottom: 8px;
      left: 10px;

      .userIcon {
        border-width: 2px;
        border-style: solid;
      }

      .blockedAvatarOverlay {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
      }

      .userIcon, .blockedAvatarOverlay {
        width: 50px;
        height: 50px;
      }
    }
  }

  .content {
    padding: 0 $padMd2 $padMd2 $padMd2;
    height: 112px;
    box-sizing: border-box;
    word-wrap: break-word;

    .contentTop {
      height: 86px;
    }
  }

  &.isBlocked {
    .blockedOverlay {
      display: flex;
    }

    .shortHeader {
      .userIconWrap {
        .blockedAvatarOverlay {
          display: block;
        }
      }
    }
  }
}
