.userShort {
  font-size: $tx5;

  .shortHeader {
    height: 101px;
    position: relative;
    margin-bottom: 9px;
    background-repeat: no-repeat;
    background-size: cover;

    .userIcon {
      position: absolute;
      bottom: 8px;
      left: 10px;
      border-width: 2px;
      border-style: solid;
      width: 50px;
      height: 50px;
    }

    .userControls {
      position: absolute;
      bottom: 8px;
      right: 10px;

      .iconBtn:not(.active) i {
        opacity: 0.5;
      }
    }
  }

  .content {
    padding: 0 $padMd2 $padMd2 $padMd2;
    height: 112px;
    box-sizing: border-box;

    .contentTop {
      height: 86px;

      .name {
        flex: 1 0 auto;
        max-width: 50%;
      }
    }
  }
}
