<div class="padLg flexVCent">
  <div class="backToSummaryWrap">
    <a class="js-backToSummary clrTEm txU"><%= ob.polyT(`orderDetail.backToSummary`) %></a>
  </div>
  <div class="txCtr txB tx3 flexExpand"><%= ob.polyT(`orderDetail.fulfillOrderTab.heading`) %></div>
</div>
<hr class="clrBr rowMd" />
<form class="padKids padStack pad clrP clrBr js-fulfillForm">
  <% if (ob.contractType === 'PHYSICAL_GOOD' && !ob.isLocalPickup) { %>
  <div class="flexRow gutterH">
    <div class="col3">
      <label for="fulfillOrderShippingCarrier" class="required"><%= ob.polyT(`orderDetail.fulfillOrderTab.shippingCarrierLabel`) %></label>
    </div>
    <div class="col7">
      <% if (ob.errors['physicalDelivery.shipper']) print(ob.formErrorTmpl({ errors: ob.errors['physicalDelivery.shipper'] })) %>
      <input type="text" class="clrBr clrSh2" name="physicalDelivery.shipper" id="fulfillOrderShippingCarrier" value="<%= ob.physicalDelivery.shipper %>" placeholder="<%= ob.polyT(`orderDetail.fulfillOrderTab.shippingCarrierPlaceholder`) %>" />
    </div>
  </div>
  <div class="flexRow gutterH">
    <div class="col3">
      <label for="fulfillOrderTrackingNumber"><%= ob.polyT(`orderDetail.fulfillOrderTab.trackingLabel`) %></label>
    </div>
    <div class="col7">
      <% if (ob.errors['physicalDelivery.trackingNumber']) print(ob.formErrorTmpl({ errors: ob.errors['physicalDelivery.trackingNumber'] })) %>
      <input type="text" class="clrBr clrSh2" name="physicalDelivery.trackingNumber" id="fulfillOrderTrackingNumber" value="<%= ob.physicalDelivery.trackingNumber %>" placeholder="<%= ob.polyT(`orderDetail.fulfillOrderTab.trackingPlaceholder`) %>" />
    </div>
  </div>
  <% } else if (ob.contractType === 'DIGITAL_GOOD') { %>
  <div class="flexRow gutterH">
    <div class="col3">
      <label for="fulfillOrderFileUrl" class="required"><%= ob.polyT(`orderDetail.fulfillOrderTab.fileUrlLabel`) %></label>
    </div>
    <div class="col7">
      <% if (ob.errors['digitalDelivery.url']) print(ob.formErrorTmpl({ errors: ob.errors['digitalDelivery.url'] })) %>
      <input type="text" class="clrBr clrSh2" name="digitalDelivery.url" id="fulfillOrderFileUrl" value="<%= ob.digitalDelivery.url %>" placeholder="<%= ob.polyT(`orderDetail.fulfillOrderTab.fileUrlPlaceholder`) %>" />
    </div>
  </div>
  <div class="flexRow gutterH">
    <div class="col3">
      <label for="fulfillOrderPassword"><%= ob.polyT(`orderDetail.fulfillOrderTab.passwordLabel`) %></label>
    </div>
    <div class="col7">
      <% if (ob.errors['digitalDelivery.password']) print(ob.formErrorTmpl({ errors: ob.errors['digitalDelivery.password'] })) %>
      <input type="text" class="clrBr clrSh2" name="digitalDelivery.password" id="fulfillOrderPassword" value="<%= ob.digitalDelivery.password %>" placeholder="<%= ob.polyT(`orderDetail.fulfillOrderTab.passwordPlaceholder`) %>" />
    </div>
  </div>
  <% } else if (ob.contractType === 'CRYPTOCURRENCY') { %>
  <div class="flexRow gutterH">
    <div class="col3">
      <label for="fulfillOrderTransactionId" class="required"><%= ob.polyT(`orderDetail.fulfillOrderTab.transactionIdLabel`) %></label>
    </div>
    <div class="col7">
      <% if (ob.errors['cryptocurrencyDelivery.transactionID']) print(ob.formErrorTmpl({ errors: ob.errors['cryptocurrencyDelivery.transactionID'] })) %>
      <input type="text" class="clrBr clrSh2" name="cryptocurrencyDelivery.transactionID" id="fulfillOrderTransactionId" value="<%= ob.cryptocurrencyDelivery.transactionID %>" placeholder="<%= ob.polyT(`orderDetail.fulfillOrderTab.transactionIdPlaceholder`) %>" maxlength="<%= ob.constraints.transactionIDLength %>" />
    </div>
  </div>  
  <% } %>
  <div class="flexRow gutterH rowHg">
    <div class="col3">
      <label for="fulfillOrderNote"><%= ob.polyT(`orderDetail.fulfillOrderTab.noteLabel`) %></label>
    </div>
    <div class="col7">
      <% if (ob.errors['note']) print(ob.formErrorTmpl({ errors: ob.errors['note'] })) %>
    <textarea rows="6" name="note" class="clrBr clrP clrSh2 <% if (ob.contractType === 'DIGITAL_GOOD') print('rowSm') %>" id="fulfillOrderNote" placeholder="<%= ob.polyT(`orderDetail.fulfillOrderTab.notePlaceholder`) %>"><%= ob.note %></textarea>
    <% if (ob.contractType === 'DIGITAL_GOOD') { %>
    <div class="clrT2 txSm"><%= ob.polyT(`orderDetail.fulfillOrderTab.noteHelperTextDigital`) %></div>
    <% } %>
    </div>
  </div>
</form>
<hr class="clrBr" />
<div class="buttonBar flexHRight flexVCent gutterHLg">
  <a class="js-cancel <% if (ob.fulfillingOrder) print('disabled') %>"><%= ob.polyT(`orderDetail.fulfillOrderTab.btnCancel`) %></a>
  <%= ob.processingButton({
    className: `btn clrBAttGrad clrBrDec1 clrTOnEmph js-submit ${ob.fulfillingOrder ? 'processing' : ''}`,
    btnText: ob.polyT(`orderDetail.fulfillOrderTab.btnSubmit`),
  }) %>
</div>
