<div class="topControls flex js-closeClickTarget">
  <!-- will include BTC price widget -->
</div>
<div class="flex gutterH js-closeClickTarget">
  <div class="tabColumn contentBox padMd clrP clrBr clrSh3">
    <h1 class="h3 txUp clrT2"><%= ob.polyT('about.menu.sectionHeader') %></h1>
    <div class="boxList tx4 clrTx1Br">
      <a class="js-tab tab clrT row active" data-tab="Story"><%= ob.polyT('about.storyTab.linkText') %></a>
      <a class="js-tab tab row" data-tab="Contributors"><%= ob.polyT('about.contributorsTab.linkText') %></a>
      <a class="js-tab tab row" data-tab="Donations"><%= ob.polyT('about.donationsTab.linkText') %></a>
      <a class="js-tab tab row" data-tab="License"><%= ob.polyT('about.licenseTab.linkText') %></a>
    </div>
  </div>
  <div class="flexExpand posR">
    <div class="js-tabContent tabContent"></div>
  </div>
</div>
