<% const serverCur = ob.currencyMod.getServerCurrency().code %>
<div class="flex padGi">
  <img class="flexNoShrink" src="<%= ob.qrCodeDataURI %>">
  <div id=donation-dashboard class="padMd flexCol">
    <div class="padMd">
      <h2 class="tx2b">
        <%= ob.polyT('about.donationsTab.bannerCountDonations', { donationCountFloor: ob.donationCountFloor }) %>
      </h2>
      <div class="clrT2 donationAddress posR">
        <% if (serverCur !== 'BTC') { %>
          <p><%= ob.polyT('about.donationsTab.bitcoinIntroLine') %></p>
        <% } %>
        <p class="js-copyAddress rowSm"><%= ob.obDonationAddress %></p>
        <% if (serverCur !== 'BTC') { %>
          <p class="clrTErr txUnl"><i class="ion-alert-circled"></i> <%= ob.polyT('about.donationsTab.bchWarning') %></p>
        <% } %>
        <div class="js-copyNotification copyNotification clrT clrBr clrP">
          <%= ob.polyT('copiedToClipboardShort') %>
        </div>
      </div>

    </div>
    <div class="padMd">
      <a class="btn clrP clrBr js-copyAddress flexNoShrink">
        <%= ob.polyT('about.donationsTab.btnCopyAddress') %>
      </a>
      <a class="btn clrP clrBr js-openInWallet flexNoShrink">
        <%= ob.polyT('about.donationsTab.btnOpenInWallet') %>
      </a>
    </div>
  </div>
</div>
<hr class="clrBr" />
<div class="padLg">
  <p class="txCtr">
    <%= ob.polyT('about.blurbs.tradeFree') %>
  </p>
</div>
