<div class="contentBox padMd clrP clrBr clrSh3">
  <div class="flexSpaceBetween">
    <div class="flexRow flex0">
      <div>
        <img src=ob1>
      </div>
      <div>
        <div><%= ob.polyT('about._brand') %></div>
        <div class="flexRow">
          <img src=1>
          <img src=2>
          <img src=3>
        </div>
      </div>
    </div>
    <h2 class="h3 clrT"><%= ob.polyT('about.licenseTab._sectionHeader') %></h2>
    <div class="txtRight">
      <div>version</div>
      <a class="btn clrP clrBr js-copyAddress flexNoShrink">
        <%= ob.polyT('about.btnUpdateCheck') %>
      </a>
    </div>
  </div>
  <hr class="clrBr" />
  <h3><%= ob.polyT('about.licenseTab.header') %></h3>
  <h4><%= ob.polyT('about.licenseTab.copyright') %></h4>
  <p>
    <%= ob.polyT('about.licenseTab.paragraphs.permission') %>
  </p>
  <p>
    <%= ob.polyT('about.licenseTab.paragraphs.inclusion') %>
  </p>
  <p>
    <%= ob.polyT('about.licenseTab.paragraphs.indemnity') %>
  </p>
  <hr class="clrBr" />
</div>
