<div class="contentBox padMd clrP clrBr clrSh3">
  <div class="flexSpaceBetween">
    <div class="flexRow flex0">
      <div class="brandSmall" style="background-image: url('../imgs/obVectorIcon.svg');"></div>
      <div>
        <div><%= ob.polyT('about._brand') %></div>
        <div class="flexRow">
          <img src=1>
          <img src=2>
          <img src=3>
        </div>
      </div>
    </div>
    <h2 class="h3 clrT"><%= ob.polyT('about.storyTab._sectionHeader') %></h2>
    <div class="txtRight">
      <div><%= ob.polyT('about.version') %> <%= ob.polyT('about.versionCode') %></div>
      <a class="btn clrP clrBr js-copyAddress flexNoShrink">
        <%= ob.polyT('about.btnUpdateCheck') %>
      </a>
    </div>
  </div>
  <hr class="clrBr" />
  <div class="padMd">
    <h3><%= ob.polyT('about.storyTab._linkText') %></h3>
    <p>
      <%= ob.polyT('about.storyTab.paragraphs.beginning') %>
    </p>
    <p>
      <%= ob.polyT('about.storyTab.paragraphs.middle') %>
    </p>
    <p>
      <%= ob.polyT('about.storyTab.paragraphs.end') %>
    </p>
    <hr class="clrBr" />
  </div>
</div>
