<div class="padMd">
  <h3><%= ob.polyT('about.storyTab.linkText') %></h3>
  <p>
    <%= ob.polyT('about.storyTab.paragraphs.taakisDarkMarket') %>
  </p>
  <p>
    <%= ob.polyT('about.storyTab.paragraphs.briansOpenBazaar') %>
  </p>
  <p>
    <%= ob.polyT('about.storyTab.paragraphs.alphaTeamalphaRelease') %>
  </p>
  <p>
    <%= ob.polyT('about.storyTab.paragraphs.momentOfTruth') %>
  </p>
  <p>
    <%= ob.polyT('about.storyTab.paragraphs.foundedAndFunded') %>
  </p>
  <p>
    <%= ob.polyT('about.storyTab.paragraphs.marketOpening') %>
  </p>
  <p>
    <%= ob.polyT('about.storyTab.paragraphs.toInfinityAndBeyond') %>
  </p>
  <p>
    <a class="clrTEm" href=https://blockchain.info/address/3MXYUBLWNETa5HTewZp1xMTt7AW9kbFNqs>
      <%= ob.polyT('about.storyTab.paragraphs.cashCTA') %>
    </a>
    <%= ob.polyT('about.storyTab.paragraphs.or') %>
    <a class="clrTEm" href=https://github.com/OpenBazaar>
      <%= ob.polyT('about.storyTab.paragraphs.codeCTA') %>
    </a>
  </p>
</div>
