html {
  // fonts
  color: $text;
  font: {
    family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    size: $baseFontSize;
    weight: 400;
  }
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.4px;
  line-height: 1.2;
}

body {
  background-color: $background;
  overflow: hidden;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  -webkit-user-drag: none;
  transition: color .15s  cubic-bezier(0, 0, 0.2, 1);

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

hr {
  border: none;
  border-bottom: 1px solid;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;

  &.unleaded {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
  }
}

ul {
  margin: 0;
}

input::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: $text3;
}

input,
select,
textarea {
  border: none;
  outline: none;
}

textarea {
  background: none;
  outline: none;
  -webkit-appearance: none;
  width: 100%;
  resize: none;
  box-sizing: border-box;
  border: 1px solid transparent;
  transition: border 0.3s;
}

textarea:focus {
  border: 1px solid #fff;
  outline: none;
}

form {
  margin: 0;
}

ul, ol {
  &.unstyled {
    padding: 0;
    
    li {
      list-style-type: none;
    }  
  }
}

#ov1 .hide {
  display: none;
}

// index containers and sections
#pageNavContainer {
  position: relative;
  z-index: 2;
}

#contentArea {
  position: relative;
  z-index: 1;
}

#pageContainer {
  padding: 25px;
  position: relative;  
}

#chatContainer {
  position: fixed;
  top: 100px;
  right: 0;
  width: $chatClosed;
  z-index: 1; // chat needs to be on top of modals
  background-color: rgba(255, 255, 255, 0.6);
  @include chatOpeningTransition(width);

  .chatOpen & {
    width: $chatOpen;
  }
}
