html {
  // fonts
  color: $text;
  font: {
    family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    size: $baseFontSize;
    weight: 400;
  }
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.4px;
  line-height: 1.2;
}

body {
  background-color: $background;
  overflow: hidden;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  -webkit-user-drag: none;
  transition: color .15s  cubic-bezier(0, 0, 0.2, 1);
  color: inherit;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &.link {
    text-decoration: underline;
  }
}

hr {
  border: none;
  border-bottom: 1px solid;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;

  &.unleaded {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
  }
}

ul {
  margin: 0;
}

input::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.35;
}


input,
select,
textarea {
  border: none;
  outline: none;
  background: none;
  color: inherit;
}

select {
  width: 100%;
}

input[type="text"],
textarea {
  border-style: solid;
  border-width: 1px;
  //use the color class to set the border color
  width: 100%;
  box-sizing: border-box;
  padding: 0 $pad;
  line-height: 40px;
}

textarea {
  background: none;
  outline: none;
  -webkit-appearance: none;
  resize: none;
  line-height: 1.2em;
  padding: $pad;
}

form {
  margin: 0;
  font-size: $tx5;

  label {
    line-height: $formElementHeight;
  }
}

ul, ol {
  &.unstyled {
    padding: 0;

    li {
      list-style-type: none;
    }
  }
}

.bkgContain {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 0;
}

.bkgCover {
  background-size: cover;
  background-repeat: no-repeat;
}

.banner {
  //create a fixed banner in the background
  background-position: center top;
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 100%;
  top: $bar + $barLg;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none; // requires or it prevents scroll events over it
}

#ov1 .hide {
  display: none;
}

#ov1 .disabled {
  @include disabled;
}

#appFrame {
  position: absolute;
  height: 100%;
  width: 100%;

  // index containers and sections
  #pageNavContainer {
    position: relative;
    z-index: 3;
  }

  #contentFrame {
    position: relative;
    top: $barLg;
    overflow-y: scroll;
    height: calc(100% - #{$bar} - #{$barLg});
    box-sizing: border-box;

    #pageTabBar {
      position: fixed;
      top: $bar;
      left: 0;
      z-index: 1;
      width: 100%;
      height: $barLg;
      border-bottom-width: 1px;
      border-bottom-style: solid;

      .pageTabs {
        max-width: $pageWidth;
        margin: 0 auto;

        .userIcon {
          border-width: 2px;
          border-style: solid;
          width: 44px;
          height: 44px;
          margin-right: $pad;
        }

        .tab {
          box-sizing: content-box;
          font-size: $tx4;

          &.active {
            border-bottom-width: 1px;
            border-bottom-style: solid;
          }
        }
      }
    }

    #pageContainer {

      .pageContent {
        width: $pageWidth + $padLg + $padLg;
        box-sizing: border-box;
        margin: 0 calc((100% - #{$pageWidth + $padLg + $padLg}) / 2) 0 auto;
        padding: 0 $padLg $bar $padLg;
        position: relative;
        @include chatOpeningTransition(margin);

        @include alignToChat {

          .chatOpen & {
            margin-right: $chatOpen;
          }
        }
      }
    }
  }

  #chatContainer {
    position: fixed;
    top: 105px;
    right: 0;
    width: $chatClosed;
    height: calc(100% - 100px);
    z-index: 2; // chat needs to be on top of modals
    @include chatOpeningTransition(width);

    .chatOpen & {
      width: $chatOpen;
    }
  }
}

// turn off animations and transitions with this style

#ov1.minEffects,
#ov1.minEffects *,
#ov1.minEffects #overlay,
#ov1.minEffects #pageNav,
#ov1.minEffects #statusBar {
  transition: none !important;
  -webkit-filter: none !important;
  opacity: 1 !important;
  transition-property: none !important;
  animation: none !important;
  box-shadow: none !important;
  text-shadow: none !important;
}

