html {
  // fonts
  color: $text;
  font: {
    family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    size: $baseFontSize;
    weight: 400;
  }
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.4px;
  line-height: 1.2;
}

body {
  background-color: $background;
  overflow: hidden;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  -webkit-user-drag: none;
  transition: color .15s  cubic-bezier(0, 0, 0.2, 1);

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

hr {
  border: none;
  border-bottom: 1px solid;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;

  &.unleaded {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
  }
}

ul {
  margin: 0;
}

input::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: $text3;
}

input,
select,
textarea {
  border: none;
  outline: none;
  background: none;
}

select {
  width: 100%;
}

textarea {
  background: none;
  outline: none;
  -webkit-appearance: none;
  resize: none;
}

input[type="text"],
textarea {
  border-style: solid;
  border-width: 1px;
  //use the color class to set the border color
  width: 100%;
  box-sizing: border-box;
  padding: $pad;
}

form {
  margin: 0;
  font-size: $tx5;

  label {
    line-height: $formElementHeight;
  }
}

ul, ol {
  &.unstyled {
    padding: 0;

    li {
      list-style-type: none;
    }
  }
}

#ov1 .hide {
  display: none;
}

#ov1 .disabled {
  @include disabled;
}

#appFrame {
  position: absolute;
  height: 100%;
  width: 100%;
}

#contentFrame {
  height: 100%;
}

// index containers and sections
#pageNavContainer {
  position: relative;
  z-index: 2;
}


#pageContainer {
  padding: 25px;
  position: relative;
  overflow-y: scroll;
  height: calc(100% - #{$bar});
  box-sizing: border-box;
}

#chatContainer {
  position: fixed;
  top: 100px;
  right: 0;
  width: $chatClosed;
  height: calc(100% - 100px);
  z-index: 1; // chat needs to be on top of modals
  @include chatOpeningTransition(width);

  .chatOpen & {
    width: $chatOpen;
  }
}
