// https://css-tricks.com/snippets/sass/centering-mixin/
@mixin center($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

@mixin chatOpeningTransition($property) {
  transition: $property 0.5s ease;
}

@mixin disabled {
  pointer-events: none;
  opacity: 0.2;
}

@mixin shad1 {
  box-shadow: 0 1px 2px adjust-color($primary, $lightness: -61%, $alpha: -0.5%);
}

@mixin shad2 {
  box-shadow: 0 1px 0 adjust-color($primary, $lightness: -5%);
}
