// https://css-tricks.com/snippets/sass/centering-mixin/
@mixin center($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

@mixin chatOpeningTransition($property) {
  transition: $property 0.5s ease;
}

@mixin disabled {
  pointer-events: none;
  opacity: 0.2;
}

// todo: refactor this style once we have designs
@mixin processingOverlay {
  position: relative;

  &::after {
    content: 'Processing...';
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 14px;
    cursor: default;
    border-radius: inherit;
  }
}
