// theme color styles. All elements that have a background color should have one of these applied.
// The text class will be applied to the body element, if text is colored differently, apply it to the nearest
// parent container.

.clrP {
  background-color: $primary;
}

.clrS {
  background-color: $secondary;
}

.clrBk {
  background-color: $background;
}

.clrT {
  color: $text;

  & a:not(.btn, .iconBtn) {
    color: $text2;
  }
}

.clrT2 {
  //for faded text
  color: $text2;

  & a:not(.btn, .iconBtn) {
    color: $text3;
  }
}

.clrT3 {
  //use when text2 needs to be "activated"
  color: $text3;

  //links in text color 3 are the same color, or they'd be too hard to see
}

.clrBr {
  border-color: $border;

  hr {
    border-color: $border;
  }
}

.clrBrBk {
  background-color: $border;
}

.clrTx1Br {
  border-color: $text;
}

.clrE1 {
  background-color: $emphasis1;
}

.clrO {
  //overlay color
  background-color: $overlay;
}
