// colors
$primary: hsl(0,0%,100%);
$secondary: adjust-color($primary, $lightness: -4%);

$text: hsl(0,0,14.8);
$text2: adjust-color($text, $lightness: +43.2%);
$text3: adjust-color($text, $lightness: +59%);
$text4: adjust-color($text, $lightness: +65%);
$textOnEmph: rgb(255, 255, 255);

$border: adjust-color($primary, $lightness: -14%);
$border2: adjust-color($primary, $lightness: 100%);
$border3: adjust-color($text, $lightness: 35%);

$emphasis1: rgb(253,166,57);
$emphasis2: rgb(174, 138, 88);

$error: red; // TODO: set this to a better color that matches the base theme

$overlay: adjust-color($secondary, $alpha: -0.1);

// typography
$baseFontSize: 10px;
$txBg: 5rem;
$tx1: 2.6rem;
$tx2: 2.3rem;
$tx3: 1.7rem;
$tx4: 1.5rem;
$tx5: 1.4rem;
$tx5b: 1.3rem;
$tx6: 1.2rem;

$formElementHeight: 4rem;

// layout
$pad: 10px;
$padTn: $pad / 4;
$padSm: $pad / 2;
$padMd: $pad * 1.5;
$padMd2: $pad * 1.2;
$padLg: $pad * 2;
$padHg: $pad * 2.5;
$marg: 10px;
$chatClosed: 70px; //fake number
$chatOpen: 200px; //fake number
$pageWidth: 950px;

// controls
$corner: 2px;
$bar: 50px;
$barSm: 40px;
$barLg: 55px;

//responsive
$largeWidth: 1500px;
$smallHeight: 700px;


